@font-face {
	font-family: 'roboto';
	src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: 'playfairdisplay';
	src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
	font-family: 'merriweather';
	src: url(../fonts/Merriweather-Regular.ttf);
}

body, a, p, span, h1, h2, h3, h4, h5, li, strong{
	font-family: 'roboto';
	line-height: 130%;
}
a:hover,
a:active{
	text-decoration: none !important;
	text-shadow: none !important;
	box-shadow: none !important;
}
.f12{
	font-size: 12px !important;
}



/*----- Header -----*/
.nav-mobile{
	display: none;
}
.logo-top{
	padding: 10px 0;
}
.header-conent01{
	position: relative;
	overflow: hidden;
}
.bnr-img{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	z-index: -1;
}
@media(max-width: 767px){
	.logo-top{
		max-width: 60%;
	}
}

.nav_top{
	background-color: #33cc99;
	width: 100%;
}

.nav_top nav li{
	float: left;
	position: relative;
}
.nav_top nav li a{
	color: #fff;
	padding: 12px 10px 8px 10px;
	text-transform: uppercase;
	font-size: 15px;
	display: block;
}
.nav_top nav > ul > li.active,
.nav_top nav > ul > li a:hover{
	background-color: #2fbc8d;
	color: #fff !important;
}
.nav_top nav li:nth-child(1) a{
	padding: 8px 10px;
}
.nav_top nav li ul{
	position: absolute;
    z-index: 10;
    top: 37px;
    width: 250px;
    background-color: #33cc99;
    display: none;
}
.nav_top nav li:hover ul{
	display: block;
}
.nav_top::after{
	content: '';
	display: block;
	clear: both;
}
.nav-right li{
	float: left;
}
.nav-right li > a{
	padding: 10px 5px;
	display: block;
}
.nav-right li:last-child > a{
	padding-right: 0;
}
.search-box{
	position: relative;
	margin: 10px 5px;
}
.nav_top nav li li{
	display: block;
	width: 100%;
	border-top: 1px solid #6cdb9d;
    border-bottom: 1px solid #52b593;;
}
.nav_top nav li li:hover{
	background-color: #2fbc8d;
}
.nav_top nav li li:hover a{
	color: #fff !important;
}
.search-icon{
	font-size: 0;
	width: 12px;
	height: 12px;
	background:url(../images/icon-search.png) no-repeat center center;
	border:none;
	position: absolute;
	top:20%;
	right:7px;
}
.search-box input{
	width: 115px;
	height: 18px;
	border:none;
	border-radius: 30px;
	font-size: 12px;
}
.ico-menu{
	position: absolute;
    top: 3vw;
    right: 15px;
}
.mm-title{
	display: none;
}
.mm-menu{
	background:#33cc99 !important;
}
.mm-list > li > a{
    color: #fff !important;
    text-transform: uppercase;
}
@media(max-width: 1170px){
	.nav-right{
		display: none;
	}
}
@media (max-width: 1024px) {
	.nav_top{
		display: none !important;
	}
	.nav-mobile {
		display: block;
	}
}
@media(max-width: 991px){
	.ico-menu{
		top:4vw;
	}
}

.tool p{
	font-size: 12px;
	color: #cccccc;
}
.newsbig img{
	width: 100%;
}
.newsbig h2{
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 0;
}
.newsbig h2 a{
	color: #000;
}
.newsdate{
	font-size: 11px;
	color: #999999;
	display: block;
}
.title-cm01{
	border-bottom: 1px solid #ffde8c;
	padding-bottom: 5px;
}
.title-cm01:before{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffde8c;
    display: inline-block;
    margin: 0 10px 0 10px;
}
.title-cm01 a{
	font-family: 'playfairdisplay';
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;	
	color: #000;
	display: inline-block;
}
.btn-viewmore{
	width: 100%;
    display: flex;
    align-items: baseline;
    color: #999999;
    text-transform: uppercase;
}
.btn-viewmore span{
	color: #33cc99;
	margin-left: 5px;
	font-weight: 500;
}
.btn-viewmore:before{
	    content: "";
    border-top: 1px solid #33cc99;
    margin-right: 10px;
    flex: 1;
    align-items: flex-end;
    vertical-align: bottom;
    justify-content: flex-end;
}
/*--- New list cm ---*/
.newslist li{
	/*background:url(../images/icon-list.png) no-repeat left 5px;*/
	padding-left: 20px;
	margin-top: 15px;
	font-size: 15px;
}
.newslist li:before{
	content: "";
    width: 8px;
    height: 8px;
    background: url(../images/icon-list.png) no-repeat left center;
    background-size: 100%;
    display: block;
    margin-left: -20px;
    float: left;
    margin-top: 4px;
}
.newslist li:hover:before{
	background: url(../images/icon-list-hover.png) no-repeat left center;
}
.newslist li a{
	font-size: 15px;
	color: #000;
}
.newslist li:hover a{
	font-weight: 500;
	color: #33cc99;
}
.list-border li{
	border-top:1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0;
}

/*----- COntent 01 -----*/
.newsnew{
	font-size: 20px;
	font-weight: 500;
}
.newsnew a{
	font-size: 16px;
	font-weight: normal;
}
.newsnew li.active a{
	font-size: 20px;
	font-weight: 500;
}
.newshot li a img{
	width: 100%;
}
.newshot li a:hover img{
	opacity: 0.8;
	transition: all ease 1s;
}
.newshot li a span{
	font-size: 15px;
	color: #000;
	display: block;
}
.newshot li a:hover span{
	color: #33cc99;
	font-weight: 500;
}
.newsnew .title-cm01 li{
	display: inline-block;
}
@media(max-width: 767px){
	.newshot li a img{
		width: 40%;
		float: left;
	}
	.newshot li a span{
		width: 60%;
		padding-left: 15px;
		float: right;
	}
	.newshot li a:after{
		content: '';
		display: block;
		clear: both;
	}
	.newshot li{
		margin-bottom: 15px;
	}
	.newsnew{
		display: none;
	}

}
.danhgia-content{
	position: relative;
	display: block;
	overflow: hidden;
}
.danhgia-content img{
	width: 100%;
}
.danhgia-text{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:url(../images/bg-news.png) no-repeat top left;
	background-size: 100% 100%;	
}
.danhgia-text-box{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;	
}
.danhgia-text-box > span{
	position: absolute;
    top: 50%;
    left: 50%;
    /* margin-right: 50%; */
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    padding: 0 25px;
}
.danhgia-text{
	opacity: 0;
	left: -100%;	
}
.danhgia-content:hover .danhgia-text{
	opacity: 1;
	left: 0;
	transition: all ease 1s;
}
.danhgia-list li{
	margin-bottom: 20px;
}
.danhgia-list li:last-child{
	margin-bottom: 10px;
}
.danhgia-list li a img{
	width: 40%;
	float: left;
}
.danhgia-list li a span{
	display: block;
	width: 60%;
	padding-left: 15px;
	float: right;	
	font-weight: 500;
	color: #000;
}
.danhgia-list li a:hover span{
	color: #33cc99;
}
.danhgia-list li a:after{
	content: '';
	display: block;
	clear: both;
}
@media(max-width: 991px){
	.danhgia{
		margin-top: 40px;
	}
}
@media(max-width: 991px) and (min-width: 767px){
	.danhgia-content{
		width: 50%;
		float: left;
	}
	.danhgia-list{
		width: 50%;
		float: right;
		padding-left: 15px;
		margin-top: 10px;
	}
}
.document-title a{
	font-family: 'playfairdisplay';
	font-size: 15px;
	text-transform: uppercase;
	color: #000;
	padding:0 10px;
}
.document-title li{
	display: inline-block;
}
.document-title a:nth-child(2){
	margin-left: 10px;
}
.document-title li.active a{
	font-size: 20px;
	font-weight: 500;	
	padding:5px 10px;
	background-color: #f5f5f5;
	display: inline-block;
}
.document .tab-content{
	background-color: #f5f5f5;
	padding: 15px 10px;
	min-height: 225px;
}
.document-list li{
	background: url(../images/icon-pdf.png) no-repeat 5px 5px;
    padding-left: 40px;
    margin-bottom: 15px;
    min-height: 30px;
}
.document-list li a{
	font-size: 13px;
	color: #000;
}
.document-list li a:hover{
	font-weight: 500;
}
.document-list02 li:before{
	content: '';
	width: 30px;
	height: 30px;
	background:url(../images/icon-document.png) no-repeat center;
	background-size: 100% 100%;
	display: block;
	position: absolute;
	top: 6px;
	left: 15px;
}
.document-list02 li{
	display: block;
	position: relative;
	padding: 12px 15px 15px 65px;
	margin-bottom: 7px;
	margin-top: 5px;
}
.document-list02 li:after{
	content: '';
	display: block;
	clear: both;
}
.document-list02 li a{
	font-size: 15px;
	text-transform: uppercase;
	color: #000;
}
.document-list02 li a:hover{
	font-weight: 500;
	color: #000 !important;
}
.multimedia-content a span{
	font-size: 18px;
	color: #000;
}
.videotabs-content{
	background-color: #f0f1f1;
}
.multimedia-content{
	padding: 40px;
}
/*----- COntent 02 -----*/
.newslist02 li{
	margin-bottom: 20px;
}
.newslist02 li a{
	/*font-size: 15px;*/
}
.newslist02 li a img{
	width: 30%;
	float: left;
}
.newslist02 li a span{
	display: block;
	width: 70%;
	padding-left: 15px;
	float: right;
	color: #000;
}
.newslist02 li a:after{
	content: '';
	display: block;
	clear: both;
}
.newslist02 li a:hover span{
	font-weight: 500;
	color: #33cc99;
}
.link-list li img{
	width: 100%;
}
.link-list li{
	margin-bottom: 17px;
}
.link-list li:nth-child(1){
	margin-top: 30px;
}
@media(max-width: 991px){
	.link-list li{
		width: 20%;
		margin:40px 0 0 0;
		float: left;
		padding-left: 15px;
	}
	.link-list li:nth-child(1){
		margin-top: 40px;
		padding-left: 0;
	}
/*	.link-list li:nth-child(odd){
		float: left;
	}
	.link-list li:nth-child(even){
		float: right;
	}*/
}
@media(max-width: 767px){
	.link-list li{
		width: 48%;
		margin:20px 0 0 0;
		padding-left: 0;
	}
	.link-list li:nth-child(odd){
		float: left;
		clear: both;
	}
	.link-list li:nth-child(even){
		float: right;
	}
	.link-list li:nth-child(1){
		margin-top: 20px;
	}
}

.newsbox-content{
	margin-top: 20px;
	display: block;
}
.newsbox-content img{
	width: 100%;
}
.newsbox-content span{
	/*font-size: 15px;*/
	font-weight: 500;
	color: #000;
	margin-top: 15px;
	display: block;
}
.newsbox-content:hover span{
	color: #33cc99;
}
@media(max-width: 767px){
	.content06 .newsbox-cm,
	.content03 .newsbox-cm{
		margin-top: 40px;
	}
	.content06 .newsbox-cm:nth-child(1),
	.content03 .newsbox-cm:nth-child(1){
		margin-top: 0;
	}
}

/*----- Video -----*/
.movie {
 position: relative;
 width: 100%;
 margin: 0 auto;
 padding-bottom: 56.28%;
 height: 0;
 overflow: hidden;
}
.content04{
	position: relative;
}
.video-title{
	float: left;
}
.video-title li{
	display: inline-block;
}
.video-title li a{
	font-family: 'playfairdisplay';
	font-size: 15px;
	text-transform: uppercase;
	color: #000;	
	padding: 5px 20px;
	display: block;
}
.video-title li.active a{
	font-size: 20px;
	font-weight: 500;
	background-color: #f0f1f1;
}
.video-content{
	background-color: #f0f1f1;
	padding: 25px 40px;
}	
.followbox span{
	font-size: 12px;
}
.video-img{
	display: block;
	float: left;
	position: relative;
	width: 40%;
}
.video-img img{
	width: 100%;
}
.video-text{
	width: 60%;
	float: right;
	padding-left: 15px;
	color: #000;
}
.video-text:hover{
	font-weight: 500;
}
.videotime{
	font-size: 10px;
	color: #fff;
	padding:2px 5px;
	position: absolute;
	left: 10px;
	bottom: 10px;
	background-color: #000;
}
.videolist li:after{
	content: '';
	display: block;
	clear: both;
}
.videolist li{
	margin-bottom: 20px;
}
.videolist li:last-child{
	margin-bottom: 0;
}
.movie-text a{
	font-size: 18px;
	color: #000;
	font-weight: 500;
}
.block-xs{
	display: none;
}
@media(max-width: 991px){
	.video-content,
	.multimedia-content{
		padding: 25px 15px;
	}
}
@media(max-width: 767px){
	.block-xs{
		display: block;
	}
	.followbox{
		margin-bottom: 20px;
	}
	.multimedia-content .row > div{
		margin-bottom: 30px;
	}
	.multimedia-content .row > div:last-child{
		margin-bottom: 0;
	}
}

/*----- Content 05-----*/
.newslist03{

}
.newslist03 li{
	width: 20%;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}
.newslist03 li img{
	width: 100%;
}
.newslist03 li a{
	display: block;
	color: #000;
}
.newslist03 li a:hover{
	font-weight: 500;
}
@media(max-width: 767px){
	.newslist03 li{
		width: 100%;
		margin-bottom: 20px;
	}
	.newslist03 li:last-child{
		margin-bottom: 0;
	}
	.newslist03 li a:nth-child(1){
		width: 40%;
		float: left;
	}
	.newslist03 li a:nth-child(2){
		width: 60%;
		float: right;
		padding-left: 15px;
	}
	.newslist03 li:after{
		content: '';
		display: block;
		clear: both;
	}
}

/*---- Content 07 -----*/
.content07{
	background-color: #f0f1f1;
	padding:20px 0;
}

/*----- Footer ----*/
footer{
	background-color: #33cc99;
	padding: 10px 0 30px 0;
}
footer nav li{
	display: block;
	float: left;
}
footer nav li a{
	color: #fff;
    padding: 12px 10px 8px 10px;
    text-transform: uppercase;
    font-size: 15px;
    display: block;
}
footer nav li a:hover{
	color: #ffb100 !important;
}
footer nav li:nth-child(1) a {
    padding: 5px 10px;
}
footer nav:after{
	content: '';
	display: block;
	clear: both;
}
footer a:hover{
	color: #ffb100 !important;
}
.f-link-list li img{
	width: 20px;
}
.f-content01{
	display: table;
	width: 100%;
	vertical-align: middle;
}
.f-content01 > div{
	display: table-cell;
	vertical-align: middle;
	padding:0 7px;
}
.f-add h2{
	color: #fff;
	font-size: 16px;	
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.f-add p{
	color: #fff;
	font-size: 12px;
	margin-bottom: 0;
}
.f-add p a{
	color: #fff;
}
/*.f-content{
	margin-left: auto;
	margin-right: auto;
	float: inherit;
	width: 94%;
}*/
.f-content .col-md-8{
	width: 72%;
}
.f-content .col-md-4{
	width: 28%;
}
.f-link-list{
	text-align: center;
}
.f-link-list li{
	display: inline-block;
	margin:0 5px;
}
.total{
	text-align: center;
}
.total ul li{
	display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 3px;
    background-color: #cbcbcb;
    color: #fff;
}
.total span{
	    display: inline-block;
    font-size: 13px;
    color: #fff;
}
.total ul{
	display: inline-block;
}
@media(max-width: 991px){
	.f-content{
		width: 100%;
	}
	footer nav{
		display: none;
	}
	.f-link-list{
		margin-top: 20px;
	}
}
@media(max-width: 767px){
	.f-content .col-xs-12{
		width: 100%;
	}
	.f-content01 > div:nth-child(1){
		width: 65px;
	}
	.f-content01 > div{
		display: block;
		width: 100%;
	}
	.f-add{
		margin-top: 20px;
	}
}

.slide-chantrang{
	width: 95%;
}
.nbs-flexisel-nav-left{
	left: -2% !important;
}
.nbs-flexisel-nav-right{
	right:-2% !important;
}
@media(max-width: 991px){
	.slide-chantrang{
		width: 90%;
	}
	.nbs-flexisel-nav-left{
		left: -5% !important;
	}
	.nbs-flexisel-nav-right{
		right:-5% !important;
	}
}
/*----- Cap 1 -----*/
.title-cm02{
	border-bottom: 1px solid #ffde8c;
    padding-bottom: 5px;
    text-align: center;
}
.title-cm03 a,
.title-cm02 a{
	font-family: 'playfairdisplay';
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
}
.title-cm03{
	border-bottom: 1px solid #ffde8c;
    padding-bottom: 5px;
    width: 253px;
    margin-left: 0;
}
.title-cm03:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffde8c;
    display: inline-block;
    margin: 0 10px 0 10px;
}
.title-cm03 a{
	display: inline-block;
}
.newsbox-cm02 img{
	width: 100%;
	display: block;
}
.newsbox-cm02 a{
	display: block;
	color: #000;
	font-size: 15px;
}
.cap1-newslist ul li{
	margin-bottom: 20px;
}
.cap1-newslist ul li:last-child{
	margin-bottom: 0;
}


.viewmore-list li{
	margin-bottom: 20px;
}
.viewmore-list li > a{
	width: 34%;
	display: block;
	float: left;
}
.viewmore-list li > a img{
	width: 100%;
}
.viewmore-list li > div{
	width: 66%;
	padding-left: 30px;
	float: right;
}
.viewmore-list li > div > a{
	font-size: 15px;
	font-weight: 500;
	color: #000;
	margin-top: 10px;
	display: block;
}
.viewmore-list li:after{
	content: '';
	display: block;
	clear: both;
}
@media(max-width: 991px) and (min-width: 767px){
	.sidebar-newsnew .newsbox-cm02{
		width: 48%;
		float: left;
	}
	.sidebar-newsnew-list{
		width: 48%;
		float: right;
	}
	.sidebar-newsnew:after{
		content: '';
		display: block;
		clear: both;
	}
	.list-border li:first-child{
		border-top:none;
	}
}
@media(max-width: 991px){
	.readmore .newsbox-cm02{
		width: 48%;
		float: left;
	}
	.readmore .danhgia-list{
		margin-top: 20px;
	}
}
@media(max-width: 767px){
	.sidebar-newsnew{
		margin-top: 20px;
	}
	.sidebar-newsnew .newsbox-cm02 > a{
		width: 100%;
	}
	.sidebar-newsnew .newsbox-cm02 > div{
		width: 100%;
		padding-left: 0;
	}
	.readmore .newsbox-cm02{
		width: 100%;
	}
	.readmore .newsbox-cm02 > a{
		width: 100%;
	}
}
@media(max-width: 767px){
	.newsbox-cm02 > a{
		width:40%;
		float: left;
	}
	.newsbox-cm02 > div{
		width: 60%;
		float: right;
		padding-left: 15px;
	}
	.newsbox-cm02:after{
		content: '';
		display: block;
		clear: both;
	}
	.newsbox-cm02{
		margin-bottom: 20px;
	}
	.cap1-newslist ul li:last-child{
		margin-bottom: 20px;
	}
	.cap1-newslist{
		margin-top: 20px;
	}
}
.paging{
	padding-bottom: 50px;
}
.paging li{
	display: inline-block;
	margin: 0 5px;
}
.paging li a{
	font-size: 15px;
	color: #ccc;
	padding: 5px 10px;
}
.paging li.active a{
	border:1px solid #ccc;
}
.border-bottom{
	border-bottom: 1px solid #33cc99;
}
@media(max-width: 767px){
	.border-bottom{
		border-bottom: inherit;
	}
}
.date-icon{
    float: right;
    margin-top: -25px;
    width: 240px;
}
.date-icon label{
	margin-right: 10px;
	display: inline-block;
	font-size: 12px;
	color: #666;
	    float: left;
    margin-top: 8px;
    font-weight: normal;
}
#datepicker{
	width:150px; 
}
#datepicker > span:hover{
	cursor: pointer;
}
.form-control{
	height: 30px;
	font-size: 12px;
}

/*----- Video page-----*/
.videopage-title{
	text-align: center;
	border-bottom: 1px solid #ffde8c;
	padding-bottom: 5px;
	display: block;
	width: 300px;
}
.videopage-title p{
	font-family: 'playfairdisplay';
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;	
	color: #000;
}
.video-big{
	background-color: #f2f2f2;
}
.wrapper-video{
	width: 1690px;
	max-width:100%;
	padding-left: 15px;
	padding-right: 15px;
}
.videonews-name{
	font-family: 'playfairdisplay';
	font-size: 25px;
}
.tags{
	width: 100%;
		border-top: 1px solid #ff9900;
	border-bottom: 1px solid #ff9900;
	padding: 7px 0;
}
.tags li{
	font-size: 12px;
	display: inline-block;
	padding: 5px 10px;
}
.tags li a{
	color: #000;
}
.video-list li a{
	font-size: 15px;
	color: #000;
	font-weight: 500;
	display: block;
	width: 100%;
}
.videonews-img img{
	width: 100%;
}
.video-icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(0 0 0 / 63%);
    text-align: center;
    line-height: 32px;
    position: absolute;
    left: 10px;
    top:calc(100% - 40px);
    top:-moz-calc(100% - 40px);
    top:-webkit-calc(100% - 40px);
    top:-o-calc(100% - 40px);
    /*top: 75%;*/
}
.videonews-img{
	position: relative;
}
.video-list li{
	margin: 20px 0;
}
.video-list li:nth-child(4n+1){
	clear: both;
}
@media(max-width: 991px){
	.videonews-name{
		font-size: 18px;
	}
	.video-big .mt50 {
	    margin-top: 30px;
	}
	.video-list li:nth-child(4n+1){
		clear: inherit;
		float: left;
	}
	.video-list li:nth-child(3n+1){
		clear: both;
	}
}
@media(max-width: 767px){
	.video-list li:nth-child(3n+1){
		clear: inherit;
		float: left;
	}
	.video-list li:nth-child(2n+1){
		clear: both;
	}
}
.danhgia-content01 .newsbox-cm02 a{
	font-weight: 500;
}
.sidebar-bnr li {
    margin-bottom: 20px;
}
@media(max-width: 991px){
	.sidebar-bnr {
		margin-left: -15px;
		margin-right: -15px;
	}
	.sidebar-bnr li{
		width: 25%;
		padding:10px 15px;
		float: left;
	}
}
@media(max-width: 767px){
	.sidebar-bnr li{
		width: 50%;
	}
	.sidebar-bnr li:nth-child(2n+1){
		clear: both;
	}

}

/*----- Detail page--*/
.detaildate{
	display: block;
	font-size: 12px;
	color: #666;
}
.tool:after{
	content: '';
	display: block;
	clear: both;
}
.newsname-detail{
	font-family: 'playfairdisplay';
	font-size: 23px;
	text-transform: none;
}
.suggest.newslist li a{
	color: #666666;
	/*font-weight: 500;*/
	/*font-size: 15px;*/
}
.suggest.newslist li a:hover{
	color: #000;
}
/*.detail-content,*/
.vneep-icon{
	display: table;
}
/*.detail-content > div,*/
.vneep-icon > div{
	display: table-cell;
	vertical-align: top;
}
.vneep-icon > div:nth-child(1){
	width: 50px;
	padding-right: 15px;
}
.vneep-icon p{
	font-weight: 500;
	font-family: 'merriweather';
	font-size: 15px;
	line-height: 23px;
}
.detail-icon-list{
	width: 35px;
}
.detail-icon-list img{
	margin-bottom: 15px;
}
.detail-text{
	padding-left: 75px;
}
.detail-text p{
	font-family: 'merriweather';
	font-size: 15px;
	line-height: 25px;
}
.detail-tags:after{
	content: '';
	display: block;
	clear: both;
}
.detail-tags{
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
}
.detail-tags li{
	font-size: 12px;
	display: inline-block;
	padding: 5px 10px;
}
.detail-tags li a{
	color: #000;
}
.newslist04 li a{
	color: #000;
	font-size: 15px;
	font-weight: 500;
}
.newslist04 li{
	padding: 15px 0;
	border-top:1px solid #ccc;
}
.newslist04 li:nth-child(1){
	padding-top: 0;
	border-top: none;
}
.tool a{
	color: #000;
}
.text-orange{
	color: #ff9900 !important;
}
.chuyenmuc{
	border-top:1px solid #ccc;
}
.chuyenmuc-list li{
	margin-bottom: 30px;
}
.chuyenmuc-list li > a{
	width: 25%;
	display: block;
	float: left;
}
.chuyenmuc-list li > a img{
	width: 100%;
}
.chuyenmuc-list li > div{
	width: 75%;
	padding-left: 30px;
	float: right;
}
.chuyenmuc-list li > div > a{
	font-size: 15px;
	font-weight: 500;
	color: #000;
	display: block;
}
.chuyenmuc-list li:after{
	content: '';
	display: block;
	clear: both;
}


@media(max-width: 991px){
	.detail-content02.border-bottom{
		border:none;
	}
}
@media (max-width: 767px){
	.detail-text {
	    padding-left: 50px;
	}
}



.nbs-flexisel-item img{
	opacity: 0.7;
}
.nbs-flexisel-item:hover img{
	opacity: 1;
	transform: scale(1.05);
	transition: all ease 0.3s;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  display: inline-block;
    float: left;
}
.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover{
	background-color: #fff !important;
    background-image: none !important;
    font-weight: 500;
    border:1px solid #ccc;    
}
.videonews-detail{
	font-family: 'merriweather';
	font-size: 15px;
	line-height: 150%;	
}
/*a::before {
    display: block;
    content: attr(title);
    font-weight: 500;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}*/

/*----- En page -----*/
.titlenews-en a{
	font-family: 'playfairdisplay';
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    display: inline-block;
    border-bottom: 1px solid #ffde8c;
    padding: 0 10px 5px 10px;
}
.newsen-list li{
	padding: 10px 0;
	border-bottom: 1px solid #e5e5e5;
	display: table;
	width: 100%;	
}
.newsen-list li:last-child{
	border-bottom: none;
}
.newsen-list li > div{
	display: table-cell;
	vertical-align: middle;
}
.newsen-num{
	font-family: 'merriweather';
	font-size: 25px;
	padding-right: 15px;
	font-weight: 500;
	color: #33cc99;
}
.newsen-name a{
	font-size: 15px;
	color: #000;
}
.newsen-name a:hover{
	font-weight: 500;
}
.news-en-big img{
	width: 100%;
}
.news-en-big h2{
	line-height: 140%;
	font-size: 20px;
}
.news-en-big a{
	font-family: 'merriweather';
	font-weight: 500;
	color: #000;
}
.news-en-big a{
	display: block;
}
.content01-en .newshot a{
	font-weight: 500;
}
.news-en-big02 img{
	width: 100%;
}
.news-en-big02 a span {
    font-size: 15px;
    color: #000;
    display: block;
    font-weight: 500;
}
.news-en-big02{	
	padding-bottom: 20px;
}
.border-orange{
	border-bottom: 1px solid #ffde8c;
}
.content01-en .danhgia-list li {
    margin-bottom: 40px;
}
.content01-en .danhgia-list li:last-child{
	margin-bottom: 0;
}
.content01-en .danhgia-list li a span{
	font-weight: normal;
}
.title-en {
    border-bottom: 1px solid #ffde8c;
    padding-bottom: 5px;
    display: inline-block;
    padding-right: 30px;
}
.title-en a {
    font-family: 'playfairdisplay';
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
}
.title-en:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffde8c;
    display: inline-block;
    margin: 0 10px 0 10px;
}
.news-en-list li{
	margin-bottom: 20px;
}
.news-en-list li > a{
	width: 30%;
	float: left;
}
.news-en-list li > div{
	width: 70%;
	padding-left: 15px;
	float: right;
}
.news-en-list li:after{
	content: '';
	display: block;
	clear: both;
}
.news-en-list li img{
	width: 100%;
}
.news-en-list li a{
	font-size: 16px;
	font-weight: 500;
	color: #000;
}
.news-en-list li p{
	font-size: 13px;
}
.btn-en-viewmore{
	font-family: 'playfairdisplay';
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
    display: inline-block;
    width: 100%;
    color: #000;
}
.btn-en-viewmore:after{
	content: "+";
	display: inline-block;
	font-size: 15px;
	font-weight: 500;
	color: #33cc99;
	margin-left: 5px;v
}
.content03-en{
	background-color: #f0f1f1;
	padding: 20px 0;
}
@media(max-width: 991px){
	.content01-en .col-md-4{
		margin-top: 40px;
	}
	.border-orange{
		border-bottom: none;
	}
	.content01-en .danhgia-list{
		margin-top: 0;
	}
}
@media(max-width: 991px) and (min-width: 767px){
	.content01-en .news-en-big02 {
		width: 48%;
		float: left;
	}

}


