/*page*/
.ctpaging {
    float: right;
    margin: 0;
    padding-right: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ctpaging ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ctpaging li {
    display: inline;
    padding: 0 4px;
}
.ctpaging a, .ctpaging a:visited {
    background-color: #E7E7E7;
    border: 1px solid #D3D3D3;
    color: #545454;
    font: bold 12px Arial,Helvetica,sans-serif;
    padding: 2px 5px;
    text-decoration: none;
}
.ctpaging a:hover {
    background-color: #008BD3;
    border: 1px solid #008BD3;
    color: #FFFFFF;
}
.ctpaging a.currentpage {
    background-color: #008BD3 !important;
    border: 1px solid #008BD3 !important;
    color: #FFFFFF !important;
    cursor: default;
}
.tenbai
{
    font-weight:bold;
    margin-top:20px;
    font-size:17px;
}
.c_ic_moi {
	
	display: inline;
	background: #8dc73f;
	font-size: 9px;
	color: #fff;
	margin: 10px 0 0 5px;
	padding: 0 5px;
	height: 16px;
	line-height: 16px;
	animation: c_ic_moi 1s infinite;
	-webkit-animation: c_ic_moi 1s infinite;
	-moz-animation: c_ic_moi 1s infinite;
}
.title-cm02 {
    font-size: 17px;
}
.document-attach{
	margin-bottom: 20px;
    margin-top:20px;
}
.document-attach ul.list li{
	background: url(../images/icon-attach.png) no-repeat left 4px #fff !important;
	background-size: 16px !important;
	padding: 3px 0 4px 25px;
}
.document-attach ul.list li a{
	font-size: 12px;
}
.document-attach ul.list{
	width: 100%;
	padding: 8px 0 5px 17px;
}
.icon-attach{
	width: 30px;
	height: 30px;
	/* border:1px solid red; */
	display: block;
	float: left;
	border-radius: 50%;
	background: url("../images/icon-attach.png") no-repeat center center #fff;
	background-size: 77%;
	margin: -1px 10px 4px 5px;
}
.document-attach .bg_org{
	background: #026db4;
	color: #fff;
	line-height: 32px;
	height: 34px;
}
.notify-02 .list-cm li a {
    color: #000;
}
.empower .list-cm li a, .training .list-cm li a {
    color: #000;
}
.notify .list-cm li a {
    color: #000;
}
.schedule-wrap span
{
	color:inherit ;
	 font-family:inherit ;
    font-size: inherit ;
    font-weight:inherit;
}

.schedule-wrap table
{
	width:100% !important;
}
@media (max-width: 480px) {
    #newitem_2 {
        margin-top: 40px !important;
    }
    .bg_blu {
    font-size: 17px;
}
}