
.style1
{
    font-size: 10px;
    color: #0C406A;
    text-decoration: none;
    font-family: tahoma, Helvetica, sans-serif;
}
.nm
{
    font-family: tahoma, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}
.nm:hover
{
    font-family: tahoma, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #F9C1C1;
    text-decoration: none;
}
.sukien
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
.tinnong
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #393939;
    text-align: justify;
    text-decoration: none;
}
.tinnong:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    text-align: justify;
    text-decoration: none;
}
.title
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #5A5D60;
    text-decoration: none;
}

.title1
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #666666;
    text-decoration: none;
}
.title1:hover
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #2C94E8;
    text-decoration: none;
}

.bottom
{
    font-family: tahoma, Arial, Helvetica, san-serif;
    color: #ffffff;
    font-size: 10px;
    text-decoration: none;
}

.titlefocus
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #004179;
    text-decoration: none;
}
.titlefocus:hover
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #7F0000;
    text-decoration: none;
}
.titlebai
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #990000;
    text-decoration: none;
    vertical-align:top;
}
.titlebai:hover
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #3A0202;
    text-decoration: none;
}
.text
{
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    text-align: justify;
}

.text_hotline
{
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    text-align: justify;
}

.textcontent
{
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    text-align: justify;
}
.textcontentb
{
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    text-align: justify;
}
.tinkhac
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #0055AA;
    text-decoration: none;
}
.nut_list
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FF0000;
}
.chitiet
{
    font-family: Tahoma;
    font-size: 9px;
    color: #FF0000;
    font-weight: normal;
}
.dadua
{
    font-family: Tahoma, Arial, Helvetica, san-serif;
    color: #3F3F3F;
    font-size: 11px;
    text-decoration: none;
}
.dadua:hover
{
    font-family: Tahoma, Geneva, Arial, Helvetica, san-serif;
    color: #000000;
    font-size: 11px;
    text-decoration: none;
}
.thu
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
}
.title_top
{
    font-family: Tahoma;
    font-size: 17px;
    font-weight: bold;
    color: #990000;
    text-decoration: none;
}
.title_top:hover
{
    font-family: Tahoma;
    font-size: 17px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
.title_top_home
{
    font-family: Tahoma;
    font-size: 18px;
    font-weight: bold;
    color: #b11517;
    text-decoration: none;
}
.title_top_home:hover
{
    font-family: Tahoma;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
.timkiem
{
    font-family: tahoma, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #3F3F3F;
    text-decoration: none;
}
.hotline
{
    font-family: tahoma, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #C02523;
    text-decoration: none;
}
.title_nho1
{
    font-family: Arial,tahoma, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #073c96;
    text-decoration: none;
}
.nm_left
{
    font-family: tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #024276;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    text-decoration: none;
}
.nm_left:hover
{
    font-family: tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #7F0000;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    text-decoration: none;
}
.nm_sup
{
    font-family: tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}
a.nm_sup:hover
{
    font-family: tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #7F0000;
    text-decoration: none;
}
.nm_top
{
    font-family: tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    /*color: #C0C0C0;*/
    font-weight: normal;
    color: #C0C0C0; 
    text-decoration: none;
}
.nm_top:hover
{
    font-family: tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #7F0000;
    text-decoration: none;
}
.date
{
    font-family: tahoma, Arial, Helvetica, san-serif;
    color: #3F3F3F;
    font-size: 11px;
    text-decoration: none;
}
.title_nho
{
    font-family: Verdana, Arial, Helvetica, san-serif;
    font-weight: bold;
    color: #014074;
    font-size: 13px;
    text-decoration: none;
}
.title_nho:hover
{
    font-family: Verdana, Arial, Helvetica, san-serif;
    font-weight: bold;
    color: #7F0000;
    font-size: 13px;
    text-decoration: none;
}
.title_nho_top3
{
    font-family: Verdana, Arial, Helvetica, san-serif;
    font-weight: bold;
    color: #C02523;
    font-size: 13px;
    text-decoration: none;
}
.title_nho_top3:hover
{
    font-family: Verdana, Arial, Helvetica, san-serif;
    font-weight: bold;
    color: #000000;
    font-size: 13px;
    text-decoration: none;
}
.sup_mnnho
{
    font-family: tahoma, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #0C406A;
    text-decoration: none;
}
.trangnhat
{
    font-family: tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    text-decoration: none;
}
.nm_left1
{
    font-family: tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    text-decoration: none;
}
.nm_left1:hover
{
    font-family: tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #7F0000;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    text-decoration: none;
}

.SearchButton
{
    cursor: pointer;
    border: 0;
}
.email
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #940001;
    text-decoration: none;
}

/*add by hapt*/
.xemtiep
{
    font-family: Tahoma, Arial, Helvetica, san-serif;
    color: #3F3F3F;
    font-size: 11px;
    text-decoration: none;
}

.titleBox
{
    /*border-left: solid 5px #0D25AC;*/
    margin-bottom: 2px;
    height: 20px;
    line-height: 20px;
    background: #848484;
}

.titleBox_hotnew
{
    height: 36px;
    line-height: 20px;
    background-image: url( 'tinnong_TetKySuu.gif');
    background-repeat: no-repeat;
    background-position: right;
}
.rightAdvImg
{
    margin-top: 0px;
    border: 0px;
}
#leftInfoWrapper
{
    width: 100%;
    /*margin-top: 5px;*/
}
.leftInfo
{
    height: 20px;
    background-color: #E5E5E5;
    border-bottom: solid 1px #c8c7c7;
    line-height: 20px;
}
.leftMenuDiv
{
    height: 20px;
    background-color: #E5E5E5;
    margin-bottom: 2px;
    line-height: 20px;
}
.leftAdvImg
{
    margin-top: 0px;
    border: 0px;
}
.leftSupWraper
{
    margin-bottom: 2px;
}
.leftSupDiv
{
    background: #c5c5c5 url( 'nutvuong.gif' ) no-repeat 5px 50%;
    padding: 4px 1px 4px 17px;
    border-bottom: solid 1px #E6E6E6;
}

#topAdvArea
{
    background: #6783DB;
    /*background: #E9141D;*/
    float: right;
    height: 77px;
    width: 566px;
}
#topBar
{
    height: 23px;
	background: #01014D;
	color: #C0C0C0;
	/*
    background: #848484;
    color: #1a1a1a;
	*/
    font-family: tahoma;
    font-size: 11px;
}
#logoDiv
{
    width: 419px;
    height: 77px;
    float: left;
    background: url( 'logo.jpg' ) no-repeat;
    /*background: url( '../images/logo_TetKySuu.gif' ) no-repeat;*/
}

#printWraper
{
    margin: 30px 0px 30px 50px;
}

#topImg
{
    float: left;
    margin-right: 6px;
    margin-bottom: 16px;
}

#top4
{
    width: 100%;
    float: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.imgTop4
{
    /*width: 116px;
	height: 80px;
	*/
	width: 94px;
	height: 64px;
    margin: 0px 0px;
    border: solid 1px #696969;
}
.imgTop3
{
    width: 105px;
	height: 76px;
    margin: 6px 0px;
    border: solid 1px #696969;
}

#rightTabWraper
{
    width: 248px;
    height: auto;
    border-right: solid 1px #8f8f8f;
    border-left: solid 1px #8f8f8f;
    border-bottom: solid 1px #8f8f8f;
    margin-bottom: 5px;        
}

#rightVidWraper
{
    width: 100%;
    background: #e5e5e5;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 5px;
    float: left;
    padding-bottom: 5px;
}

.rightTab
{
    font-family: Verdana;
    font-weight: bold;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
    border-top: solid 1px #8f8f8f;
    cursor: pointer;
}
.middleRTab
{
    float: left;
    width: 3px;
    height: 21px;
    border-bottom: solid 1px #8f8f8f;
    border-left: solid 1px #8f8f8f;
    border-right: solid 1px #8f8f8f;
}
.rightTabContent
{
    background: url( 'nut.gif' ) no-repeat 3% 50%;
    padding: 4px 1px 4px 20px;
    border-bottom: solid 1px #e4e4e4;
    width: 220px;
    text-align: left;
}
.listHotNew
{
    text-align: left;
}
.listHotNew ul
{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.listHotNew ul li
{
    background: url( 'nut.gif' ) no-repeat 3% 7px ;
    padding: 4px 0px 4px 20px;
    margin: 0px;
    border-bottom: solid 1px #e4e4e4;
    line-height: 14px;
    width: 220px;
}

/* Right info */
#needInfoWraper
{
	clear:both;
    width: 248.5px;
    height:140px;
    background-color: #e0e0e0;
    padding-top: 0px;
    margin-bottom: 8px;
    border-right: solid 1px #8f8f8f;
    border-left: solid 1px #8f8f8f;
    border-bottom: solid 1px #8f8f8f;
    
}
.titleBoxRightInfo
{
	margin-bottom: 2px;
    height: 20px;
    line-height: 20px;
    background: #848484;
}

.listRightInfo1
{
	float: left;
	text-align: left;
}
.listRightInfo1 ul
{
    padding: 0px;
    margin: 0px 0px 0px 3px;
    list-style: none;
}
.listRightInfo1 ul li
{
    background: url( 'nut_grey.gif' ) no-repeat 3% 8px;
    padding: 4px 0px 4px 15px;
    margin: 0px;
    border-bottom: solid 1px #e4e4e4;
    line-height: 14px;
    height:auto;
    width: 100px;
}

.tdInfo
{
    background: url( 'nut_grey.gif' ) no-repeat 3% 8px;
    padding: 4px 0px 4px 15px;
    line-height: 14px;
    width: 100px;
    height:auto;
    vertical-align: text-top;
}

.nm_right
{
    font-family: tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
    text-decoration: none;
}
.nm_right:hover
{
    font-family: tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #7F0000;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
    text-decoration: none;
}
/* End rightinfo */

/* TopOne */
#topnew
{
	width: 100%; 
	padding-bottom: 5px;
}

.topOneLeftWraper
{
	float:left;
	width:56%; 
	background-color: #e0e0e0; 
	padding:5px 5px 5px 5px;
}

.topOneRightWraper
{
	float:right; 
	width:41%;
}
/* End TopOne*/

/* FocusNews */
.top4NewsWraper
{
	width: 100%;
	border-bottom: solid 1px #d2d2d2;
	height:5px;
}
/* End FocusNews */

.catesWraperXML
{
    width: 100%;
    float: left;
    margin:3px 0px 3px 0px;
}

.catesWraper
{
    width: 100%;
    float: left;
    margin:10px 0px 10px 0px;
}
.cateRightWraper
{
    float: right;
    width: 49%;
}
.cateLeftWraper
{
    float: left;
    width: 49%;
}
.topCate
{
    clear: left;
    width: 100%;
    float: left;
    padding-bottom: 20px;
}


.cateTitleDiv
{
    height: 20px;
    line-height: 20px;
}
.cateSub
{
    background: url( 'bgr_supmn.gif' ) repeat-y;
    height: 18px;
    line-height: 18px;
    border-top: solid 1px #d3d3d3;
    margin-bottom: 5px;
    text-align: left;
    overflow: hidden;
    padding-left: 5px;
}
.cateLead
{
    clear: left;
    padding-left: 5px;
    margin-top: 5px;
}
.cateOthers
{
    background: url( 'nut.gif' ) no-repeat 5px 50%;
    padding-left: 15px;
    margin-top: 5px;
}
.articleListWraper
{
    width: 100%;
    height: auto;
    clear: left;
    padding: 10px 0px 10px 0px;
    border-top: solid 1px #cfcfcf;
}
.articleList
{
    width: 100%;
    clear: left;
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: solid 1px #cfcfcf;
}
.cateImgTT24h
{
    width: 105px;    
    height: 128px;
    float: left;
    border: 1px solid #696969;
    margin: 3px 8px 0px 0px;
}
.cateImg
{
    width: 105px;
    height: 76px;
    float: left;
    border: 1px solid #696969;
    margin: 3px 8px 0px 0px;
}
.cateImgSmall
{
    float: left;
    border: solid 1px #666666;
    margin-right: 12px;
}
#otherNewsWrap
{
    width: 100%;
    clear: left;
    float: left;
    margin-bottom: 10px;
    border-top: solid 1px #cfcfcf;
    margin-top: 5px;
    padding-top: 5px;
}
#relatedNewsWraper
{
    width: 100%;
    height: auto;
    clear: left;
    margin-bottom: 10px;
    border-top: solid 1px #cfcfcf;
    margin-top: 5px;
    padding-top: 5px;
}
.focusImg
{
    padding: 4px;
    float: left;
    border: 0px;
}

.discussScroll
{
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.discussTitle
{
    background: #ccdaec;
    height: 20px;
    line-height: 20px;
    padding-left: 8px;
    margin-bottom: 5px;
    font-weight: bold;
}
.discussArthor
{
    background: #6a9ae2;
    color: White;
    margin-bottom: 7px;
    margin-top: 15px;
    padding: 4px 10px;
}
.sendCommentLabel
{
    width: 94px;
    float: left;
    clear: left;
    text-align: right;
    margin-right: 5px;
    line-height: 22px;
}

.height18
{
    height: 18px;
    line-height: 18px;
}
.height20
{
    height: 20px;
    line-height: 208px;
}
.height22
{
    height: 22px;
    line-height: 22px;
}
.padt10
{
    padding-top: 10px;
}
.padt5
{
    padding-top: 5px;
}

/*Layout*/
#maincontainer
{
    width: 985px; /*Width of main container*/
    margin: 0 auto; /*Center container on page*/
    background-color: #ffffff;
}

#topsection
{
    height: 150px; /*Height of top section*/
    margin-bottom: 9px;
}

#topBar a
{
    padding-left: 6px;
    padding-right: 7px;
    line-height: 2em;
}

#contentwrapper
{
    float: left;
    width: 100%;
}
#contentwrapinner
{
    float: left;
    width: 100%;
}

#searchArea
{
    margin-bottom: 10px;
    /*border-bottom: solid 1px #0D25AC;*/
}

#contentcolumn
{
    /*margin-left: 160px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
    margin-left: 5px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#contentInner
{
    /*margin-right: 265px;*/ /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
    margin-right: 265px;
}

#leftcolumn
{
    float: left;
    width: 140px; /*Width of left column in pixel*/
    margin-left: -985px; /*Set margin to that of -(MainContainerWidth)*/
}

#rightcolumn
{
    float: left;
    width: 250px; /*Width of right column*/
    /*margin-left: -255px; /*Set left margin to -(RightColumnWidth)*/
    margin-left: -255px; /*Set left margin to -(RightColumnWidth)*/
}

#contentCateInner
{
	margin-right: 410px;
}

#rightcatecolumn1
{
    float: left;
    width: 250px; /*Width of right column*/
    /*margin-left: -255px; /*Set left margin to -(RightColumnWidth)*/
    margin-left: -400px; /*Set left margin to -(RightColumnWidth)*/
}


#rightcatecolumn2
{
    float: left;
    width: 140px; /*Width of right column*/
    margin-left: -145px; /*Set left margin to -(RightColumnWidth)*/
}

#footer
{
    clear: left;
    width: 100%;
    padding-top: 5px;
    text-align: center;
}

.innertube
{
    margin: 0px; /*Margins for inner DIV inside each column (to provide padding)*/
    margin-top: 0;
}
.tipClass
{
    font: 11px Arial, Helvetica;
    color: black;
    background: #F2F4CC;
    border: 1px solid #393939;
    padding: 4px;
    text-align: justify;
}

.fontnho
{
    font-family: Arial, tahoma, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
a.fontnho:hover
{
    font-family: Arial, tahoma, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #7F0000;
    text-decoration: none;
}
.fontto
{
    font-family: Arial, tahoma, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
a.fontto:hover
{
    font-family: Arial, tahoma, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #7F0000;
    text-decoration: none;
}

#AdvLeft div ul
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#AdvLeft div ul li
{
    margin: 0px;
    padding: 0px;
}
/*#AdvRight div ul
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#AdvRight div ul li
{
    margin: 0px;
    padding: 0px;
}*/
#AdvRight
{
    margin: 0px;
    padding: 0px;
}
#tooltip
{
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #F2F4CC;
    padding: 4px;
    font-family: Arial, Verdana;
    width: 250px;
    margin: 0px;
}
#tooltip h3, #tooltip div
{
    margin: 0;
    font-size: 11px;
    font-weight: normal;
}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.animatedtabs
{
    overflow: hidden;
    position: relative;
    height: 26px;
    font: normal 11px Arial;
    color: white; /*font of menu text*/
    clear: both;
    width: 100%;
    background: url(bg_menu.jpg) repeat-x 0% 1px;
    /*background: url(../images/bg_menu_TetKySuu.gif) repeat-x 0% 1px;*/
}

.animatedtabs ul
{
    list-style-type: none;
    margin: 0px 0px 0px 10px;
    padding: 0;
}

.animatedtabs li
{
    float: left;
    padding: 0;
    margin: 1px 4px 0px 4px;
}

.animatedtabs a
{
    float: left;
    position: relative;
    display: block;
    background: url(bg_menu.jpg) repeat-x;
    /*background: url(../images/bg_menu_TetKySuu.gif) repeat-x;*/
    color: White;
    line-height: 26px;
    text-decoration: none;
    height: 26px;
    line-height: 2em;
}

.animatedtabs a span
{
    float: left;
    position: relative;
    display: block;
    padding: 0px 5px;
    color: White;
    line-height: 26px;
    text-decoration: none;
    height: 26px;
    cursor: pointer;
}

.animatedtabs .selected a, .animatedtabs a:hover
{
    float: left;
    position: relative;
    background: url(tab_right.jpg) no-repeat right top;
    padding: 0px;
    color: #6c6c6c;
    text-decoration: none;
}

.animatedtabs .selected a span, .animatedtabs a:hover span
{
    float: left;
    position: relative;
    display: block;
    background: url(tab_left.gif) no-repeat left top;
    padding: 0px 5px;
    color: #6c6c6c;
    text-decoration: none;
}

.subTopMenuFont
{
    font: normal 11px Arial;
    color: #0228b9;
    /*font: normal 11px Arial;
    color: #212121;*/
    text-decoration: none;
}

.subTopMenuFont:hover
{
    font: normal 11px Arial;
    color: #7F0000;
    text-decoration: none;
}
.subMenuContainer
{
    display: none;
}
#subTopMenu ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}
#subTopMenu ul li
{
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;
}
#subTopMenu ul li a
{
    padding-left: 5px;
    padding-right: 5px;
    line-height: 2em;
}

#topicWraper
{
    background: #ececec;
    float: left;
    clear: both;
    width: 100%;
}
#topicWraper ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#topicWraper ul li
{
    list-style: none;
    margin: 0px;
    padding: 0px 3px 0px 35px;
    height: 40px;
    line-height: 15px;
    border-bottom: 1px dotted #999999;
}
