@font-face {
	font-family: 'vtkfont';
	src: url('../fonts/vtkfont.eot');
	src: url('../fonts/vtkfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/vtkfont.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}