.online {
    color: #33CC33;
}
.search-user {
    margin: 0 0 15px 0;
}
.label-searchUser {
    float: left;
   
    width: 100px;
}
.drl-searchUser {
    float: left;
    margin-left: 10px;
    width: 90px;
}
.txt-searchUser {
    float: left;
    margin: 0 0 0 10px;
   
    width: 100px;
}
.btnSearchUser {
    float: left;
    margin: 0 0 0 10px;
    
}
#login
{
 margin-left:20px;    
}


.login-left {
    color: #666666;
    float: left;
    line-height: 28px;
    padding: 0 10px 0 0;
    text-align: left;
    width: 110px;
   
}
.login-right {
    float: left;
    line-height: 28px;
    margin-left: 36px;
}

.add-role {
    margin: 15px 0;
}
.label-newrole {
    float: left;
    margin-left: 10px;
    width: 125px;
}
.btnnewrole {
    float: left;
    font-size: 14px;
    height: auto;
    margin: 0 0 0 10px;
    padding: 0;
    width: 60px;
}
.txt-newrole {
    float: left;
    margin: 0 0 0 10px;
    padding: 1px;
    width: 150px;
}
