.title-cm04 a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    color: #1f5ecb;
    padding: 7px 20px 5px 7px;
    background: url(../images/ico-arrow.jpg) no-repeat right center #e7e7e8;
    background-size: auto 100%;
}
.news-big h3:hover a {
    color: #0f48a9 !important;
    transition: all ease 0.3s;
}
.video-text h3 a{
    
    color: #1f5ecb;
   
}

.cap1-bignew h2 a {
    color: #000000;
}

.link li {
    margin: 5px 0 3px 0;
    color: #0f48a9 !important;
}

.intro table, .intro img {
    max-width: 739px !important;
}

#NewsContent img, #NewsContent table {
    max-width: 600px;
    height: auto !important;
}

#NewsContent p, #NewsContent div {
    margin: 1em 0;
}

.dvtinlienquan a {
    text-decoration: none;
    line-height: 23px;
}

.title-blue a {
    color: #1f5ecb;
}



#lightbox-container-image-data-box {
    box-sizing: content-box !important;
}

.document-attach {
    margin-bottom: 20px;
}

    .document-attach ul.list li {
        background: url(../images/icon-attach.png) no-repeat left 4px #fff !important;
        background-size: 16px !important;
        padding: 3px 0 4px 25px;
    }

        .document-attach ul.list li a {
            font-size: 12px;
        }

    .document-attach ul.list {
        width: 100%;
        padding: 8px 0 5px 17px;
    }

.icon-attach {
    width: 30px;
    height: 30px;
    /* border:1px solid red; */
    display: block;
    float: left;
    border-radius: 50%;
    background: url("../images/icon-attach.png") no-repeat center center #fff;
    background-size: 77%;
    margin: -1px 10px 4px 5px;
}

.document-attach .bg_org {
    background: #026db4;
    color: #fff;
    line-height: 32px;
    height: 34px;
}
#NewsContent div, #NewsContent p {
    margin: 1em 0;
   
}
#NewsContent img {
    margin: 0px auto !important;
    text-align: center;
}

#NewsContent table {
    width: auto !important;
    margin: 0px auto !important;
}

@media screen and (max-width: 767px) {
    .chum_anhlist {
        margin-left: 10px;
    }

    #document table, th, td {
        padding: 0px;
        font-size: 86%;
    }

    #NewsContent img {
        height: auto !important;
    }

    #NewsContent img, #NewsContent table {
        max-width:368px !important;
        text-align: center;
    }
    #NewsContent iframe {
        max-width: 368px !important;
        height: auto !important
    }
    .intro table, .intro img {
        max-width: 360px !important;
    }
}

@media screen and (max-width: 485px) {
    #NewsContent img, #NewsContent table {
        width: 100% !important;
        max-width: max-content !important;
        text-align: center;
    }
    #NewsContent iframe {
        max-width: max-content !important;
        height:auto !important
    }
    .intro table, .intro img {
        width: 100% !important;
    }

    .library-img li:nth-child(2n+1) {
        clear: both;
    }
}

#menu a, #menu a:hover, #menu a:active {
    color: #fff !important;
}

.header nav li a {
    padding: 10px 4px;
}

.votecontent {
    color: #1f5ecb;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

.video-list.box-news li:nth-child(3n+1), .library-img .box-news li:nth-child(3n+1) {
    clear: both;
}

.library-img li:nth-child(3n+1) {
    clear: both;
}

.library-img img {
    width: 100%;
}
.number
{
    height:22px;
}
/*tin lien quan*/
.related-posts {
    margin-bottom: 10px;
    margin-top: 10px;
}

    .related-posts li {
        display: block;
        padding: 0 0 10px;
        line-height: 17px;
        position: relative;
    }

        .related-posts li:before {
            content: " ";
            position: absolute;
            width: 6px;
            height: 6px;
            background: red;
            top: 5px;
            border-radius: 999px;
        }

    .related-posts a {
        display: block;
        color: #909090;
        font-weight: bold;
        padding-left: 15px;
        font-size: 14px;
    }
	blockquote {
	
	font-size: inherit;
	
}