*{
	margin:0 auto;
	padding:0;
}
body{
	font-family:Arial, tahoma;
	font-size: 15px;
	line-height: 120%;
}
ul{
	list-style:none;
}
ul,li{
	margin:0;
	padding:0;
}
img{
	border:0;
}
a,
a:hover{
	text-decoration:none;
}
a:hover{
	color:#09918f !important;
	transition:all ease 0.3s;
}
.block-480{
	display: none;
}
.container{
	width: 1170px;
}
.mt50{margin-top: 50px;  }
.mt30{margin-top: 30px !important;  }
.mt20{margin-top: 20px;  }
.mt10{margin-top: 10px;  }
.mt5{margin-top: 5px;  }
.mt15{margin-top: 15px;  }

.nav-mobile{
	display: none;
}
/*------ Go to top ----------*/
#top_gototop{
	position: fixed;
	bottom: 55px;
	right: 20px;
	opacity:0.7;
}
#top_gototop:hover{
	opacity:1;
}
#top_gototop img{
	width:40px;
}

@media (max-width:1170px){
	.container{
		width: 100%;
	}
	img{
		max-width: 100%;
	}
}
@media (min-width: 992px){
	.col-md-12 {
		width: 100%;
	}
}

@media (max-width: 480px){
	.col-xs-12{
		width: 100%;
	}
		.hidden-480{
		display: none;
	}
	.block-480{
		display: block;
	}
}







