
#NewsContent div, #NewsContent p {
    margin: 1em 0;
    max-width: 688px !important;
}
#NewsContent img {
    margin: 0px auto !important;
    text-align: center;
    height: auto !important;
    max-width: 688px !important;
}

#NewsContent table {
    width: auto !important;
    margin: 0px auto !important;
    max-width: 688px !important;
}

@media screen and (max-width: 767px) {
   

    #NewsContent img, #NewsContent table {
        max-width:368px !important;
        text-align: center;
    }
    #NewsContent iframe {
        max-width: 368px !important;
        height: auto !important
    }
    .intro table, .intro img {
        max-width: 360px !important;
    }
}

@media screen and (max-width: 485px) {
    #NewsContent img, #NewsContent table {
        width: 100% !important;
        max-width: max-content !important;
        text-align: center;
    }
    #NewsContent iframe {
        max-width: max-content !important;
        height:auto !important
    }
  
}

