ul.menu {

    padding-left: 0;
}
ul.menu li {
    padding: 0 2px;
}
ul.menu li:first-child {
    padding-left: 0px;
}

    ul.menu li:first-child a {
        padding: 0px 0px;
    }
    
.bg_blu {
    
    font: 18px Arial,Helvetica,sans-serif;
    
}


.boxtin_bg {
    height: 260px;
   
}
.rowtop {
    background-color: #B5D5F2;
    color: #000000;
    font-weight: bold;
}
.rowtop {
    background-color: #B5D5F2;
    color: #000000;
    font-weight: bold;
}
.bgcolor2 {
    background-color: #F0F2F1;
}

.text_noidung a {
    color: #333333;
    text-decoration: none;
}

ul.list {
    
    width: auto;
    min-width: 290px;
}
.bg_blu a{
    color: #02628A;
  
}
.xemtiep a {
    color: #C60C04 !important;
    
}
ul.menu .select {
    background-color: #28A7D5;
}
#ct10 {
    padding-left: 550px;
}
.title {
    
    font: bold 15px Arial,Helvetica,sans-serif;
    
}
ul.listtinmoi {
    height: 334px;
    overflow: hidden;
}
/*page*/
.ctpaging {
    float: right;
    margin: 0;
    padding-right: 6px;
    padding-top: 10px;
}
.ctpaging ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ctpaging li {
    display: inline;
    padding: 0 4px;
}
.ctpaging a, .ctpaging a:visited {
    background-color: #E7E7E7;
    border: 1px solid #D3D3D3;
    color: #545454;
    font: bold 12px Arial,Helvetica,sans-serif;
    padding: 2px 5px;
    text-decoration: none;
}
.ctpaging a:hover {
    background-color: #008BD3;
    border: 1px solid #008BD3;
    color: #FFFFFF;
}
.ctpaging a.currentpage {
    background-color: #008BD3 !important;
    border: 1px solid #008BD3 !important;
    color: #FFFFFF !important;
    cursor: default;
}
.tin_list_anh {
    border: 1px dotted #999;
    float: left;
    margin: 20px 6px 0;
    padding: 5px;
    width: 205px;
}
.social li {
    float: right;
    margin-left: 5px;
    list-style: none outside none;
    
}
.social a {
    color: #8f8f8f;
    font-size: 12px;
    text-decoration: none;
}

.tin_list_anh a {
    color: #037199;
    font: bold 13px/18px Arial,Helvetica,sans-serif;
    text-decoration: none;
}

/*--------- Ảnh --------*/
.content_img .images_content li{ width:30%; float:left;margin:1.5%;height:165px;over-flow:hidden;}
.content_img .images_content li a img{ max-width:100%;}
.images_content li a{ font-weight:bold; font-size:13px; color:#000;text-decoration: none}
.images_contnet li a:hover{ color:red !important;}
.images_content li {
    list-style: outside none none;
}


.chum_anh {
    border: 1px solid #666;
    float: left;
    margin-right: 10px;
     margin-top: 7px;
    opacity: 1;
    padding: 3px;
}
.chum_anhlist {
    margin-left: 40px;
    width: 100%;
}
.content_news ul {
    border-top: 1px dotted #42aba6;
    margin-top: 10px;
    padding: 10px;
}
@media screen and (max-width: 767px) {


    #NewsContent img, #NewsContent table {
        max-width: 480px;
    }
}

@media screen and (max-width: 485px) {
    #NewsContent img, #NewsContent table {
        max-width: 300px;
    }

    .news_mobile {
        display: block;
        background-color: #fff;
        padding: 5px;
        border-top: 1px dotted #CCC;
    }

}
@media screen and (max-width: 480px) {
    .tool_mobile .date {
        width: 56%;
       
    }
    .search_m
    {
        width:23%;
    }
}
.bg_blu a{
    text-decoration:none !important;
}
.social img
{
    width:auto !important;
}
.itemsearch
{
    width:300px;
    float:left;
    padding:6px;
}