.hethong ol li{ list-style:outside; list-style-type:decimal; margin-left:30px; line-height:20px; font-size:14px; position:relative;z-index:20;padding:7px;}
.hethong ul li{ list-style:none; margin-left:30px; line-height:20px; font-size:14px; position:relative;z-index:20;
padding:7px; z-index:1;}
.hethong li p{background-color: #ACF8F1;padding: 10px;position: absolute;right: 0;top: 0px;display: none;font-size: 12px;width: 30%;overflow: hidden;border: 1px solid rgb(3, 178, 161);
border-radius: 7px;}
.hethong li:hover{ background-color:#dffffe;}
.hethong li:hover p{ display:block !important;}
.hethong li div:hover{ color:red;}
.hethong { line-height:30px;}

.congdoan{display:none;}
.daidien{display:none;}
.congdoan-86{display:none;}