BODY {
PADDING: 0px; MARGIN: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #3d3d3d; font-size:12px;
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: 0px 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px;
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
}

.clear { clear:both;}
.fl { float:left;}
.fr { float: right;}

#wrap { margin:0 auto; width:1000px; background-color:#fff; padding-bottom:10px;}

.top { background:url(../images/header.jpg) no-repeat; height:88px; width:1000px; position: relative;}

.main { float:left; width:990px; padding:10px 0 10px 10px;}

.left { float:left; width:264px; padding-right:9px;}

.center { float:left; width:512px;}

.right { float:right; width:195px; padding-right:6px;}

.pad9 { padding:0 9px; float:left; width:256px;}

.footer { margin:0 0 10px 6px; width:967px; padding:10px;
	background-color: #c9e4f2;
	border: 1px solid #46a2d0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	behavior: url(border-radius.htc);}

.text_foot { color:#005d8c; text-align:center; font-size:11px; left:16px; font-weight:bold;}

.bg_tit { background:url(../images/left_tit.gif) no-repeat top left; float:left; padding-left:7px;}
	.bg_tit span { float:left; padding:5px 0; background:url(../images/right_tit.jpg) no-repeat top right;}
	
	
.w264 { width:238px;}

.icon { float: left; padding-right:5px;}

.clip { padding:5px 0 0 4px;}

.pad15 { padding-top:15px;}

.white12 { float:left; padding:0 15px;}
	.white12 a { text-decoration:none; font:bold 13px Arial, Helvetica, sans-serif; color:#0065b7; line-height:20px;}
	.white12 a:hover, .white12 a.chon { color:#000;}
	
.bg_table { padding:5px;}

.text_or { font-size:11px; font-weight:bold; color:#f59000; text-align:center; line-height:20px;}

.text_blue { color:#0a84c1; font-size:11px; text-align:center;}

.blue_cen { text-align:center; font-weight:bold; font-size:11px; color:#0a84c1;}

.blue_left { text-align:left; font-weight:bold; font-size:11px; color:#0a84c1;}
	.blue_left a { text-decoration:none; color:#0a84c1;}
	.blue_left a:hover { text-decoration:underline;}

.bg_blue { background-color:#e2eff8;}

.textW12 { font:bold 13px Arial, Helvetica, sans-serif; color:#fff; line-height:22px; }

.online { float:left; width:112px; padding:12px 5px 8px 5px;}
	.online img { float:left; padding-right:3px;}
	.online a { float:left; width:54px; text-decoration:none; font-weight:bold; font-size:11px; color:#0a84c1;}
	.online a:hover { text-decoration:underline;}
	
.text_orange { color:#f45000; font-size:24px; font-family:"Myriad Pro"; text-align:center; padding:10px;}

.shadow { background:url(../images/shadow_slide.jpg) no-repeat center top; width:100%; text-align:center; padding:15px 0 10px 0; font:bold 18px Arial, Helvetica, sans-serif; color:#999;}

.w512 { width:505px;}

.bg_cen { background:url(../images/bg_cen.gif) repeat-y; width:100%;}

.comm { padding:5px;
	background-color: #fff; float:left;
	margin: 0;
	border-left: 1px solid #77bbdd; border-bottom: 1px solid #77bbdd; border-right: 1px solid #77bbdd;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius:0 0 5px  5px;
	border-radius: 0 0 5px 5px;
	behavior: url(border-radius.htc);}

.ques { background: url(../images/bg_ques.jpg) no-repeat top; width:490px; float:left; margin:5px 0; padding:10px 0 0 10px;}

.avatar { float:left; padding-right:8px;}

.nd { float:right; width:420px;}

.date { font-size:10px; float:right;}

.cauhoi { font-size:11px;}
	.cauhoi a { color:#3d3d3d; text-decoration:none;}
	.cauhoi a:hover { color:#0a84c1; text-decoration:underline;}

.pad7 { padding:10px;}

.like { text-decoration:none; color:#0a84c1; font-size:11px;}
	.like:hover { text-decoration:underline;}
	
.bg_lightblue { background-color:#ecf6fa; padding:5px; margin-top:5px;}

.w368 { width:366px; float:left;}

.date_cm { color:#0a84c1; font-size:11px; padding-top:5px;}
	.date_cm a { color:#0a84c1; font-size:11px; text-decoration:none;}
	.date_cm a:hover { text-decoration:underline;}
	
.form_cm { background:url(../images/comment.gif) no-repeat; width:410px; height:37px; margin-top:5px; padding:5px;}

.ketban { float:left; padding:10px 0 5px 20px; width:76px; text-align:center;}
	.ketban a img { padding-bottom:3px;}
	.ketban a { color:#007ebf; font-size:11px; text-decoration:none; width:76px;}
	.ketban a:hover { color:#f59000;}
	
.pad4 { padding:0 4px;}

.w187 { width:180px;}

.menu { float:right; padding:0 10px 5px 0;
	width:760px;
	height:25px;
	text-align:right;
}

.search { position:absolute; top:43px; right:27px; width:170px; height:25px;}

.form_search { width:130px; height:18px; font:normal 11px Tahoma, Geneva, sans-serif; color:#CCC; border:solid 1px #12567c; background-color:#12567c; margin-top:1px;}

.menulink { font:bold 12px Arial, Helvetica, sans-serif; color:#007498;}
	.menulink a { text-decoration:none; padding:0 5px; color:#007498;}
	.menulink a:hover { color:#cb0005;}


/* them moi ngay 20-06 */

.sub { margin:0; padding:0;}
	.sub ul { margin:0; padding-left:15px; display:inline; padding:0;}
	.sub ul li { list-style:none; padding:3px 0 2px 9px; margin:0; background:url(../images/but1.gif) no-repeat -5px 5px; border-bottom:none;}
	.sub ul li a { font-size:13px; font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none;}
	.sub ul li a:hover, .sub ul li a.active { color:#cb0005;}

.pad5 { padding-top:5px;}

.pad_around5 { padding:10px 10px 0 10px;}

.box_round {
	margin: 0;
	padding: 10px;
	border: 3px solid #c9e4f2;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.popup { background:none;}

.box_popup {
	margin: 0;
	padding: 5px;
	border: 2px solid #46a2d0;
	width:500px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color:#f5fbff;
}

.form_1 { 
	width:250px; height:18px; font:normal 11px Tahoma, Geneva, sans-serif; color:#0385bf; 
	background-color:#fff; border:solid 1px #a2d0ea;}

.khungpage { padding:15px 0px 10px 80px; width:400px; float:left;}

.pagination { padding: 4px 2px 2px 2px; margin:0 auto; float:left; color:#0174b0;}
.pagination ul { margin: 0 auto; padding: 0; text-align:left; /*Set to "right" to right align pagination interface*/}
.pagination li { list-style-type: none; display: inline; padding:0;}
.pagination a, .pagination a:visited { padding: 2px 5px; text-decoration: none; font:bold 11px Tahoma, Geneva, sans-serif; color:#0174b0; border: 1px solid #bee6ff;}
.pagination a:hover, .pagination a:active { color: #fff;  border: 1px solid #0f95da; background-color:#42bfe8;}
.pagination a.currentpage { color: #fff !important; cursor: default; background-color: #19b3e4; border-color: #0f95da;}
.pagination a.disablelink, .pagination a.disablelink:hover { background-color: white; cursor: default; color: #929292; border-color: #ccc; font-weight: normal !important;}

.back { float:left; padding:2px 10px 0px 0px;}

.next { float:left; padding:2px 0px 0px 10px;}

.dark-blue { background-color:#38b4e7;}

.dathi { color:#09F; font-weight:bold;}

.fail { color:#F00; font-weight:bold;}

.pass { color:#090; font-weight:bold;}

.chuathi { color:#F60; font-weight:bold;}

.w_popup { width:400px;}

.position { position:relative;  background-color:#c9e4f2; padding:4px 0 4px 10px; font:bold 16px Arial, Helvetica, sans-serif; color:#fff;}

.close { top:3px; right:3px; width:20px; height:20px; position:absolute; _right:8px;}

.form_2 { 
	width:200px; height:18px; font:normal 11px Tahoma, Geneva, sans-serif; color:#0385bf; 
	background-color:#fff; border:solid 1px #a2d0ea;}
.form_nhap { width:250px; height:50px; font:normal 11px Tahoma, Geneva, sans-serif; color:#575757; border:none; overflow:hidden; border:solid 1px #a2d0ea;}


/* trang chu */

.left1 { float:left; width:195px; padding-right:6px;}

.right1 { float:left; width:775px; padding-left:5px;}

.elearning { padding-bottom:10px; float:left; background: url(../images/noibo.jpg) no-repeat top center; height:67px; width:775px;}

.w775 { width:765px;}

.w753 { width:743px;}

.bg_large { background:url(../images/bg_large.gif) repeat-y; width:775px;}

ul.list { margin:0; padding:8px 5px 8px 10px; display:inline; float:left; width:90%;}
	ul.list li { list-style:none; background: url(../images/arr1.gif) no-repeat 0 11px; padding:1px 0 1px 12px; margin:0;}
	ul.list li a { font-size:13px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:none; color:#0c5679; width:100%; line-height:24px; display:block;}
	ul.list li a:hover { color:	#c70704;}

	
.text_w { float:left; font:bold 16px Arial, Helvetica, sans-serif; color:#fff; line-height:24px;}
	.text_w a { text-decoration:none; color:#fff; padding:0 15px;}
	.text_w a:hover { text-decoration:underline;}
	
.box_item { float:left; width:365px; padding:5px 0 20px 12px; background:url(../images/shadow.jpg) bottom right no-repeat;}

.box_inner { background-color:#fff; border:1px solid #4db0e0; padding:10px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}

.name_course { color:#f45000; font:bold 16px Arial, Helvetica, sans-serif; padding-bottom:7px;}
	.name_course a { text-decoration:none; color:#f45000;}
	.name_course a:hover { text-decoration:underline;}
	
.button { float:right; padding-top:10px;}
	.button:hover { }
	
.pad_around1 { padding:10px 0;}

.box_out { float:left;
	margin-bottom: 10px;
	padding: 4px;
	border: 1px solid #158cc7;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(border-radius.htc);}
	
.width195 { width:185px;}

.width165 { width:163px;}

.width264 { width:254px;}

.width512 { width:502px;}

.box_in {background:url(../images/bg_gra.jpg) repeat-x top; float:left;
	margin: 0;
	padding: 3px 10px;
	border: 1px solid #006da4;

	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	behavior: url(border-radius.htc);}
	
.box_button { float:right; width:240px; border:dotted 1px #77bbdd; padding:10px; background-color:#E2F3FE; -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(border-radius.htc);}

.but_home { float:left; padding:5px; border: 1px solid #46a2d0; background-color: #c9e4f2; color:#0065b7; font:bold 12px Tahoma, Geneva, sans-serif; margin-right:7px; margin-top:10px;}
	.but_home a {  color:#0065b7; text-decoration:none; display:block;}
	.but_home:hover a { color:#333;}
	.but_home:hover { background-color:#F9BB68; border:solid 1px #F60;}
	
.khoahoc { width:480px; float:left; padding-left:10px;}

.account {
	position:absolute;
	top:2px;
	right:28px;
	width: 234px;
}
	.account p { float:right; padding:1px;}
	.account p:hover { border:solid 1px #06F; padding:0;}
	.account span { font:normal 11px Tahoma, Geneva, sans-serif; color:#666; padding-left:8px; float:right; padding-top:5px;}
	.account span a { color:#666; text-decoration:none;}
	.account span a:hover { color:#06F; text-decoration:underline;}

.mail_print { float:right; padding:0 10px 8px 0;}

.form_comment { 
	width:360px; 
	height:37px; 
	font:normal 11px Tahoma, Geneva, sans-serif; 
	color:#575757; border:none; overflow:hidden; _height:30px; _width:355px; _border:solid 1px white;}

.datcauhoi {
	border:dotted 1px #46a2d0; padding:4px; -moz-border-radius: 4px; background-color:#fff; margin-bottom:6px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url(border-radius.htc);}
	
.frame_datcauhoi { background-color:#c9e4f2; padding:10px; margin:1px 0 6px 0;}

.form_question { 
	width:470px; 
	height:50px; 
	font:normal 11px Tahoma, Geneva, sans-serif; 
	color:#575757; border:none; overflow:hidden; _height:50px; _width:465px; _border:solid 1px white;}
	
.send_question { border:solid 1px #fff; padding:4px 6px; -moz-border-radius: 4px; background-color:#46a2d0; color:#fff; font:bold 12px Tahoma, Geneva, sans-serif; float:right;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url(border-radius.htc);}
	.send_question a { color:#fff; text-decoration:none;}
	.send_question a:hover { color:#039;}

.page_bottom { padding-top:8px; float:right;}

.sameproduct { float:left; padding:12px 0 3px 0;}
	.sameproduct img { float:left; padding-right:5px; width:50px;}
	.sameproduct a { float:left; width:129px; text-decoration:none; font-weight:normal; font-size:11px; color:#666;}
	.sameproduct a:hover { text-decoration:underline;}

.slogan {
	position:absolute;
	top:67px;
	left:46px;
	color:#fff;
	font:normal 10px Tahoma, Geneva, sans-serif;
}


/* trang tu van */

.left_tuvan { float:left; width:195px; padding-right:15px;}

.center_tuvan { float:left; width:570px;}

.borderbot { border-bottom:dotted 1px #096fba;}

.text_cen { text-align:center; font-size:12px; font-weight:normal; color:#006fbf; line-height:18px; padding-bottom:15px;}

.fr { float:right;}

.camdo { color:#fe4800; font:bold 16px Arial, Helvetica, sans-serif;}

.size12 { font-size:12px;}

.xemtiep { float:right; padding-top:7px;}

.boxform { width:277px; float:left;}

.bg_box { padding: 5px 10px 0 10px; background:url(../images/bg_form.jpg) no-repeat; height:35px;}

.form_3 { 
	width:155px; height:18px; font:normal 11px Tahoma, Geneva, sans-serif; color:#0385bf; 
	background-color:#fff; border:solid 1px #a2d0ea;}

.form_4 { 
	width:155px; height:60px; font:normal 11px Tahoma, Geneva, sans-serif; color:#0385bf; 
	background-color:#fff; border:solid 1px #a2d0ea;}
	
.xct { padding:10px; text-align:right;}
	.xct a { font:bold 11px Arial, Helvetica, sans-serif; color:#000; text-decoration:none;}

.opa { opacity:1;}
.opa:hover { opacity:0.6;}
ul.listbc { display:inline; margin:0; padding:8px 0 5px 10px;}
	ul.listbc li { list-style:none; background:url(../images/arr2.gif) no-repeat 0 7px; padding:0 0 2px 15px; margin:0;}
	ul.listbc li a { color:#000; text-decoration:none; font:normal 13px Arial, Helvetica, sans-serif; line-height:20px;}
	ul.listbc li a:hover { color:#035096; font-weight:bold;}

    
.logout { padding:30px 0 0 190px;}
	.logout a { padding:0 20px; color:#333; text-decoration:none;}
	.logout a:hover { color:#C00;}