/*page*/
.ctpaging {
    float: right;
    margin: 0;
    padding-right: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ctpaging ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ctpaging li {
    display: inline;
    padding: 0 4px;
}
.ctpaging a, .ctpaging a:visited {
    background-color: #E7E7E7;
    border: 1px solid #D3D3D3;
    color: #545454;
    font: bold 12px Arial,Helvetica,sans-serif;
    padding: 2px 5px;
    text-decoration: none;
}
.ctpaging a:hover {
    background-color: #008BD3;
    border: 1px solid #008BD3;
    color: #FFFFFF;
}
.ctpaging a.currentpage {
    background-color: #008BD3 !important;
    border: 1px solid #008BD3 !important;
    color: #FFFFFF !important;
    cursor: default;
}


/*doc*/
.rowtop {
    background-color: #B5D5F2;
    color: #000000;
    font-weight: bold;
}

.bgcolor1 {
    background-color: #FFFFFF;
}

.bgcolor2 {
    background-color: #F0F2F1;
}
.text_noidung a {
    color: #333333;
    text-decoration: none;
}

/*news*/

.tenbai {
    color: #CC0000;
    font: bold 18px Arial,Helvetica,sans-serif;
    padding-top: 10px;
}

.text_blue {
    color: #0075B9;
    font: 11px/20px Tahoma,Geneva,sans-serif;
    padding-top: 6px;
    text-align: right;
}
.c_ic_moi {
	
	display: inline;
	background: #8dc73f;
	font-size: 9px;
	color: #fff;
	margin: 10px 0 0 5px;
	padding: 0 5px;
	height: 16px;
	line-height: 16px;
	animation: c_ic_moi 1s infinite;
	-webkit-animation: c_ic_moi 1s infinite;
	-moz-animation: c_ic_moi 1s infinite;
}
.tin_list_anh {
    border: 1px dotted #999;
    float: left;
    margin: 20px 6px 0;
    padding: 5px;
    width: 135px;
}
.tenbai
{
    font-weight:bold;
    margin-top:20px;
}