.tinlienquan
{
    color: #3300ff;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}
.tinlienquan:hover
{
    color: #3300ff;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}

.textcontent
{
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    text-align: justify;
}
