html, body{
	margin:0px;
	padding:0px;
	font-family: Verdana,Helvetica,sans-serif;
    font-size: 11px;
    background-image: none; 
    background-color: #1c5b94;
    text-align: right;
    height:100%;
}
.login
{
    width: 100px;
    height: 20px;
    border-top: 1px solid #002e4e;
    border-right: 1px solid #002e4e;
    border-bottom: 1px solid #002e4e;
    border-left: 1px solid #002e4e;
    background-color: #6390b9;
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    color: #FFFFFF;
}

.login_form_txt
{
    color: #54678C;
    font-family: verdana;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    padding: 0px 15px 0px 0px;
    vertical-align: middle;
}
.login_form_input
{
    width: 155px;
    height: 20px;
    background: #D2DFEC;
    border: 1px solid #6A8BA8;
}
.login_form_td
{
    padding: 3px 0px 3px 0px;
    text-align: right;
}
.login_error
{
    color: blue;
    font-family: verdana;
    font-size: 11px;
    font-weight:bold;
    text-align: center;
    }