A.pager
{
	border: 1px solid;
	FONT-SIZE: 11px; 
	MARGIN: 2px; 
	COLOR: #434343; 
	FONT-FAMILY: "tahoma"; 
	TEXT-DECORATION: none; 
	padding:0px 5px 0px 5px;
	vertical-align:middle;
	
}
.pager:hover
{ 
    COLOR: #003399; 
    TEXT-DECORATION: none 
    }

A.pager-current
{ 
	BORDER: #434343 1px solid; 
	padding:0px 5px 0px 5px;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	MARGIN: 2px; 
	COLOR: #ff0000; 
	FONT-FAMILY: "tahoma"; 
	BACKGROUND-COLOR: rgb(238,236,233); 
	TEXT-DECORATION: none;
	vertical-align:middle;
}
.pager-current:hover
{ 
    COLOR: #003399; 
    TEXT-DECORATION: none 
    }
.icon_paper
{
    vertical-align:middle;
    margin-left: 2px;  margin-right: 2px; 
    }