
.header{
	background-color:#67AAD3;
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffcc00; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
	height:22px;
}
.alter{
	background-color:#CBE6ED;height:20px;
	BORDER-TOP: #b3c5e1 1px solid; BORDER-LEFT: #b3c5e1 1px solid; BORDER-BOTTOM: #b3c5e1 1px solid; 
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none;

}
.item{
	background-color:#ffffff;height:20px;	
	BORDER-TOP: #b3c5e1 1px solid; BORDER-LEFT: #b3c5e1 1px solid; BORDER-BOTTOM: #b3c5e1 1px solid; 
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
}
