
/****** Object:  UserDefinedFunction [dbo].[FN_Parameters_Split]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_Parameters_Split]
    (@String NVARCHAR(MAX)
    ,@Delimiter NVARCHAR(10))
RETURNS @ValueTable TABLE ([Index] INT IDENTITY(1,1), [Value] NVARCHAR(1000))
BEGIN
    DECLARE @NextString NVARCHAR(MAX)
    DECLARE @Pos INT
    DECLARE @NextPos INT
    DECLARE @CommaCheck NVARCHAR(1)
 
 --Initialize
    SET @NextString = ''
    SET @CommaCheck = RIGHT(@String,1) 
 
 --Check for trailing Comma, if not exists, INSERT
 --if (@CommaCheck <> @Delimiter )
    SET @String = @String + @Delimiter
 
 --Get position of first Comma
    SET @Pos = CHARINDEX(@Delimiter,@String)
    SET @NextPos = 1
 
 --Loop while there is still a comma in the String of levels
    WHILE (@pos <> 0) 
        BEGIN
            SET @NextString = SUBSTRING(@String,1,@Pos - 1)
 
            INSERT  INTO @ValueTable
                    ([Value])
            VALUES  (LTRIM(RTRIM(@NextString)))
 
            SET @String = SUBSTRING(@String,@pos + 1,LEN(@String))
  
            SET @NextPos = @Pos
            SET @pos = CHARINDEX(@Delimiter,@String)
        END
 
    RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[FN_Parameters_Split2]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create FUNCTION [dbo].[FN_Parameters_Split2](@CSVStr VARCHAR(MAx),@Delimiter NVARCHAR(10)) 
RETURNS @Tbl TABLE (ValueColumn VARCHAR(1000))
AS
BEGIN
	DECLARE @SubStr VARCHAR(100), @i INT
 
	SET @i = CHARINDEX(@Delimiter, @CSVStr, 0)
	WHILE @i > 0
	BEGIN
		SET @SubStr = LEFT(@CSVStr,@i-1)
		INSERT INTO @Tbl
		SELECT @SubStr
 
		SET @CSVStr = SUBSTRING(@CSVStr, @i+1,8000)
		SET @i = CHARINDEX(@Delimiter, @CSVStr, 0)
	END	
 
	INSERT INTO @Tbl
	SELECT LTRIM(RTRIM(@CSVStr))
 
	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[FN_Parameters_SplitTable]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_Parameters_SplitTable]
    (@String NVARCHAR(MAX)
    ,@RowDelimiter NVARCHAR(10)
    ,@ColumnDelimiter NVARCHAR(10))
RETURNS @Table TABLE ([Index] INT IDENTITY, [Value1] NVARCHAR(200), [Value2] NVARCHAR(200), [Value3] NVARCHAR(200), [Value4] NVARCHAR(200),  [Value5] NVARCHAR(200),[ValueN] NVARCHAR(200))
BEGIN
    
    DECLARE @Value NVARCHAR(1000);
    DECLARE CUR_SPLIT CURSOR FOR
    SELECT Value FROM dbo.FN_Parameters_Split(@String,@RowDelimiter);
    
    OPEN CUR_SPLIT
	FETCH NEXT FROM CUR_SPLIT INTO @Value
	WHILE @@FETCH_STATUS = 0
	BEGIN
		DECLARE @Index INT = 0;
		DECLARE @ValueIn NVARCHAR(200)='';
		DECLARE	@ColumnCount INT = 1;
		
		IF(ISNULL(@Value,'') <> '')
		BEGIN		
			WHILE (@ColumnCount <= (SELECT COUNT(*) FROM dbo.FN_Parameters_Split(@Value,@ColumnDelimiter)))
			BEGIN
				SELECT TOP 1 @ValueIn=Value FROM dbo.FN_Parameters_Split(@Value,@ColumnDelimiter) WHERE [Index] = @ColumnCount;
				
				IF(@ColumnCount = 1)
				BEGIN
					INSERT INTO @Table(Value1)VALUES(@ValueIn);
					SET @Index = @@IDENTITY;
				END
				ELSE IF (@ColumnCount = 1)
				BEGIN
					UPDATE @Table SET Value1 = @ValueIn WHERE [Index] = @Index;
				END
				ELSE IF (@ColumnCount = 2)
				BEGIN
					UPDATE @Table SET Value2 = @ValueIn WHERE [Index] = @Index;
				END
				ELSE IF (@ColumnCount = 3)
				BEGIN
					UPDATE @Table SET Value3 = @ValueIn WHERE [Index] = @Index;
				END
				ELSE IF (@ColumnCount = 4)
				BEGIN
					UPDATE @Table SET Value4 = @ValueIn WHERE [Index] = @Index;
				END
				ELSE IF (@ColumnCount = 5)
				BEGIN
					UPDATE @Table SET Value5 = @ValueIn WHERE [Index] = @Index;
				END
				ELSE BEGIN
					UPDATE @Table SET ValueN = ISNULL(ValueN,'') + CASE WHEN ISNULL(ValueN,'') <> '' THEN ';' ELSE '' END + @ValueIn
					WHERE [Index] = @Index;
				END
				
				SET @ColumnCount  = @ColumnCount + 1;
			END 
		END
		
		FETCH NEXT FROM CUR_SPLIT INTO @Value
	END
	
	CLOSE CUR_SPLIT;
	DEALLOCATE CUR_SPLIT;
	
	RETURN;
END
GO
/****** Object:  UserDefinedFunction [dbo].[FN_Split]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_Split] 
(
 @Keyword NVARCHAR(4000),
 @Delimiter NVARCHAR(255)
)
RETURNS @SplitKeyword TABLE (Keyword NVARCHAR(4000))
AS
BEGIN
 DECLARE @Word NVARCHAR(255)
 DECLARE @TempKeyword TABLE (Keyword NVARCHAR(4000))

 WHILE (CHARINDEX(@Delimiter, @Keyword, 1)>0)
 BEGIN
  SET @Word = SUBSTRING(@Keyword, 1 , CHARINDEX(@Delimiter, @Keyword, 1) - 1)
  SET @Keyword = SUBSTRING(@Keyword, CHARINDEX(@Delimiter, @Keyword, 1) + 1, LEN(@Keyword))
  INSERT INTO @TempKeyword VALUES(@Word)
 END
 
 INSERT INTO @TempKeyword VALUES(@Keyword)
 
 INSERT @SplitKeyword
 SELECT * FROM @TempKeyword
 RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetFatherID_Function]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<cuongpm6>
-- Create date: <07/31/2018>
-- Description:	<Lay FatherID theo FunctionID>
-- =============================================
CREATE FUNCTION [dbo].[GetFatherID_Function]
(
	@_FunctionID int
)
RETURNS INT
AS

BEGIN
	DECLARE @_FatherID INT
	SELECT @_FatherID = [FatherID] FROM  dbo.Functions WHERE  FunctionID= @_FunctionID
	RETURN @_FatherID

END
GO
/****** Object:  UserDefinedFunction [dbo].[GetFatherName_Function]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<cuongpm6>
-- Create date: <07/31/2018>
-- Description:	<Lay Ten chuc nang cha theo @_FatherID>
-- =============================================
CREATE FUNCTION [dbo].[GetFatherName_Function]
(
	-- Add the parameters for the function here
	@_FatherID int
)
RETURNS NVARCHAR(150)
AS
BEGIN
	DECLARE @_FatherName NVARCHAR(150)
	SELECT @_FatherName=[FunctionName] FROM dbo.Functions WHERE FunctionID=@_FatherID
	RETURN @_FatherName

END
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[ErrorLogID] [int] IDENTITY(1,1) NOT NULL,
	[ErrorTime] [datetime] NOT NULL,
	[UserName] [nvarchar](128) NOT NULL,
	[HostName] [nvarchar](200) NULL,
	[ErrorNumber] [int] NOT NULL,
	[ErrorCode] [int] NULL,
	[ErrorSeverity] [int] NULL,
	[ErrorState] [int] NULL,
	[ErrorProcedure] [nvarchar](126) NULL,
	[ErrorLine] [int] NULL,
	[ErrorMessage] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_ErrorLog] PRIMARY KEY CLUSTERED 
(
	[ErrorLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Functions]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Functions](
	[FunctionID] [int] IDENTITY(1,1) NOT NULL,
	[FunctionName] [nvarchar](150) NOT NULL,
	[FunctionCode] [nvarchar](50) NULL,
	[Url] [nvarchar](150) NOT NULL,
	[UrlDisplay] [nvarchar](150) NULL,
	[IsDisplay] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedTime] [datetime] NULL,
	[FatherID] [int] NULL,
	[Order] [int] NULL,
	[SystemID] [int] NULL,
	[IconId] [nvarchar](50) NULL,
 CONSTRAINT [PK_Functions] PRIMARY KEY CLUSTERED 
(
	[FunctionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupFunctions]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupFunctions](
	[UserID] [int] NOT NULL,
	[FunctionID] [int] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[IsInsert] [bit] NULL,
	[IsUpdate] [bit] NULL,
	[IsDelete] [bit] NULL,
	[IsFullControl] [bit] NULL,
	[FunctionCode] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
 CONSTRAINT [PK_GroupFunctions] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[FunctionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Alias] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NULL,
	[Password2] [varchar](50) NULL,
	[FullName] [nvarchar](150) NULL,
	[Email] [varchar](150) NULL,
	[Mobile] [varchar](50) NULL,
	[Type] [int] NULL,
	[Group] [int] NULL,
	[Piority] [int] NULL,
	[BalanceHold] [int] NULL,
	[Balance] [int] NULL,
	[PercentVNP] [int] NULL,
	[PercentVMS] [int] NULL,
	[PercentVTT] [int] NULL,
	[Config] [varchar](50) NULL,
	[CreatedUser] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[StatusVNP] [bit] NULL,
	[StatusVMS] [bit] NULL,
	[StatusVTT] [bit] NULL,
	[Status] [bit] NULL,
	[UserAPI] [varchar](50) NULL,
	[PasswordAPI] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFunctions]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFunctions](
	[UserID] [int] NOT NULL,
	[FunctionID] [int] NOT NULL,
	[CreatedTime] [datetime] NULL,
	[IsInsert] [bit] NULL,
	[IsUpdate] [bit] NULL,
	[IsDelete] [bit] NULL,
	[IsFullControl] [bit] NULL,
	[FunctionCode] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserFuntions] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[FunctionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogs]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FunctionCode] [nvarchar](50) NOT NULL,
	[LogTime] [datetime] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[LogType] [int] NULL,
	[ClientIP] [varchar](20) NULL,
	[UserName] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserLogs] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[Functions] ON 

INSERT [dbo].[Functions] ([FunctionID], [FunctionName], [FunctionCode], [Url], [UrlDisplay], [IsDisplay], [IsActive], [CreatedTime], [FatherID], [Order], [SystemID], [IconId]) VALUES (1, N'Quản trị hệ thống', N'system', N'#', N'', 1, 1, CAST(N'2018-09-17T14:02:35.560' AS DateTime), 0, 0, 0, N'fa fa-fw fa-cog')
INSERT [dbo].[Functions] ([FunctionID], [FunctionName], [FunctionCode], [Url], [UrlDisplay], [IsDisplay], [IsActive], [CreatedTime], [FatherID], [Order], [SystemID], [IconId]) VALUES (2, N'Quản trị người dùng', N'users', N'/System/ManagerUser', NULL, 1, 1, CAST(N'2018-09-17T16:18:05.423' AS DateTime), 1, 2, 0, NULL)
INSERT [dbo].[Functions] ([FunctionID], [FunctionName], [FunctionCode], [Url], [UrlDisplay], [IsDisplay], [IsActive], [CreatedTime], [FatherID], [Order], [SystemID], [IconId]) VALUES (6, N'Log hệ thống', N'userlog', N'/System/ManagerUserLog', N'', 1, 1, CAST(N'2018-09-21T14:37:27.887' AS DateTime), 1, 0, 0, N'')
SET IDENTITY_INSERT [dbo].[Functions] OFF
INSERT [dbo].[GroupFunctions] ([UserID], [FunctionID], [CreatedTime], [IsInsert], [IsUpdate], [IsDelete], [IsFullControl], [FunctionCode], [UserName]) VALUES (2, 2, CAST(N'2019-05-23T13:43:22.670' AS DateTime), 1, 1, 0, 0, N'users', NULL)
INSERT [dbo].[GroupFunctions] ([UserID], [FunctionID], [CreatedTime], [IsInsert], [IsUpdate], [IsDelete], [IsFullControl], [FunctionCode], [UserName]) VALUES (2, 6, CAST(N'2019-05-23T13:43:22.670' AS DateTime), 0, 0, 0, 0, N'userlog', NULL)
INSERT [dbo].[GroupFunctions] ([UserID], [FunctionID], [CreatedTime], [IsInsert], [IsUpdate], [IsDelete], [IsFullControl], [FunctionCode], [UserName]) VALUES (2, 7, CAST(N'2019-05-23T13:43:22.670' AS DateTime), 1, 1, 1, 1, N'group', NULL)
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([GroupID], [Name], [Alias], [IsActive], [Type]) VALUES (1, N'admin', N'', 1, 1)

SET IDENTITY_INSERT [dbo].[Groups] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [Password], [Password2], [FullName], [Email], [Mobile], [Type], [Group], [Piority], [BalanceHold], [Balance], [PercentVNP], [PercentVMS], [PercentVTT], [Config], [CreatedUser], [CreatedDate], [StatusVNP], [StatusVMS], [StatusVTT], [Status], [UserAPI], [PasswordAPI]) VALUES (1, N'admin', N'd138768d3b5eca407f0dd579c5ca3767', N'19f62ab12149203d50db176683a8ebd5', N'admin', N'admin@gmail.com', NULL, 1, NULL, 1, 1200, 998800, 100, 100, 100, N'admin', N'admin', CAST(N'2018-09-11T14:54:01.023' AS DateTime), 1, 1, 1, 1, N'toan_dl1_api', N'toan@123')
INSERT [dbo].[User] ([UserID], [Username], [Password], [Password2], [FullName], [Email], [Mobile], [Type], [Group], [Piority], [BalanceHold], [Balance], [PercentVNP], [PercentVMS], [PercentVTT], [Config], [CreatedUser], [CreatedDate], [StatusVNP], [StatusVMS], [StatusVTT], [Status], [UserAPI], [PasswordAPI]) VALUES (14, N'test01', N'062e058bab4712217e0afdc987457430', N'19f62ab12149203d50db176683a8ebd5', N'test01', N'', N'', 2, 1, 1, 0, 0, 100, 100, 100, N'', N'admin', CAST(N'2019-07-03T09:20:32.450' AS DateTime), 1, 1, 1, 1, N'', N'')
SET IDENTITY_INSERT [dbo].[User] OFF

ALTER TABLE [dbo].[Functions] ADD  CONSTRAINT [DF_Functions_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Functions] ADD  CONSTRAINT [DF_Functions_SystemID]  DEFAULT ((0)) FOR [SystemID]
GO
ALTER TABLE [dbo].[GroupFunctions] ADD  CONSTRAINT [DF_GroupFunctions_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Groups] ADD  CONSTRAINT [DF_Groups_Type]  DEFAULT ((2)) FOR [Type]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Type]  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Piority]  DEFAULT ((1)) FOR [Piority]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_BalanceHold]  DEFAULT ((0)) FOR [BalanceHold]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Balance]  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Percent]  DEFAULT ((0)) FOR [PercentVTT]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[UserFunctions] ADD  CONSTRAINT [DF_UserFuntions_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[UserFunctions] ADD  CONSTRAINT [DF_UserFunctions_IsInsert]  DEFAULT ((0)) FOR [IsInsert]
GO
ALTER TABLE [dbo].[UserFunctions] ADD  CONSTRAINT [DF_UserFunctions_IsUpdate]  DEFAULT ((0)) FOR [IsUpdate]
GO
ALTER TABLE [dbo].[UserFunctions] ADD  CONSTRAINT [DF_UserFunctions_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[UserLogs] ADD  CONSTRAINT [DF_UserLogs_LogTime]  DEFAULT (getdate()) FOR [LogTime]
GO
ALTER TABLE [dbo].[UserLogs] ADD  CONSTRAINT [DF_UserLogs_LogType]  DEFAULT ((0)) FOR [LogType]
GO
ALTER TABLE [dbo].[GroupFunctions]  WITH CHECK ADD  CONSTRAINT [FK_GroupFunctions_Functions] FOREIGN KEY([FunctionID])
REFERENCES [dbo].[Functions] ([FunctionID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupFunctions] CHECK CONSTRAINT [FK_GroupFunctions_Functions]
GO
ALTER TABLE [dbo].[GroupFunctions]  WITH CHECK ADD  CONSTRAINT [FK_GroupFunctions_Groups] FOREIGN KEY([UserID])
REFERENCES [dbo].[Groups] ([GroupID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupFunctions] CHECK CONSTRAINT [FK_GroupFunctions_Groups]
GO
/****** Object:  StoredProcedure [dbo].[SP_ErrorLog_Delete]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ErrorLog_Delete]
	 @FromDate DateTime =null
	,@ToDate DateTime =null
	,@ErrorCode	int OUTPUT
AS
BEGIN
	SET NOCOUNT, XACT_ABORT ON;
	BEGIN TRANSACTION
	BEGIN TRY
		DELETE FROM ErrorLog 
		WHERE 
			(@FromDate IS NULL OR ErrorTime>=@FromDate )
			AND
			(@ToDate IS NULL OR ErrorTime <= @ToDate)
		SET @ErrorCode = 0
	COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @ErrorCode = -99;
		IF XACT_STATE() = -1 
			BEGIN
				-- Rollback
				ROLLBACK TRANSACTION;
				-- Insert Log
				EXEC	[dbo].[SP_LogError] 
						@ErrorCode = @ErrorCode OUTPUT
			END
		IF (XACT_STATE() = 1) COMMIT TRANSACTION;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ErrorLogGetTime]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ErrorLogGetTime]
	-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE
		 @FromDate DATETIME =NULL
		,@ToDate DATETIME =NULL
		,@PageNumber INT
		,@PaSize INT
AS
BEGIN
	DECLARE @SQL NVARCHAR(MAX)
	DECLARE @CONDITION NVARCHAR(MAX)
	DECLARE @START INT, @END INT
	BEGIN TRANSACTION GETDATASET
		SET @CONDITION=''
		SET @SQL=''
		SET @START = (((@PageNumber - 1) * @PaSize) + 1)
		SET @END = (@START + @PaSize - 1)
		SET @SQL = ' DECLARE  @TEMPORARYTABLE TABLE (
			ID INT IDENTITY(1,1) PRIMARY KEY,
			[ErrorLogID] INT,
			[ErrorTime] DATETIME,
			[UserName] NVARCHAR(50),
			[HostName] NVARCHAR (100),
			[ErrorNumber] INT,
			[ErrorCode] INT,
			[ErrorSeverity] INT ,
			[ErrorState] INT,
			[ErrorProcedure] NVARCHAR (100),
			[ErrorLine] INT,
			[ErrorMessage] NVARCHAR(1000) )		
			DECLARE @COUNTER INT'
		SET @SQL=@SQL+' INSERT INTO @TEMPORARYTABLE
						SELECT ErrorLogID
							  ,ErrorTime
							  ,UserName
							  ,HostName
							  ,ErrorNumber
							  ,ErrorCode
							  ,ErrorSeverity
							  ,ErrorState
							  ,ErrorProcedure
							  ,ErrorLine
							  ,	ErrorMessage			 
						FROM ErrorLog WHERE ERRORLOGID >= 0 '
		IF(@FROMDATE IS NOT NULL)
					SET @CONDITION=@CONDITION +' AND ErrorTime>= '''  +   CONVERT(NVARCHAR,  @FROMDATE, 0)  + '''' 
		           			 
				IF(@TODATE IS NOT NULL)
					SET @CONDITION=@CONDITION +' AND  ErrorTime<= '''  +   CONVERT(NVARCHAR,  @TODATE, 0)  + '''' 
					
				SET @CONDITION=@CONDITION + 'ORDER BY ErrorLogID DESC'
		
		SET @SQL=@SQL+@CONDITION
		SET @SQL= @SQL +' SELECT @COUNTER = COUNT(*) FROM @TEMPORARYTABLE  	
						  SELECT TOP ('+CAST(@PaSize AS VARCHAR(10)) +') 
							  ErrorLogID
							  ,ErrorTime
							  ,UserName
							  ,HostName
							  ,ErrorNumber
							  ,ErrorCode
							  ,ErrorSeverity
							  ,ErrorState
							  ,ErrorProcedure
							  ,ErrorLine
							  ,ErrorMessage
							  ,@COUNTER AS Counter
						  FROM @TEMPORARYTABLE
						  WHERE (ID >='+CAST(@START AS VARCHAR(10))+') AND (ID <= '+CAST(@END AS VARCHAR(10))+')
						  DELETE FROM @TEMPORARYTABLE'
			--PRINT (@SQL)
			EXEC SP_EXECUTESQL @SQL
			IF @@ERROR <> 0
				GOTO ERRORHANDLER	
			COMMIT TRANSACTION GETDATASET
		RETURN 0
		ERRORHANDLER:
		ROLLBACK TRANSACTION GETDATASET
	RETURN @@ERROR
END



	--SELECT * FROM ERRORLOG 
	--WHERE (@FROMDATE IS NULL OR ERRORTIME>=@FROMDATE )AND(@TODATE IS NULL OR ERRORTIME <= @TODATE)
	--ORDER BY ERRORTIME ASC
	--END
GO
/****** Object:  StoredProcedure [dbo].[SP_Function_UpdateSortOrder]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Function_UpdateSortOrder]
	 @FunctionID INT
	,@FatherID INT = null
	,@Order INT = null
AS
BEGIN
	IF EXISTS(SELECT 1 FROM [dbo].[Functions] WHERE [FunctionID] = @FunctionID)
	UPDATE [dbo].[Functions]
		SET [Order] = ISNULL(@Order,[Order]),
			[FatherID] = ISNULL(@FatherID,[FatherID])
		WHERE [FunctionID] = @FunctionID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Functions_Delete]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description: Xóa chức năng (functionID)
-- =============================================
CREATE PROCEDURE [dbo].[SP_Functions_Delete]
	@_FunctionID	int
	,@_ResponseCode int output
AS
BEGIN
   SET NOCOUNT, XACT_ABORT ON;
   DECLARE @_ERR_FUNCTION_INACTIVE INT = -24,
			@_ERR_FUNCTION_NOT_EXIST INT = -25,
			@_IsActive INT = 0,
			@_FunctionID_In INT
	SELECT @_FunctionID_In = FunctionID,
			@_IsActive = IsActive
	FROM Functions
	WHERE FunctionID = @_FunctionID

	SET @_FunctionID_In = ISNULL(@_FunctionID_In, 0)
	IF (@_FunctionID_In = 0)
	BEGIN
		SET @_ResponseCode = @_ERR_FUNCTION_NOT_EXIST
		RETURN;
	END

	IF(@_IsActive <> 0)
	BEGIN
		SET @_ResponseCode = @_ERR_FUNCTION_INACTIVE
		RETURN;
	END
	BEGIN TRANSACTION
	BEGIN TRY
		DELETE FROM UserFunctions WHERE [FunctionID] = @_FunctionID
		DELETE FROM Functions  WHERE [FunctionID]  = @_FunctionID 
		SET @_ResponseCode = 1
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @_ResponseCode = -99;
		IF XACT_STATE() = -1 
			BEGIN
				-- Rollback
				ROLLBACK TRANSACTION;
				-- Insert Log
				EXEC	[dbo].[sp_LogError]
						@ErrorCode = @_ResponseCode OUTPUT
			END
		IF (XACT_STATE() = 1) COMMIT TRANSACTION;
	END CATCH; 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Functions_GetByFunctionCode]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Functions_GetByFunctionCode]
	@_FunctionCode	nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON
	SELECT *,[dbo].[GetFatherName_Function](FatherID) as FatherName FROM dbo.Functions WHERE FunctionCode = @_FunctionCode
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_Functions_GetByFunctionID]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description: Lấy chức năng (functionID)
-- =============================================
CREATE PROCEDURE [dbo].[SP_Functions_GetByFunctionID]
	@_FunctionID	int
AS
BEGIN
    SET NOCOUNT ON
	SELECT *,[dbo].[GetFatherName_Function](FatherID) as FatherName FROM Functions WHERE [FunctionID] = @_FunctionID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Functions_GetFather]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
CREATE PROCEDURE [dbo].[SP_Functions_GetFather]
	@_Father INT = 0
AS
BEGIN
    SET NOCOUNT ON;
	SELECT *,[dbo].[GetFatherName_Function](FatherID) as FatherName FROM [dbo].[Functions]
	WHERE FatherID = @_Father
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Functions_GetPage]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

CREATE PROCEDURE [dbo].[SP_Functions_GetPage]
	@_Keyword NVARCHAR(150) = ''
	,@_Status INT 	
	,@_CurrPage INT
	,@_RecordPerPage INT
	,@_TotalRecord INT OUT
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @_Start INT = (((@_CurrPage-1) * @_RecordPerPage)+1)
	DECLARE @_End INT =   @_Start + @_RecordPerPage-1

	SELECT TMP.*
	  FROM (
		SELECT ROW_NUMBER() OVER(ORDER BY [Order] ASC) AS STT,
		 * ,[dbo].[GetFatherName_Function](FatherID) as FatherName
		FROM [dbo].[Functions]
		WHERE (ISNULL(@_Status,-1) = -1 OR [IsActive] = @_Status)
			  AND (ISNULL(@_KeyWord, '') = '' OR ([FunctionName] LIKE '%' + @_KeyWord + '%')) 
	) AS TMP WHERE STT BETWEEN @_Start AND @_End


	SELECT @_TotalRecord = (SELECT COUNT(FunctionID) FROM [dbo].[Functions]
							WHERE (ISNULL(@_Status,-1) = -1 OR [IsActive] = @_Status)
			  AND (ISNULL(@_KeyWord, '') = '' OR ([FunctionName] LIKE '%' + @_KeyWord + '%'))) 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Functions_SelectByCondition]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
CREATE PROCEDURE [dbo].[SP_Functions_SelectByCondition]
	@_FatherID	int 
	,@_FunctionName nvarchar(50) 
	,@_IsActive	int 
	,@_IsDisplay	int 
AS
BEGIN
    SET NOCOUNT ON
	SELECT *,[dbo].[GetFatherName_Function](f.FatherID) as FatherName FROM Functions f
	WHERE (ISNULL(@_FatherID,-1)=-1 OR [FatherID] = @_FatherID)
		AND (ISNULL(@_IsActive,-1)=-1 OR [IsActive] = @_IsActive)
		AND (ISNULL(@_IsDisplay,-1)=-1 OR [IsDisplay] = @_IsDisplay)
		AND (ISNULL(@_FunctionName,'')='' OR [FunctionName] like N'%'+@_FunctionName+'%')
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Functions_SelectByGroupID]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- =============================================
Create PROCEDURE [dbo].[sp_Functions_SelectByGroupID]
	-- Add the parameters for the stored procedure here
	@_ID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here	
	WITH FUNCTIONSACCESS AS (SELECT FunctionID FROM GROUPFUNCTIONS WHERE UserID=@_ID),

	FUN AS 
	(SELECT f.FunctionID,f.[FunctionName],f.[FunctionCode],f.Url,f.FatherID,f.[Order],f.IsActive, f.IsDisplay, f.IconId  FROM functions f INNER JOIN FUNCTIONSACCESS fs ON f.FunctionID=fs.FunctionID),

	FATHER AS 
	(SELECT FunctionID,[FunctionName],FunctionCode,Url ,FatherID,[Order],IsActive, IsDisplay, IconId FROM functions WHERE FunctionID in (SELECT FatherID FROM FUN)),

	FAFATHER AS 
	(SELECT FunctionID,[FunctionName],FunctionCode,Url ,FatherID,[Order],IsActive, IsDisplay, IconId FROM functions WHERE FunctionID in (SELECT FatherID FROM FATHER)),

	CHIRLDEN AS 
	(SELECT FunctionID,[FunctionName],FunctionCode,Url,FatherID,[Order],IsActive, IsDisplay, IconId FROM functions WHERE FatherID in (SELECT FunctionID FROM FUN))
	
	SELECT FunctionID,[FunctionName],FunctionCode,Url,FatherID,[Order],IsActive, IsDisplay, IconId FROM FAFATHER
		UNION 
	SELECT FunctionID,[FunctionName],FunctionCode,Url,FatherID,[Order],IsActive, IsDisplay, IconId FROM FATHER
		UNION 
	SELECT FunctionID,[FunctionName],FunctionCode,Url,FatherID,[Order],IsActive, IsDisplay, IconId FROM FUN 
		UNION 
	SELECT FunctionID,[FunctionName],FunctionCode,Url,FatherID,[Order],IsActive, IsDisplay, IconId FROM CHIRLDEN 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Functions_SelectByUserID]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- =============================================
CREATE PROCEDURE [dbo].[SP_Functions_SelectByUserID]
	-- Add the parameters for the stored procedure here
	@_UserID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here	
	WITH FUNCTIONSACCESS AS (SELECT FunctionID FROM USERFUNCTIONS WHERE UserID=@_UserID),

	FUN AS 
	(SELECT f.FunctionID,f.[FunctionName],f.[FunctionCode],f.Url,f.FatherID,f.[Order],f.IsActive, f.IsDisplay, f.IconId  FROM functions f INNER JOIN FUNCTIONSACCESS fs ON f.FunctionID=fs.FunctionID),

	FATHER AS 
	(SELECT FunctionID,[FunctionName],FunctionCode,Url ,FatherID,[Order],IsActive, IsDisplay, IconId FROM functions WHERE FunctionID in (SELECT FatherID FROM FUN)),

	FAFATHER AS 
	(SELECT FunctionID,[FunctionName],FunctionCode,Url ,FatherID,[Order],IsActive, IsDisplay, IconId FROM functions WHERE FunctionID in (SELECT FatherID FROM FATHER)),

	CHIRLDEN AS 
	(SELECT FunctionID,[FunctionName],FunctionCode,Url,FatherID,[Order],IsActive, IsDisplay, IconId FROM functions WHERE FatherID in (SELECT FunctionID FROM FUN))
	
	SELECT FunctionID,[FunctionName],FunctionCode,Url,FatherID,[Order],IsActive, IsDisplay, IconId FROM FAFATHER
		UNION 
	SELECT FunctionID,[FunctionName],FunctionCode,Url,FatherID,[Order],IsActive, IsDisplay, IconId FROM FATHER
		UNION 
	SELECT FunctionID,[FunctionName],FunctionCode,Url,FatherID,[Order],IsActive, IsDisplay, IconId FROM FUN 
		UNION 
	SELECT FunctionID,[FunctionName],FunctionCode,Url,FatherID,[Order],IsActive, IsDisplay, IconId FROM CHIRLDEN 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Functions_SelectSystemID]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Functions_SelectSystemID]
	@_SystemID	int
AS
BEGIN
    SET NOCOUNT ON
	SELECT *
	FROM Functions WHERE @_SystemID <= 0 or [SystemID] = @_SystemID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Functions_Update]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description: cập nhật chức năng (functionID) = 0:insert, > 0 update
-- =============================================
CREATE PROCEDURE [dbo].[SP_Functions_Update]
	 @_FunctionID	int 
	,@_FunctionName	nvarchar(150)
	,@_FunctionCode	nvarchar(50)
	,@_Url	nvarchar(100) = ''
	,@_UrlDisplay nvarchar (150) = ''
	,@_IsDisplay bit
	,@_IsActive	bit
	,@_FatherID	int
	,@_Order int = null
	,@_IconId nvarchar(50)= ''
	,@_ResponseCode int output
AS
BEGIN
    SET NOCOUNT, XACT_ABORT ON;
	DECLARE @_ERR_EXISTS_FUNCTION_NAME INT = -70,
			@_ERR_EXISTS_URL INT = -71,
			@_ERR_EXISTS_URL_DISPLAY INT = -72
	SET @_Order = ISNULL(@_Order, 1)
    --Check các DK đã tồn tại trong hệ thống nếu có trả về mã lỗi.
    -- Ton tai ten
		IF (EXISTS (SELECT * FROM Functions WHERE FunctionCode=@_FunctionCode AND FunctionID <> @_FunctionID ) )
			BEGIN
				SET @_ResponseCode = @_ERR_EXISTS_FUNCTION_NAME
				RETURN
			END
		IF (@_Url <> '' AND (EXISTS (SELECT * FROM Functions WHERE Url=@_Url AND FunctionID <> @_FunctionID ) ) )
			BEGIN
				SET @_ResponseCode = @_ERR_EXISTS_URL
				RETURN
			END
		IF(@_UrlDisplay <> '' AND (EXISTS (SELECT * FROM Functions WHERE  UrlDisplay=@_UrlDisplay AND FunctionID <> @_FunctionID ) ) )
			BEGIN
				SET @_ResponseCode = @_ERR_EXISTS_URL_DISPLAY
				RETURN
			END
	BEGIN TRANSACTION
	BEGIN TRY		
		IF (@_FunctionID = 0) --Insert
			BEGIN
				SELECT @_Order=ISNULL(MAX([Order]),0)+1 FROM [Functions] WHERE [FatherID]=@_FatherID
				INSERT INTO [Functions]
					   ([FunctionName]
					   ,[FunctionCode]
					   ,[Url]
					   ,[UrlDisplay] 
					   ,[IsDisplay]		
					   ,[IsActive]
					   ,[CreatedTime] 
					   ,[FatherID]
					   ,[Order]
					   ,[SystemID]
					   ,[IconId]) 
					   
				 VALUES
					   (@_FunctionName 
					   ,@_FunctionCode
					   ,@_Url
					   ,@_UrlDisplay 
					   ,@_IsDisplay 
					   ,@_IsActive
					   ,GETDATE() 
					   ,@_FatherID
	 				   ,@_Order
	 				   ,0 
					   ,@_IconId)
				SET @_ResponseCode = @@IDENTITY
			END
		ELSE
			IF(EXISTS(SELECT*FROM Functions WHERE  FunctionID = @_FunctionID ))
			BEGIN
				UPDATE [dbo].[Functions]
				   SET [FunctionName]  = @_FunctionName
					  ,[Url] = @_Url 
					  ,[UrlDisplay] = @_UrlDisplay
					  ,[IsDisplay] = @_IsDisplay 
					  ,[IsActive] = @_IsActive
					  ,[FatherID] = @_FatherID
					  ,[Order] = @_Order
					  ,[IconId] = @_IconId
					WHERE [FunctionID] = @_FunctionID 
				SET @_ResponseCode = @_FunctionID			
			END
	COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		SET @_ResponseCode = -99;
		IF XACT_STATE() = -1 
			BEGIN
				-- Rollback
				ROLLBACK TRANSACTION;
				-- Insert Log
				EXEC	[dbo].[SP_LogError]
						@ErrorCode = @_ResponseCode OUTPUT
			END
		IF (XACT_STATE() = 1) COMMIT TRANSACTION;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Group_Delete]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- =============================================
CREATE PROCEDURE [dbo].[SP_Group_Delete]
	 @GroupID int
	 ,@UserName varchar(50)
	,@ErrorCode	int output
AS
BEGIN
    SET NOCOUNT, XACT_ABORT ON
	DECLARE @_Type int
	DECLARE @_CUser varchar(50)		
	SELECT  
			@_Type = [Type],
			@_CUser = [Alias]
			FROM [dbo].[Groups]
			WHERE [GroupID] = @GroupID

			
	IF(@_CUser<>@UserName)
	BEGIN 
		SET @ErrorCode = -600

		RETURN
	END
	IF(@_Type<>2)
	BEGIN 
		SET @ErrorCode = -600

		RETURN
	END
	BEGIN TRANSACTION
	BEGIN TRY
		BEGIN
				DELETE FROM [dbo].Contact WHERE [Group] = @GroupID
				DELETE FROM [dbo].[Groups] WHERE [GroupID] = @GroupID
				SET @ErrorCode = 0;
			END
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @ErrorCode = -99;
		IF XACT_STATE() = -1 
			BEGIN
				-- Rollback
				ROLLBACK TRANSACTION;
				-- Insert Log
				EXEC	[dbo].[SP_LogError]
						@ErrorCode = @ErrorCode OUTPUT
			END
		IF (XACT_STATE() = 1) COMMIT TRANSACTION;
	END CATCH; 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Group_GetByGroupID]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Group_GetByGroupID]
	@GroupID	int
AS
BEGIN
    SET NOCOUNT ON
	SELECT * FROM Groups
	WHERE [GroupID] = @GroupID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Group_GetByName]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Group_GetByName]
	@Name	nvarchar(50),
	@CreatedUser	nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON
	SELECT * FROM Groups
	WHERE [Name] = @Name and  Alias=@CreatedUser
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Group_GetList]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[SP_Group_GetList]
	@Type	int,
	@CreatedUser	nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON
	SELECT * FROM Groups
	WHERE [Type] = @Type and  Alias=@CreatedUser
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Group_SelectAll]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Group_SelectAll]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM dbo.Groups
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Group_SelectTop]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Description,Haovm,Update>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Group_SelectTop]
	@Name nvarchar(50)= ''
	,@IsActive bit=null	
	,@PageNumber int
	,@PageSize int
AS
BEGIN
	Declare @SQL nvarchar(MAX)
	Declare @CONDITION nvarchar(MAX)
	DECLARE @Start int, @End int
	IF @Name IS NULL SET @Name = ''
	BEGIN TRANSACTION GetDataSet
	SET @CONDITION=''
	SET @SQL=''
	SET @Start = (((@PageNumber - 1) * @PageSize) + 1)
	SET @End = (@Start + @PageSize - 1)
	SET @SQL = ' DECLARE  @TemporaryTable TABLE (
		ID int IDENTITY(1,1) PRIMARY KEY,
		[GroupID] int,
		[Name] nvarchar(50),
		[Alias] nvarchar(50),		 
		[IsActive] bit )				
		DECLARE @Counter INT '
		SET @SQL=@SQL+' INSERT INTO @TemporaryTable
		SELECT GroupID
		  ,Name
		  ,Alias
		  ,IsActive		  					 
		FROM Groups WHERE Name LIKE''%' +@Name +'%'''
		IF(@Name IS NOT NULL AND @Name  != '')					
					SET @CONDITION=@CONDITION+' AND Name LIKE''%' +@Name +'%''' 
		
		IF(@IsActive >= 0)
					SET @CONDITION=@CONDITION+' AND IsActive=' + CAST (@IsActive AS varchar(2))		 
					SET @SQL=@SQL+@CONDITION
	
		SET @SQL= @SQL +' SELECT @Counter = COUNT(*) FROM @TemporaryTable  	
	SELECT TOP ('+CAST(@PageSize AS VARCHAR(10)) +') 
		  GroupID
		  ,Name
		  ,Alias
		  ,IsActive	
		  ,@Counter AS Counter 
		  FROM @TemporaryTable
		WHERE (ID >='+CAST(@Start AS VARCHAR(10))+') AND (ID <= '+CAST(@End AS VARCHAR(10))+') ORDER BY GroupID ASC
		DELETE FROM @TemporaryTable'
		PRINT(@SQL)
		EXEC sp_executesql @SQL
		IF @@ERROR <> 0
			GOTO ErrorHandler	
		COMMIT TRANSACTION GetDataSet
		RETURN 0
		ErrorHandler:
		ROLLBACK TRANSACTION GetDataSet
	RETURN @@ERROR
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Group_Update]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Group_Update]
	 @GroupID	int 
	,@Name	nvarchar(50)
	,@Alias	nvarchar(50)=''
	,@IsActive	bit
	,@_ResponseCode int output
AS
BEGIN
    SET NOCOUNT, XACT_ABORT ON
	BEGIN TRANSACTION
	BEGIN TRY
		IF @GroupID=0
			BEGIN
				IF (NOT EXISTS (SELECT * FROM Groups WHERE [Name]=@Name and [Alias]=@Alias))
					BEGIN 
						INSERT INTO [dbo].[Groups]
							   ([Name]
							   ,[Alias]
							   ,[IsActive])
						 VALUES
							   (@Name
							   ,@Alias
							   ,@IsActive)
						SET @_ResponseCode = @@IDENTITY
					END
				ELSE
					BEGIN
						SET @_ResponseCode= -1
					END
			END
		ELSE
			BEGIN
				IF (EXISTS (SELECT * FROM Groups WHERE [Name]=@Name AND GroupID<>@GroupID and [Alias]=@Alias))
					BEGIN
						SET @_ResponseCode= -1
					END
				ELSE					
					BEGIN
						UPDATE [dbo].[Groups]
						SET  [Name] = @Name
							
							,[IsActive] = @IsActive
						WHERE [GroupID] = @GroupID
						SET @_ResponseCode=@GroupID
					END
			END
			COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @_ResponseCode = -99;
		IF XACT_STATE() = -1 
			BEGIN
				-- Rollback
				ROLLBACK TRANSACTION;
				-- Insert Log
				EXEC	[dbo].[SP_LogError]
						@_ResponseCode = @_ResponseCode OUTPUT
			END
		IF (XACT_STATE() = 1) COMMIT TRANSACTION;
	END CATCH; 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GroupFunctions_GetByID]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description: Lấy tất cả quyền User
-- =============================================
CREATE PROCEDURE [dbo].[SP_GroupFunctions_GetByID]
	@_GroupID int
AS
BEGIN	
	SET NOCOUNT ON;  
	SELECT  *,
			[dbo].[GetFatherID_Function]([FunctionID]) AS FatherID,
			[dbo].[GetFatherName_Function]([dbo].[GetFatherID_Function]([FunctionID])) AS FatherName
	FROM GroupFunctions
	WHERE UserID=@_GroupID ORDER BY FatherID ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GroupFunctions_InsertList]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description: thêm quyền User theo chức năng (list functionID)
-- =============================================
CREATE PROCEDURE [dbo].[SP_GroupFunctions_InsertList]
	 @_UserID  int
	,@_UserFunctionData NVARCHAR(MAX)
	,@_ResponseCode int OUTPUT
AS
BEGIN
    SET NOCOUNT, XACT_ABORT ON;
	DECLARE @_ERR_NOT_EXIST_ACCOUNT INT = -50
	DECLARE @_ERR_UNKNOWN INT = -99
	
	IF(ISNULL(@_UserFunctionData,'') = '')
	BEGIN
		SET @_ResponseCode = -600
		RETURN
    END
	BEGIN TRANSACTION
	BEGIN TRY
		DELETE [dbo].[GroupFunctions] WHERE UserID = @_UserID
		DECLARE @_Function INT 
		DECLARE @_Insert BIT
		DECLARE @_Update BIT
		DECLARE @_Delete BIT
		DECLARE @_FullControl BIT
		DECLARE @_FunctionCode Nvarchar(50)
		DECLARE Cursor_UserPermission CURSOR FOR
		SELECT  Cast(Value1 as INT) FunctionID
			,Value2 IsInsert
			,Value3 IsUpdate
			,Value4 IsDelete
			,Value5 IsFullControl
			,ValueN FunctionCode
		FROM dbo.FN_Parameters_SplitTable(@_UserFunctionData,';',',')
		OPEN Cursor_UserPermission
		FETCH NEXT FROM Cursor_UserPermission INTO @_Function,@_Insert,@_Update,@_Delete,@_FullControl,@_FunctionCode
			WHILE @@FETCH_STATUS = 0
			BEGIN
					INSERT INTO [dbo].[GroupFunctions]
					(UserID
					,[FunctionID]
					,[CreatedTime]
					,[IsInsert]
					,[IsUpdate]
					,[IsDelete]
					,[IsFullControl]
					,FunctionCode)
				VALUES
					(@_UserID
					,@_Function
					,GETDATE()
					,@_Insert
					,@_Update
					,@_Delete
					,@_FullControl
					,@_FunctionCode)
				FETCH NEXT FROM Cursor_UserPermission INTO @_Function,@_Insert,@_Update,@_Delete,@_FullControl,@_FunctionCode
			END
		CLOSE Cursor_UserPermission
		DEALLOCATE Cursor_UserPermission

		 SET @_ResponseCode = 0;
		 COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @_ResponseCode = @_ERR_UNKNOWN;
		IF XACT_STATE() = -1 
			BEGIN
			CLOSE Cursor_UserPermission
			DEALLOCATE Cursor_UserPermission
				-- Rollback
				ROLLBACK TRANSACTION;
				-- Insert Log
				EXEC	[dbo].[sp_LogError]
						@ErrorCode = @_ResponseCode OUTPUT
			END
		IF (XACT_STATE() = 1) COMMIT TRANSACTION;
	END CATCH; 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LogError]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LogError] 
    @ErrorCode int = 0 OUTPUT 
AS                               
BEGIN
   SET NOCOUNT ON;
   SET @ErrorCode = 0;

   BEGIN TRY
		IF ERROR_NUMBER() IS NULL   RETURN;
		IF XACT_STATE() = -1
			BEGIN
				PRINT 'Cannot log error since the current transaction is in an uncommittable state. ' 
				+ 'Rollback the transaction before executing SP_LogError in order to successfully log error information.';
				RETURN;
			END
		SET @ErrorCode = ERROR_NUMBER();
		IF @ErrorCode > 0 SET @ErrorCode = 0 - @ErrorCode;

		INSERT INTO [dbo].[ErrorLog]
				   ([ErrorTime]
				   ,[UserName]
				   ,[HostName]
				   ,[ErrorNumber]
				   ,[ErrorCode]
				   ,[ErrorSeverity]
				   ,[ErrorState]
				   ,[ErrorProcedure]
				   ,[ErrorLine]
				   ,[ErrorMessage])
			 VALUES
				   (GETDATE()
				   ,CONVERT(sysname, CURRENT_USER)
				   ,HOST_NAME()
				   ,ERROR_NUMBER()
				   ,@ErrorCode
				   ,ERROR_SEVERITY()
				   ,ERROR_STATE()
				   ,ERROR_PROCEDURE()
				   ,ERROR_LINE()
				   ,ERROR_MESSAGE())
	END TRY
	BEGIN CATCH
		PRINT 'An error occurred in stored procedure SP_LogError: ';
		EXECUTE [dbo].[SP_LogErrorPrint];
		RETURN -1;
	END CATCH
END;




GO
/****** Object:  StoredProcedure [dbo].[SP_LogErrorPrint]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP_PrintError prints error information about the error that caused 
-- execution to jump to the CATCH block of a TRY...CATCH construct. 
-- Should be executed from within the scope of a CATCH block otherwise 
-- it will return without printing any error information.
Create PROCEDURE    [dbo].[SP_LogErrorPrint] 
AS
BEGIN
    SET NOCOUNT ON;

    -- Print error information. 
    PRINT 'Error ' + CONVERT(varchar(50), ERROR_NUMBER()) +
          ', Severity ' + CONVERT(varchar(5), ERROR_SEVERITY()) +
          ', State ' + CONVERT(varchar(5), ERROR_STATE()) + 
          ', Procedure ' + ISNULL(ERROR_PROCEDURE(), '-') + 
          ', Line ' + CONVERT(varchar(5), ERROR_LINE());
    PRINT ERROR_MESSAGE();
END;




GO
/****** Object:  StoredProcedure [dbo].[SP_User_Authenticate]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		cuongpm6
-- Create date: 07/31/2018
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_User_Authenticate]
	@_Username VARCHAR(50),
	@_Password VARCHAR(50),
	@_ClientIP VARCHAR(20) = NULL,
	@_ResponseStatus BIGINT OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @_ERR_INVALID_PASSWORD INT = -53;
	DECLARE @_ERR_NOT_EXIST_ACCOUNT INT = -50;
	DECLARE @_ERR_UNACTIVE_ACCOUNT INT = -49;
	
 	DECLARE @_UserID INT;
 	DECLARE @_PasswordIn NVARCHAR(100);
 	DECLARE @_Status INT;

	SELECT @_Password = ISNULL(@_Password,'')

	IF (NOT EXISTS(SELECT 1 FROM [dbo].[User] WHERE [UserName] = @_Username))
	BEGIN
		SET @_ResponseStatus = @_ERR_NOT_EXIST_ACCOUNT;
		RETURN;
	END 

	SELECT @_UserID = UserID
		 , @_PasswordIn= [Password]
		 ,@_Status = [Status]
	FROM [dbo].[User]
	WHERE UserName = @_Username

	SET @_PasswordIn = ISNULL(@_PasswordIn,'');
	SET @_Status = ISNULL(@_Status,0);

	--IF (@_Status = 0)
	--BEGIN
	--	SET @_ResponseStatus = @_ERR_UNACTIVE_ACCOUNT;
	--	RETURN;
	--END
	IF (@_Password <> @_PasswordIn)
	BEGIN
		SET @_ResponseStatus = @_ERR_INVALID_PASSWORD
		RETURN
	END
	SET @_ResponseStatus = 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_ChangePassword]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Them Tai Khoan,,>
--	UserID : 0(insert), #0 : Update
-- =============================================
CREATE PROCEDURE [dbo].[SP_User_ChangePassword]
	 @_Username VARCHAR(50)
	,@_PasswordOld VARCHAR(50)
	,@_PasswordNew VARCHAR(50)
	,@_ResponseCode INT OUTPUT
	
AS
BEGIN
    SET NOCOUNT,XACT_ABORT ON ;
	--SET REMOTE_PROC_TRANSACTIONS OFF;
    DECLARE @_ErrorSystemCode INT;
    SET @_ErrorSystemCode = 1
	--=============Định nghĩa tập mã lỗi trả về =============================================
	DECLARE @_SUCCESSFUL  INT; SET @_SUCCESSFUL=1	
	DECLARE @_ERR_NOT_EXIST_ACCOUNT  INT; SET @_ERR_NOT_EXIST_ACCOUNT=-1 -- Tài khoản đã tồn tại	
	DECLARE @_ERR_ACCOUNT_BLOCK INT = -2
	DECLARE @_ERR_VALID_OLD_PASSWORD  INT; SET @_ERR_VALID_OLD_PASSWORD=-3 -- Mật khẩu cũ không đúng
	DECLARE @_ERR_UNKNOW INT; SET  @_ERR_UNKNOW=-99 -- Lỗi khi thực hiện Inser dữ liệu	
	DECLARE @_ERR_PARAM_INPUT INT; SET @_ERR_PARAM_INPUT = -600

	SELECT	@_Username = ISNULL(@_Username,''), @_PasswordOld = ISNULL(@_PasswordOld,''), @_PasswordNew = ISNULL(@_PasswordNew,'')

	IF(@_Username = '' OR @_PasswordOld = '' OR @_PasswordNew = '')
	BEGIN
		SET @_ResponseCode = @_ERR_PARAM_INPUT
		RETURN;
	END
	DECLARE @_UserID INT, @_UserPasswordIn NVARCHAR(50), @_Status INT
	SELECT @_UserID = UserID,
			@_UserPasswordIn = [Password],
			@_Status = [Status]
			FROM [dbo].[User]
			WHERE UserName = @_UserName

	SET @_UserID = ISNULL(@_UserID,0)
	SET	@_UserPasswordIn = ISNULL(@_UserPasswordIn,'')
	SET	@_Status = ISNULL(@_Status,0)

	IF (@_UserID = 0)
	BEGIN
		SET @_ResponseCode = @_ERR_NOT_EXIST_ACCOUNT;
		RETURN;
	END
	IF (@_Status = 0)
	BEGIN
		SET @_ResponseCode = @_ERR_ACCOUNT_BLOCK;
		RETURN
	END
	IF(@_UserPasswordIn <> @_PasswordOld)
	BEGIN
		SET @_ResponseCode = @_ERR_VALID_OLD_PASSWORD
		RETURN
	END

	BEGIN TRANSACTION
	BEGIN TRY 
		
		UPDATE [dbo].[User]
			SET [Password] = @_PasswordNew
			WHERE  [UserID] = @_UserID
							
		SET @_ResponseCode = @@RowCount
		IF(@_ResponseCode > 0)
		BEGIN
			DECLARE @_Error_code INT
			DECLARE @_Description NVARCHAR(150) =  N'Đổi mật khẩu TK :' + @_UserName 

			EXEC [dbo].[SP_UserLogs_Insert]
				@_UserID = @_UserID,
				@_FunctionCode='changepass',
				@_UserName=@_Username,
				@_Description =@_Description,
				@_LogType = 3,	--Đôi mật khẩu
				@_ClientIP = '',
				@_ResponseCode = @_Error_code OUT

		END	

		COMMIT TRANSACTION;		
	END TRY
	BEGIN CATCH
		SET @_ResponseCode = @_ERR_UNKNOW;
		IF XACT_STATE() = -1 
			BEGIN
				-- Rollback
				ROLLBACK TRANSACTION;
				-- Insert Log
				EXEC	[dbo].[sp_LogError]
						@ErrorCode = @_ResponseCode OUTPUT
			END
		IF (XACT_STATE() = 1) COMMIT TRANSACTION;
	END CATCH; 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_Delete]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_User_Delete]
	@_UserID int
	,@_ResponseCode int output
AS
BEGIN
    SET NOCOUNT, XACT_ABORT ON
	DECLARE @_ERR_NOT_EXIST_ACCOUNT INT = -50;

	IF (NOT EXISTS(SELECT 1 FROM [dbo].[User] WHERE UserID = @_UserID))
	BEGIN
		SET @_ResponseCode = @_ERR_NOT_EXIST_ACCOUNT
		RETURN;
	END

	BEGIN TRANSACTION
	BEGIN TRY
		DELETE FROM UserFunctions WHERE [UserID] = @_UserID
		DELETE FROM [dbo].[User] WHERE [UserID] = @_UserID
		COMMIT TRANSACTION;
		SET @_ResponseCode = 1
	END TRY
	BEGIN CATCH
		IF XACT_STATE() = -1 
			BEGIN
				ROLLBACK TRANSACTION;
				Set @_ResponseCode = -99;
				-- Insert Log
				EXEC	[dbo].[sp_LogError]
						@ErrorCode = @_ResponseCode OUTPUT
			END
		IF (XACT_STATE()) = 1 COMMIT TRANSACTION;
	END CATCH; 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_GetAll]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[SP_User_GetAll]
	
AS
BEGIN
	SET NOCOUNT, XACT_ABORT ON
	SELECT * FROM dbo.[User]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_GetAllList]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	Getting all users from user table
-- =============================================
CREATE PROCEDURE [dbo].[SP_User_GetAllList]
	-- Add the parameters for the stored procedure here
	@UserId int ,
	@UserName nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * From [dbo].[User] Where userid = @UserId and username = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_GetByEmail]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_User_GetByEmail]
	@_Email varchar(150)
AS
BEGIN
	SET NOCOUNT, XACT_ABORT ON
	SELECT * FROM dbo.[User] WHERE Email = @_Email
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_GetByUserID]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_User_GetByUserID]
	@_UserID int
AS
BEGIN
	SET NOCOUNT, XACT_ABORT ON
	SELECT * FROM dbo.[User] WHERE UserID = @_UserID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_GetByUserName]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_User_GetByUserName]
	@_UserName varchar(50)
AS
BEGIN
	SET NOCOUNT, XACT_ABORT ON
	SELECT * FROM dbo.[User] WHERE Username =	@_UserName 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_GetPage]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_User_GetPage]
	@_Keyword VARCHAR(50) = ''
	,@_CreatedUser VARCHAR(50) = ''
	,@_Status INT 	
	,@_Group INT 	
	,@_CurrPage INT
	,@_RecordPerPage INT
	,@_TotalRecord INT OUT
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @_Start INT = (((@_CurrPage-1) * @_RecordPerPage)+1)
	DECLARE @_End INT =   @_Start + @_RecordPerPage-1

	SELECT TMP.*
	  FROM (
		SELECT ROW_NUMBER() OVER(ORDER BY [UserId] DESC) AS STT,
		 * 
		FROM [dbo].[User]
		WHERE (ISNULL(@_Status,-1) = -1 OR [Status] = @_Status)
		 AND (ISNULL(@_Group,-1) = -1 OR [Group] = @_Group)
		 AND (ISNULL(@_CreatedUser, '') = '' 
									Or CreatedUser=@_CreatedUser
								 )
			  AND (ISNULL(@_KeyWord, '') = '' 
			  OR ([Username] LIKE '%' + @_KeyWord + '%') 
			  OR ([Email] LIKE '%' + @_KeyWord + '%')
			  OR ([FullName] LIKE '%' + @_KeyWord + '%'))
	) AS TMP WHERE STT BETWEEN @_Start AND @_End


	SELECT @_TotalRecord = (SELECT COUNT(UserId) FROM [dbo].[User]
							WHERE (ISNULL(@_Status,-1) = -1 OR [Status] = @_Status)
								 AND (ISNULL(@_CreatedUser, '') = '' 
									Or CreatedUser=@_CreatedUser
								 )
							  AND (ISNULL(@_KeyWord, '') = '' 
							  OR ([Username] LIKE '%' + @_KeyWord + '%') 
							  OR ([Email] LIKE '%' + @_KeyWord + '%')
							  OR ([FullName] LIKE '%' + @_KeyWord + '%')))
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_InsertUpdate]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Them Tai Khoan,,>
--	UserID : 0(insert), #0 : Update
-- =============================================
CREATE PROCEDURE [dbo].[SP_User_InsertUpdate]
	 @_UserID INT 
	,@_Username VARCHAR(50)
	,@_Email VARCHAR(150)=''
	,@_Mobile VARCHAR(150)=''
	,@_FullName NVARCHAR(150)
	,@_Password VARCHAR(50)=null
	,@_IsActive BIT
	,@_Type INT	=0
	,@_Group INT	=5
	,@_StatusVNP BIT
	,@_StatusVMS BIT
	,@_StatusVTT BIT
	,@_Piority INT	=1
	
	,@_Balance INT	= 0	
	,@_PercentVNP INT	= 0	
	,@_PercentVMS INT	= 0	
	,@_PercentVTT INT	= 0	
	,@_Password2 VARCHAR(50)=''
	,@_Config VARCHAR(50)=''
	,@_CreatedUser	VARCHAR(50)
	,@_UserAPI	VARCHAR(50)=''
	,@_PasswordAPI	VARCHAR(50)=''
	,@_ResponseCode INT OUTPUT
	
AS
BEGIN
    SET NOCOUNT,XACT_ABORT ON ;
	--SET REMOTE_PROC_TRANSACTIONS OFF;
    DECLARE @_ErrorSystemCode INT;
    SET @_ErrorSystemCode = 1
	--=============Định nghĩa tập mã lỗi trả về =============================================
	DECLARE @_SUCCESSFUL  INT; SET @_SUCCESSFUL=1	
	DECLARE @_ERR_EXIST_ACCOUNT  INT; SET @_ERR_EXIST_ACCOUNT=-51 -- Tài khoản đã tồn tại		
	DECLARE @_ERR_EXIST_EMAIL INT; SET @_ERR_EXIST_EMAIL = -52
	DECLARE @_ERR_UNKNOW INT; SET  @_ERR_UNKNOW=-99 -- Có lỗi phát sinh từ hệ thống
	DECLARE @_ERR_PARAM_INPUT INT; SET @_ERR_PARAM_INPUT = -600
	SELECT	@_Username = ISNULL(@_Username,''),
			@_Email = ISNULL(@_Email,''),
			@_FullName = ISNULL(@_FullName,'')

	IF(@_Username = '' )
	BEGIN
		SET @_ResponseCode = @_ERR_PARAM_INPUT
		RETURN;
	END
	IF(@_UserID = 0)
	BEGIN
		IF (EXISTS(SELECT 1 FROM [dbo].[User] WHERE Username = @_Username))
		BEGIN
			SET @_ResponseCode = @_ERR_EXIST_ACCOUNT;
			RETURN;
		END
		
	END
	ELSE	
	BEGIN
		IF (EXISTS(SELECT 1 FROM [dbo].[User] WHERE Username = @_Username AND UserID<>@_UserID))
		BEGIN
			SET @_ResponseCode = @_ERR_EXIST_ACCOUNT;
			RETURN;
		END
		
	END
		

	BEGIN TRANSACTION
	BEGIN TRY 
		IF @_UserID = 0
			BEGIN
				INSERT INTO [dbo].[User]
						(
						[Username]
						,[Email]
						,[Mobile]
						,[FullName]
						,[Password]
						,[Password2]
						,[Balance]
					   ,[PercentVNP]
					   ,[PercentVMS]
					   ,[PercentVTT]
					   ,[Config]
						,[Type]
						,[Group]
						,[Piority]
						,[Status]
						,[StatusVTT]
						,[StatusVNP]
						,[StatusVMS]
						,[CreatedUser]
						,[UserAPI]
						,[PasswordAPI]
						,[CreatedDate])
					VALUES
						(@_Username
						,@_Email
						,@_Mobile
						,@_FullName
						,@_Password
						,@_Password2
						,@_Balance
						,@_PercentVNP
						,@_PercentVMS
						,@_PercentVTT
						,@_Config
						,@_Type
						,@_Group
						,@_Piority
						,@_IsActive
						,@_StatusVTT
						,@_StatusVNP
						,@_StatusVMS
						,@_CreatedUser
						,@_UserAPI	
						,@_PasswordAPI
						
						,GETDATE())
				SET @_ResponseCode = @@IDENTITY
			END
		ELSE
			BEGIN 
				UPDATE [dbo].[User]
					SET  Username = @_Username
						,[Email] = @_Email
						,[Mobile] = @_Mobile
						,[FullName] = @_FullName
						,[Status]=@_IsActive
						,[StatusVTT]=@_StatusVTT
						,[StatusVNP]=@_StatusVNP
						,[StatusVMS]=@_StatusVMS
						,[Piority]=@_Piority
						,[Type]=@_Type
						,[Group]=@_Group
						,[PercentVNP]=@_PercentVNP
						,[PercentVMS]=@_PercentVMS
						,[PercentVTT]=@_PercentVTT
						,[Config]=@_Config
						
				WHERE  [UserID] = @_UserID
							
				SET @_ResponseCode = @_UserID			
			END		
		COMMIT TRANSACTION;		
	END TRY
	BEGIN CATCH
		SET @_ResponseCode = @_ERR_UNKNOW;
		IF XACT_STATE() = -1 
			BEGIN
				-- Rollback
				ROLLBACK TRANSACTION;
				-- Insert Log
				EXEC	[dbo].[sp_LogError]
						@ErrorCode = @_ResponseCode OUTPUT
			END
		IF (XACT_STATE() = 1) COMMIT TRANSACTION;
	END CATCH; 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_ResetPassword]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Them Tai Khoan,,>
--	UserID : 0(insert), #0 : Update
-- =============================================
CREATE PROCEDURE [dbo].[SP_User_ResetPassword]
	 @_UserID int
	 ,@_UserName  VARCHAR(50)
	,@_PasswordNew VARCHAR(50)
	
	,@_ResponseCode INT OUTPUT
	
AS
BEGIN
    SET NOCOUNT,XACT_ABORT ON ;
	--SET REMOTE_PROC_TRANSACTIONS OFF;
    DECLARE @_ErrorSystemCode INT;
    SET @_ErrorSystemCode = 1
	--=============Định nghĩa tập mã lỗi trả về =============================================
	DECLARE @_SUCCESSFUL  INT; SET @_SUCCESSFUL=1	
	DECLARE @_ERR_NOT_EXIST_ACCOUNT  INT; SET @_ERR_NOT_EXIST_ACCOUNT=-1 -- Tài khoản đã tồn tại	
	DECLARE @_ERR_ACCOUNT_BLOCK INT = -2
	DECLARE @_ERR_VALID_OLD_PASSWORD  INT; SET @_ERR_VALID_OLD_PASSWORD=-3 -- Mật khẩu cũ không đúng
	DECLARE @_ERR_UNKNOW INT; SET  @_ERR_UNKNOW=-99 -- Lỗi khi thực hiện Inser dữ liệu	
	DECLARE @_ERR_PARAM_INPUT INT; SET @_ERR_PARAM_INPUT = -600

	IF (@_UserID <=1)
	BEGIN
		SET @_ResponseCode = @_ERR_NOT_EXIST_ACCOUNT;
		RETURN;
	END


	BEGIN TRANSACTION
	BEGIN TRY 
		
		UPDATE [dbo].[User]
			SET [Password] = @_PasswordNew
			WHERE  [UserID] = @_UserID
							
		SET @_ResponseCode = @@RowCount
		

		COMMIT TRANSACTION;		
	END TRY
	BEGIN CATCH
		SET @_ResponseCode = @_ERR_UNKNOW;
		IF XACT_STATE() = -1 
			BEGIN
				-- Rollback
				ROLLBACK TRANSACTION;
				-- Insert Log
				EXEC	[dbo].[sp_LogError]
						@ErrorCode = @_ResponseCode OUTPUT
			END
		IF (XACT_STATE() = 1) COMMIT TRANSACTION;
	END CATCH; 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_UpdateActive]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_User_UpdateActive]
	-- Add the parameters for the stored procedure here
	@_UserID int,
	@_ResponseCode int out
AS
BEGIN
	SET NOCOUNT, XACT_ABORT ON;
	DECLARE @_ERR_NOT_EXIST_ACCOUNT INT = -50
	DECLARE @_ERR_UNKNOWN INT = -99
	IF NOT EXISTS (SELECT * FROM [dbo].[User] WHERE [UserID] = @_UserID)
    BEGIN
		SET @_ResponseCode = @_ERR_NOT_EXIST_ACCOUNT
		RETURN
    END
	BEGIN TRY
		BEGIN TRANSACTION
			DECLARE  @_IsDisplay INT;
	
		SELECT @_IsDisplay = [Status]
		FROM [dbo].[User]
		WHERE [UserID] = @_UserID

		IF (ISNULL(@_IsDisplay, -1) <= 0)
		BEGIN
			UPDATE [dbo].[User]
			SET [Status] = 1
			WHERE [UserID] = @_UserID
			SET @_ResponseCode=@_UserID
		END
		ELSE
			BEGIN
				UPDATE [dbo].[User]
				SET [Status] = 0
				WHERE [UserID] = @_UserID
				SET @_ResponseCode=@_UserID
			END
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @_ResponseCode = @_ERR_UNKNOWN;
		IF XACT_STATE() = -1 
			BEGIN
				-- Rollback
				ROLLBACK TRANSACTION;
				-- Insert Log
				EXEC	[dbo].[sp_LogError]
						@ErrorCode = @_ResponseCode OUTPUT
			END
		IF (XACT_STATE() = 1) COMMIT TRANSACTION;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_UpdateDynamic]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_User_UpdateDynamic]
	@UpdateCondition nvarchar(500),
	@WhereCondition nvarchar(500)
AS
BEGIN
	SET NOCOUNT, XACT_ABORT ON;
	DECLARE @SQL nvarchar(3250)

SET @SQL = '
UPDATE
	[dbo].[User] SET '+ @UpdateCondition +
	
' WHERE
	' + @WhereCondition
EXEC sp_executesql @SQL
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UserFunctions_Delete]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description: Xóa quyền User theo chức năng (functionID)
-- =============================================
CREATE PROCEDURE [dbo].[SP_UserFunctions_Delete]
	 @_UserID int
	,@_FunctionID int
	,@_ResponseCode	int output
AS
BEGIN
    SET NOCOUNT, XACT_ABORT ON;
	BEGIN TRANSACTION
	BEGIN TRY
		DELETE FROM [dbo].[UserFunctions]
			  WHERE [UserID] = @_UserID AND FunctionID = @_FunctionID
		SET @_ResponseCode = 1
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @_ResponseCode = -99;
		IF XACT_STATE() = -1 
			BEGIN
				-- Rollback
				ROLLBACK TRANSACTION;
				-- Insert Log
				EXEC	[dbo].[sp_LogError]
						@ErrorCode = @_ResponseCode OUTPUT
			END
		IF (XACT_STATE() = 1) COMMIT TRANSACTION;
	END CATCH; 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UserFunctions_DeleteALL_ByUserID]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description : Xóa toàn bộ quyền chức năng của User
-- =============================================
CREATE PROCEDURE [dbo].[SP_UserFunctions_DeleteALL_ByUserID]
	 @UserID int
	,@ErrorCode	int output
AS
BEGIN
    SET NOCOUNT, XACT_ABORT ON;
	BEGIN TRANSACTION
	BEGIN TRY
		DELETE FROM [dbo].[UserFunctions]
			  WHERE [UserID] = @UserID
		SET @ErrorCode = 0
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @ErrorCode = -99;
		IF XACT_STATE() = -1 
			BEGIN
				-- Rollback
				ROLLBACK TRANSACTION;
				-- Insert Log
				EXEC	[dbo].[sp_LogError]
						@ErrorCode = @ErrorCode OUTPUT
			END
		IF (XACT_STATE() = 1) COMMIT TRANSACTION;
	END CATCH; 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UserFunctions_GetByUserID]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description: Lấy tất cả quyền User
-- =============================================
CREATE PROCEDURE [dbo].[SP_UserFunctions_GetByUserID]
	@_UserID int
AS
BEGIN	
	SET NOCOUNT ON;  
	SELECT  *,
			[dbo].[GetFatherID_Function]([FunctionID]) AS FatherID,
			[dbo].[GetFatherName_Function]([dbo].[GetFatherID_Function]([FunctionID])) AS FatherName
	FROM UserFunctions
	WHERE UserID=@_UserID ORDER BY FatherID ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UserFunctions_Insert]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description: thêm quyền User theo chức năng (functionID)
-- =============================================
CREATE PROCEDURE [dbo].[SP_UserFunctions_Insert]
	 @_UserID  int
	,@_FunctionID int
	,@_IsInsert	bit
	,@_IsUpdate	bit
	,@_IsDelete	bit
	,@_IsFullControll	bit
	,@_FunctionCode	nvarchar(50)
	,@_ResponseCode int OUTPUT
AS
BEGIN
    SET NOCOUNT, XACT_ABORT ON;
	DECLARE @_ERR_NOT_EXIST_ACCOUNT INT = -50
	DECLARE @_ERR_UNKNOWN INT = -99
	IF NOT EXISTS (SELECT * FROM [dbo].[User] WHERE [UserID] = @_UserID)
    BEGIN
		SET @_ResponseCode = @_ERR_NOT_EXIST_ACCOUNT
		RETURN
    END
	BEGIN TRANSACTION
	BEGIN TRY
		DELETE [dbo].[UserFunctions] WHERE UserID = @_UserID AND FunctionID = @_FunctionID
		INSERT INTO [dbo].[UserFunctions]
				   ([UserID]
				   ,[FunctionID]
				   ,[CreatedTime] 
				    ,[FunctionCode] 
				   ,[IsInsert]
				   ,[IsUpdate]
				   ,[IsDelete]
				   ,[IsFullControl])
			 VALUES
				   (@_UserID
				   ,@_FunctionID
				   ,GETDATE()
				   ,@_FunctionCode
				   ,@_IsInsert
				   ,@_IsUpdate
			 	   ,@_IsDelete
				   ,@_IsFullControll)
		 SET @_ResponseCode = 0;
		 COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @_ResponseCode = @_ERR_UNKNOWN;
		IF XACT_STATE() = -1 
			BEGIN
				-- Rollback
				ROLLBACK TRANSACTION;
				-- Insert Log
				EXEC	[dbo].[sp_LogError]
						@ErrorCode = @_ResponseCode OUTPUT
			END
		IF (XACT_STATE() = 1) COMMIT TRANSACTION;
	END CATCH; 

		--Ghi Log phân quyêề chưứ năng --> Type = 2
	DECLARE @_InsertLog INT = 0
	EXEC [dbo].[SP_UserLogs_Insert]
		@_UserID = @_UserID,
		@_FunctionID = 0,
		@_Description = N'LOG Phân Quyên Function' ,
		@_LogType = 2, -- Log USer FUNCTION,
		@_ClientIP = '',
		@_ResponseCode = @_InsertLog OUTPUT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UserFunctions_InsertList]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description: thêm quyền User theo chức năng (list functionID)
-- =============================================
CREATE PROCEDURE [dbo].[SP_UserFunctions_InsertList]
	 @_UserID  int
	,@_UserFunctionData NVARCHAR(MAX)
	,@_ResponseCode int OUTPUT
AS
BEGIN
    SET NOCOUNT, XACT_ABORT ON;
	DECLARE @_ERR_NOT_EXIST_ACCOUNT INT = -50
	DECLARE @_ERR_UNKNOWN INT = -99
	IF NOT EXISTS (SELECT * FROM [dbo].[User] WHERE [UserID] = @_UserID)
    BEGIN
		SET @_ResponseCode = @_ERR_NOT_EXIST_ACCOUNT
		RETURN
    END
	IF(ISNULL(@_UserFunctionData,'') = '')
	BEGIN
		SET @_ResponseCode = -600
		RETURN
    END
	BEGIN TRANSACTION
	BEGIN TRY
		DELETE [dbo].[UserFunctions] WHERE UserID = @_UserID
		DECLARE @_Function INT 
		DECLARE @_Insert BIT
		DECLARE @_Update BIT
		DECLARE @_Delete BIT
		DECLARE @_FullControl BIT
		DECLARE @_FunctionCode Nvarchar(50)
		DECLARE Cursor_UserPermission CURSOR FOR
		SELECT  Cast(Value1 as INT) FunctionID
			,Value2 IsInsert
			,Value3 IsUpdate
			,Value4 IsDelete
			,Value5 IsFullControl
			,ValueN FunctionCode
		FROM dbo.FN_Parameters_SplitTable(@_UserFunctionData,';',',')
		OPEN Cursor_UserPermission
		FETCH NEXT FROM Cursor_UserPermission INTO @_Function,@_Insert,@_Update,@_Delete,@_FullControl,@_FunctionCode
			WHILE @@FETCH_STATUS = 0
			BEGIN
					INSERT INTO [dbo].[UserFunctions]
					([UserID]
					,[FunctionID]
					,[CreatedTime]
					,[IsInsert]
					,[IsUpdate]
					,[IsDelete]
					,[IsFullControl]
					,FunctionCode)
				VALUES
					(@_UserID
					,@_Function
					,GETDATE()
					,@_Insert
					,@_Update
					,@_Delete
					,@_FullControl
					,@_FunctionCode)
				FETCH NEXT FROM Cursor_UserPermission INTO @_Function,@_Insert,@_Update,@_Delete,@_FullControl,@_FunctionCode
			END
		CLOSE Cursor_UserPermission
		DEALLOCATE Cursor_UserPermission

		 SET @_ResponseCode = 0;
		 COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @_ResponseCode = @_ERR_UNKNOWN;
		IF XACT_STATE() = -1 
			BEGIN
			CLOSE Cursor_UserPermission
			DEALLOCATE Cursor_UserPermission
				-- Rollback
				ROLLBACK TRANSACTION;
				-- Insert Log
				EXEC	[dbo].[sp_LogError]
						@ErrorCode = @_ResponseCode OUTPUT
			END
		IF (XACT_STATE() = 1) COMMIT TRANSACTION;
	END CATCH; 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UserFunctions_InsertListV2]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description: thêm quyền User theo chức năng (list functionID)
-- =============================================
CREATE PROCEDURE [dbo].[SP_UserFunctions_InsertListV2]
	 @_UserID  int
	,@_UserFunctionData NVARCHAR(MAX)
	,@_ResponseCode int OUTPUT
AS
BEGIN
    SET NOCOUNT, XACT_ABORT ON;
	DECLARE @_ERR_NOT_EXIST_ACCOUNT INT = -50
	DECLARE @_ERR_UNKNOWN INT = -99
	IF NOT EXISTS (SELECT * FROM [dbo].[User] WHERE [UserID] = @_UserID)
    BEGIN
		SET @_ResponseCode = @_ERR_NOT_EXIST_ACCOUNT
		RETURN
    END
	IF(ISNULL(@_UserFunctionData,'') = '')
	BEGIN
		SET @_ResponseCode = -600
		RETURN
    END
	BEGIN TRANSACTION
	BEGIN TRY
		DECLARE @_Function INT 
		DECLARE @_Insert BIT
		DECLARE @_Update BIT
		DECLARE @_Delete BIT
		DECLARE @_FullControl BIT
		DECLARE @_FunctionCode Nvarchar(50)

		DECLARE Cursor_UserPermission CURSOR FOR
		SELECT  Cast([Value1] as INT) FunctionId
			,[Value2] IsInsert
			,[Value3] IsUpdate
			,Value4 IsDelete
			,Value5 IsFullControl
			,ValueN FunctionCode
		FROM dbo.FN_Parameters_SplitTable(@_UserFunctionData,';',',')
		OPEN Cursor_UserPermission
		FETCH NEXT FROM Cursor_UserPermission INTO @_Function,@_Insert,@_Update,@_Delete
			WHILE @@FETCH_STATUS = 0
			BEGIN
				IF(NOT EXists(SELECT 1 FROM UserFunctions WHERE [UserID] = @_UserID AND FunctionID = @_Function))
				BEGIN
				INSERT INTO [dbo].[UserFunctions]
					([UserID]
					,[FunctionID]
					,[CreatedTime]
					,[IsInsert]
					,[IsUpdate]
					,[IsDelete]
					,[IsFullControl]
					,FunctionCode)
				VALUES
					(@_UserID
					,@_Function
					,GETDATE()
					,@_Insert
					,@_Update
					,@_Delete
					,@_FullControl
					,@_FunctionCode)
					END
				FETCH NEXT FROM Cursor_UserPermission INTO @_Function,@_Insert,@_Update,@_Delete,@_FullControl,@_FunctionCode
			END
		CLOSE Cursor_UserPermission
		DEALLOCATE Cursor_UserPermission

		 SET @_ResponseCode = 0;
		 COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @_ResponseCode = @_ERR_UNKNOWN;
		IF XACT_STATE() = -1 
			BEGIN
			CLOSE Cursor_UserPermission
			DEALLOCATE Cursor_UserPermission
				-- Rollback
				ROLLBACK TRANSACTION;
				-- Insert Log
				EXEC	[dbo].[sp_LogError]
						@ErrorCode = @_ResponseCode OUTPUT
			END
		IF (XACT_STATE() = 1) COMMIT TRANSACTION;
	END CATCH; 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UserLogs_GetPages]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Description>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UserLogs_GetPages] 
	@_Fromdate datetime =null
	,@_Todate datetime = null
	,@_UserID int = null
	,@_FunctionCode nvarchar(50) =''	
	,@_KeyWord nvarchar(100) =''	
	,@_CurrPage int
	,@_RecordPerPage int
	,@_TotalRecord int out
AS
BEGIN
	SET @_Fromdate = ISNULL(@_Fromdate,DATEADD(DAY,-7,GETDATE()))
	SET @_Todate = ISNULL(@_Todate, GETDATE())
	DECLARE @_Start INT = (((@_CurrPage-1) * @_RecordPerPage)+1)
	DECLARE @_End INT =   @_Start + @_RecordPerPage-1

	SELECT TMP.*
	  FROM (
		SELECT ROW_NUMBER() OVER(ORDER BY [LogID] DESC) AS STT,
		 * 
		FROM dbo.UserLogs
		WHERE (ISNULL(@_UserID,-1) = -1 OR UserID = @_UserID)
			  AND (ISNULL(@_FunctionCode, '') = '' OR FunctionCode = @_FunctionCode)
			  AND (ISNULL(@_KeyWord, '') = '' 
				  OR ([Description] LIKE '%' + @_KeyWord + '%') 
				
				  OR ([UserName] LIKE '%' + @_KeyWord + '%')

				  )
			  AND LogTime BETWEEN @_Fromdate AND @_Todate	
	) AS TMP WHERE STT BETWEEN @_Start AND @_End


	SELECT @_TotalRecord = (SELECT COUNT(LogID) FROM dbo.UserLogs
							WHERE (ISNULL(@_UserID,-1) = -1 OR UserID = @_UserID)
							  AND (ISNULL(@_FunctionCode, '') = '' OR FunctionCode = @_FunctionCode)
							  AND (ISNULL(@_KeyWord, '') = '' 
								  OR ([Description] LIKE '%' + @_KeyWord + '%') 
				
								  OR ([UserName] LIKE '%' + @_KeyWord + '%')

								  )
							  AND LogTime BETWEEN @_Fromdate AND @_Todate	)

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UserLogs_Insert]    Script Date: 9/26/2019 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UserLogs_Insert]
	@_UserID int
	,@_FunctionCode nvarchar(150)
	,@_UserName nvarchar(50)
	,@_Description nvarchar(1000)
	,@_LogType int = 0
	,@_ClientIP varchar(20) = null
	,@_ResponseCode int OUT
AS
BEGIN
	SET NOCOUNT, XACT_ABORT ON
	SET @_ResponseCode = -99
	SET @_LogType = ISNULL(@_LogType,0)
	SET @_ClientIP = ISNULL(@_ClientIP,'')
	BEGIN TRANSACTION
	BEGIN TRY
		
				INSERT INTO UserLogs
					( UserID
					 ,FunctionCode
					 ,LogTime
					 ,[Description]
					 ,[UserName]
					 ,[LogType]
					 ,[ClientIP]
					 )
				VALUES
					(@_UserID
					,@_FunctionCode
					,GETDATE()
					,@_Description
					,@_UserName
					,@_LogType
					
					,@_ClientIP
					)

			SET @_ResponseCode = 1
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		SET @_ResponseCode = -99;
		IF XACT_STATE() = -1 
			BEGIN
				-- Rollback
				ROLLBACK TRANSACTION;
				-- Insert Log
				EXEC	[dbo].[sp_LogError]
						@ErrorCode = @_ResponseCode OUTPUT
			END
		IF (XACT_STATE() = 1) COMMIT TRANSACTION;
	END CATCH
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 : TK thuong, 1 : Admin' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 : Log chuc nang, 1 : Log Login, 3: Log đôi mật khẩu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UserLogs', @level2type=N'COLUMN',@level2name=N'LogType'
GO
