#NewsContent {
    font-size: 15px;
}
#NewsContent img, #NewsContent table {
    max-width: 558px;
    height: auto !important;
    font-size: 15px;
}
#NewsContent div, #NewsContent p {
    margin: 1em 0;
    font-size: 15px;
}

@media screen and (max-width: 767px) {
    .chum_anhlist {
        margin-left: 10px;
    }

    #document table, th, td {
        padding: 0px;
        font-size: 86%;
    }

    #NewsContent img {
        height: auto !important;
    }

    #NewsContent img, #NewsContent table {
        max-width: max-content !important;
        text-align: center;
    }
    .library-img h4, .detail-content > h3 {
        font-size: 20px;
    }
}
@media (max-width: 485px) {

    .title-blue02 {
        font-size: 16px;
    }

    #document table, th, td {
        padding: 5px;
        font-size: 86%;
    }

    .video-text h3 {
        margin: 10px 0 10px 0;
    }

    .box-news li.col-xs-12 a span {
        line-height: 23px;
        font-size: 86%;
    }
    #NewsContent img, #NewsContent table {
        width: 100% !important;
        max-width: max-content !important;
        text-align: center;
    }
}
.target-date {
    margin: 0 10px 0px 0;
}
.address02 {
    margin-left:60px;
}
.target-content
{
    margin-bottom:0px !important;
    font-weight:normal!important
}
.target ul li {
    padding: 0 ;
}
.nav-list li ul {
    z-index: 100;
}
.nav-list li a {
   
    font-size: 18px;
    
}
.panel-body div, .panel-body p {
    margin: 1em 0;
}