@font-face {
  font-family: montserrat;
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: minionPro;
  src: url("../fonts/MinionPro-Regular.otf");
}
@font-face {
  font-family: glyphicons;
  src: url("../fonts/glyphicons-halflings-regular.eot"),
		url("../fonts/glyphicons-halflings-regular.svg"),
		url("../fonts/glyphicons-halflings-regular.ttf"),
		url("../fonts/glyphicons-halflings-regular.woff"),
		url("../fonts/glyphicons-halflings-regular.woff2");
}
body,a,p,span,strong,h1,h2,h3,h4{
	font-family: montserrat;
}
.container{
	width: 1770px;
}
@media(max-width:1770px){
	.container{
		width: 100%;
	}
}
.bg-gray{
	background-color: #f9f9f9;
}
.text-orange{
	color: #ff6633;
}
.title-cm{
	font-family: minionPro;
	font-size: 44px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
}
.linegreen{
	display: block;
	margin-top: 30px;
	width: 155px;
	height: 7px;
	background-color: #5ac89c;
}
.decs{
	font-size: 20px;
	text-align: center;
}
.mt90{
	margin-top: 90px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
@media(max-width:991px){
	.title-cm{
		font-size: 35px;
	}
	.mt40{
		margin-top: 30px;
	}
	.linegreen{
		margin-top: 20px;
	}
	.mt90{
		margin-top: 40px;
	}
}
@media(max-width:767px){
	.pt60{
		padding-top: 40px;
	}
	.pb60{
		padding-bottom: 40px;
	}
	.title-cm {
    font-size: 26px;
	}
	.linegreen {
    margin-top: 10px;
		height: 4px;
	}
	.decs{
		font-size: 16px;
	}
	.mt90{
		margin-top: 30px;
	}
	.fixed {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 10000;
		background-color: #fff;
	}
}


/*----- header -----*/
#navbar{
	background-color: #fff;
	z-index: 10000;
}
.header{
	position: relative;	
}
.hotline{
	padding: 5px 20px;
	background-color: #45a09a;
	color: #fff;
	display: inline-block;
	margin: 0;
}
.hotline a{
	color: #fff;
}
.head-content{
	padding-top: 10px;
	padding-bottom: 7px;
}
.head-content > .pull-right{
	margin-top: 5px;
}
.logo img{
	padding: 0 15px 5px 0;
}
.nav-top{
	display: inline-block;
}
.nav-top ul li{
	display: inline-block;	
}
.nav-top > ul > li{
	padding: 5px 20px;
}
.nav-top ul li a{	
	font-size: 17px;
	text-transform: uppercase;
	color: #333;
}
.nav-top > ul > li.active > a,
.nav-top ul li a:hover{
	color: #5ac89c;
	text-decoration: none;
}
.nav-top > ul > li{
	position: relative;
}
.nav-top ul li ul{
	position: absolute;
	left: 0;
	top: 50px;
	display: none;
	width: 250px;
	z-index: 20;
	background-color: #fff;
	box-shadow: 1px 1px 3px #00000057;
}
.nav-top ul li ul li{
	display: block;	
}
.nav-top ul ul a{
	font-size: 15px ;	
	padding: 8px 20px;
	display: block;
}
.nav-top ul ul a:hover{
	background-color: #5bc89c;
	color: #fff;
}
.nav-top a .glyphicon{
	font-size: 11px;
}
.boxsearch{
	display: inline-block;
	position: relative;
}
.boxsearch input{
	border-radius: 30px;
	border:1px solid #5ac89c;
	padding: 5px 35px 5px 5px;
	max-width: 190px;
}
.boxsearch .glyphicon{
	position: absolute;
	right: 12px;
	top: 9px;
	font-size: 16px;
}
.ico-menu {
	position: absolute;
	bottom: 20px;
	right: 15px;
}
.m-search{
	margin: 10px 15px;
	border-radius: 30px;
	width: 90%;
	background-color: #6b6a6a;
	box-shadow: inherit;
	border: 1px solid #626262;
	padding: 5px 10px;	
	position: relative;
}
.m-search::after{
	content:"\e003";
	font-family: glyphicons;
	display: block;
	position: absolute;
	right:0;
	top:0;
	
}
::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.6);} :-moz-placeholder { /* Firefox 18- */ color: rgba(255, 255, 255, 0.6); } ::-moz-placeholder { /* Firefox 19+ */ color: rgba(255, 255, 255, 0.6); } :-ms-input-placeholder { color: rgba(255, 255, 255, 0.6); }
@media(max-width:1440px){
	.nav-top > ul > li > a{
		padding: 5px 10px;
		font-size: 15px;
	}
	.boxsearch input{
		max-width: 100px;
	}
	.nav-top > ul > li {
    padding: 5px 0px;
	}
}
@media(max-width:991px){
	.head-content > .pull-right{
		display: none;
	}
	.nav-mobile{
		display: block;
	}
}
/*----- End header -----*/

/*----- Footer -----*/
.footer{
	background: url(../images/bg-footer.jpg) repeat top center;
	background-size: 100% auto;
}
.footer p{
	font-size: 18px;
}
.f-title{
	text-transform: uppercase;
}
.f-face img{
	margin-left: 70px;
}
@media(max-width:1024px){
	.footer p{
		font-size: 16px;
	}
	.f-face{
		text-align: center;
	}
	.f-face img{
		margin-left: 0;
	}
	.footer iframe{
		width: 100%;
	}
}
@media(max-width:767px){
	.footer{
		background-size: auto 100%;
	}
	.footer .row div.col-xs-6:nth-child(2n+1){
		clear: both;
	}
	.footer p {
    font-size: 14px;
	}
	.f-title{
		margin-top: 10px;
	}
}
@media (max-width:480px){
	.footer .row div.col-xs-6{
		width: 100%;
	}
	.footer .mt30{
		margin-top: 5px !important;
	}
}

/*----- Banner -----*/
.bnr{
	position: relative;
}
.bnr-slogan{
	position: absolute;
	top:0;
	width: 100%;
	padding-top: 14vw;
	overflow: hidden;
}
.slogan{
	display: inline-block;
	margin-bottom: 3px;
	font-style: italic;
	text-transform: uppercase;
	font-size: 40px;
	margin: 10px 0;
}

.bnr-slogan .container{
	margin: 0 auto;
	text-align: right;
}
.wrap-slogan{
	display: inline-block;
	text-align: left;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
	width: 100%;
}
.bnr-detail{
	width: 100%;	
}
.bnr-detail img{
	width: 100%;
}
@media (max-width:1440px){
	.bnr-slogan{
		padding-top: 8%;
	}
	.slogan{
		font-size: 35px;
		margin: 5px 0;
	}
}
@media (max-width:991px){
	.bnr-slogan{
		padding-top: 15%;
	}
	.slogan{
		font-size: 23px;
	}
}
@media (max-width:767px){
	.slogan {
			font-size: 18px;
		margin: 0;
	}
	.bnr-slogan{
		bottom:0;
		padding-top: 0;
	}
	.bnr-slogan .container{
		position: absolute;
		right:0;
		bottom:15px;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img{
		width: 140%;
    max-width: inherit;
	}
}


/*----- End Banner -----*/

/*----- service -----*/
.service{
	width: 100%;
	background-color: #f9f9f9;
}
.service-list li{
	text-align: center;
}
.service-list li a{
	font-size: 25px;
	text-transform: uppercase;
	color: #333;
}
.service-list li a .service-icon{
	margin-bottom: 30px;
	display: block;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	transition: transform 0.5s;
}
.service-list li a:hover{
	color: #5ac89c;
}
.service-list li a:hover .service-icon{
	transform: rotate(360deg);
}
.service-list li:nth-child(1) a .service-icon{
	background: url(../images/icon01.png) no-repeat center center;
	background-size: 100%;
}
.service-list li:nth-child(2) a .service-icon{
	background: url(../images/icon02.png) no-repeat center center ;
	background-size: 100%;
}
.service-list li:nth-child(3) a .service-icon{
	background: url(../images/icon03.png) no-repeat center center;
	background-size: 100%;
}
.service-info{
	margin-top: 15px;
	font-size: 18px;
}
@media(max-width:1024px){
	.service-list li a{
		font-size: 18px;
	}
	.service-info{
		font-size: 16px;
	}
}
@media(max-width:991px){
	.service-list li a .service-icon{
		width: 100px;
		height: 100px;
	}
	.service-list li a .service-icon{
		    margin-bottom: 20px;
	}
}
@media(max-width:767px){
	.service-list li a .service-icon{
		width: 80px;
		height: 80px;
	}
	.service-list li a{
		font-size: 14px;
	}
	.service-info{
		font-size: 14px;
		margin-top: 5px;
	}
	.service-list li a .service-icon {
    margin-bottom: 13px;
	}
/*
	.service-list.row{
		margin-left: 7px;
		margin-right: 7px;
	}
	.service-list.row li{
		padding-left: 7px;
		padding-right: 7px;
	}
*/
}
@media (max-width:480px){
	.service-list li{
		width: 100%;
		margin: 10px 0;
	}
}

/*----- customer-----*/
.customer-list{
	margin-top:40px;
}
.customer-list li{
	margin: 50px 0;
	padding: 0 40px;
	vertical-align: middle;
}
.customer-list li a:hover{
	opacity: 0.6;
	transition: all ease 0.2s;
}
.block-1024{
	display: none;
}
.customerpage-list li{
	text-align: center;
	margin: 40px 0;
	vertical-align: middle;
}
.customerpage-list li:nth-child(4n+1){
	clear: both;
}
@media(max-width:1024px){
	.block-1024{
		display: block;
	}
	.hidden-1024{
		display: none;
	}
}
@media(max-width:767px){
	.customerpage-list li:nth-child(2n+1){
		clear: both;
	}
	.customerpage-list li{
		margin: 20px 0;
	}
}
@media (max-width:480px){
	.customerpage-list li{
		width: 100%;
	}
}
/*----- project -----*/
.project{
	background-color: #f9f9f9;
}
.project-list.row{
	margin-left: 0;
	margin-right: 0;
}
.project-list li{
	padding-left: 0;
	padding-right: 0;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
}
.project-list li:nth-child(3n){
	border-right: 1px solid #ccc;
}
.project-list li:nth-last-child(1),
.project-list li:nth-last-child(2),
.project-list li:nth-last-child(3){
	border-bottom: 1px solid #ccc;
}
.project-list li img{
	width: 100%;
}
.project-item > a{
	position: relative;
	display: block;
}
.pr-content{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	text-align: center;
	background-color: rgba(235, 97, 43, 0.88);	
}
.project-item > a .pr-content{
	opacity: 0;
	transition: all ease 0.5s;
}
.project-item > a:hover .pr-content{
	opacity: 1;
}
.pr-content > p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); 
    padding: 0 15px;
	color: #fff;
}
.project-list li:nth-child(3n+1){
	clear: both;
}
@media(min-width:1140px){
	.pr-content > p{
		font-size: 22px;
	}
}
@media(max-width:767px){
	.project-list li:nth-child(3n+1){
		clear: inherit;
		float: left;
	}
	.project-list li:nth-child(2n+1){
		clear: both;
	}
	.project-list li:nth-child(3n){
		border-right: none;
	}
	.project-list li:last-child,
	.project-list li:nth-child(2n){
		border-right: 1px solid #ccc;
	}
	.project-list li:nth-last-child(1),
	.project-list li:nth-last-child(2),
	.project-list li:nth-last-child(3){
		border-bottom: 1px solid #ccc;
	}
}
@media(max-width:480px){
	.pr-content > p{
		font-size: 12px;
	}
}
@media(max-width:375px){
	.project-list li.col-xs-6{
		width: 100%;
	}
	.project-list li{
		border-right: 1px solid #ccc;
		border-bottom:none;
	}
	.project-list li:last-child{
		border-bottom: 1px solid #ccc;
	}
}

.contact-title{
	font-family: minionPro;
	font-size: 36px;
	color: #009a67;
	margin-bottom: 30px;
}
.icon-cm{
	padding-left: 90px;
	position: relative;
}
.icon-cm p{
	font-size: 22px;
	word-break: break-all;
	    padding: 10px 0;
}
.icon-cm a{
	color: #333;
}
.icon-phone:before{
	content: "\e182";
	color: #5ac89c;
	font-family: glyphicons;
	position: absolute;
	left: 0;
	top: 18%;
	font-size: 50px;
}
.icon-home:before{
	content:"\e021";
	color: #5ac89c;
	font-family: glyphicons;
	position: absolute;
	left: 0;
	top: 14%;
	font-size: 50px;
}
.icon-mail:before{
	content:"\2709";
	color: #5ac89c;
	font-family: glyphicons;
	position: absolute;
	left: 10px;
	top: 0%;
	font-size: 45px;
}
@media(max-width:991px){
	.icon-cm p{
		font-size: 18px;
	}
	.icon-cm{
		padding-left: 55px;
	}
	.icon-phone:before,
	.icon-home:before,
	.icon-mail:before{
		font-size: 40px;
		left: 0;
	}
}

.consult-list li{
	font-size: 35px;
	color: #eb612b;
	padding: 0 40px;
}
.consult-list li a{
	color: #eb612b;
}
.consult-list li a:hover{
	color: #C43D00;
	transition: all ease 0.2s;
}
.list-cm li{
	background: url(../images/li-list.png) no-repeat left 10px;
	padding: 5px 0 5px 26px;
	font-size: 17px;
}
.f18{
	font-size: 18px;
}
.list-italic li{
	font-style: italic;
}
@media (max-width:1440px){
	.consult-list li {
			font-size: 28px;
			padding: 0 30px;
	}
}
@media (max-width:767px){
	.f18{
		font-size: 16px;
	}
	.mt60{
		margin-top: 40px;
	}
	.consult-list li {
    font-size: 20px;
    padding: 0 15px;
	}
}

.submenu{
	width: 100%;
	background-color: #58c89e;
	text-align: center;
	z-index: 1000;
}
.submenu-list li{
	padding: 0;
}
.submenu-list li a{
	padding: 15px 30px;
	font-size: 22px;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
}
.submenu-list li a:hover,
.submenu-list li.active a{
	color: #333;
	background-color: #b4e6d3;
}
.projecthot li{
	margin: 40px 0;
}
.projecthot li img{
	width: 100%;
}
.projecthot li p{
	font-size: 20px;
	color: #009a67;
	margin-bottom: 20px;
}
.projecthot li a{
	display: block;
}
.projecthot li a:hover{
	opacity: 0.7;
	transition: all ease 0.3s;
	color: #333;
}
.projecthot li a:hover p{
	color: #333;
}
.pagination-cm{
	text-align: center;
}
.pagination-cm li{
	display: inline-block;
	margin: 5px;
}
.pagination-cm li a{
	width: 15px;
	height: 15px;
	font-size: 0;
	border-radius: 50%;
	background-color: #b1e2cf;
	display: inline-block;
}
.pagination-cm li.active a{
	background-color: #69cca5;
}
.dropdown{
	display: none;
}
.dropdownSub{
	display:none;
}
.dropdown_toggle .glyphicon{
	-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
}
.dropdown__inner{
	text-align: right;
}
.dropdown__inner i{
	color: #fff;
}
.dropdown h4 {
	color: #FFF;	
	padding:5px 15px 5px 0;
	display: inline-block;	
	margin: 0;
}
.banner__navi-sp .dropdownSub {
	width:100%;
	overflow: hidden;
}
.banner__navi_list{
	border-top:1px solid #fff;
	padding-top: 5px;
}
.banner__navi_list a{
	width: 100%;
	text-transform: uppercase;
	color: #fff;
	text-align: left;
	display: block;
	padding: 5px 10px;
}
.banner__navi_list li.active a{
	background-color: #43b78b;
}
@media (max-width:1900px){
	.submenu-list li a{
		font-size: 1.4vw;
		padding: 1vw 2vw;
	}		
}
@media (max-width:991px){
	.projecthot li{
		margin: 30px 0;
	}
}
@media (max-width:767px){
	.submenu-list {
		display: none;
	}
	.dropdown{
		display: block;
	}
	.projecthot li{
		margin: 15px 0;
	}
	.projecthot li p{
		margin-bottom: 10px;
	}
	.projecthot li p{
		font-size: 16px;
	}
	.pagination-cm li a{
		width: 12px;
		height: 12px;
	}
	.submenu{
		padding: 5px 0;
	}
	.submenu-list li a {
			font-size: 14px;
			padding: 5px 11px;
	}
	
}

.movie {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 56.28%;
    height: 0;
    overflow: hidden;
}
.videobig-title{
	font-size: 33px;
	color: #45a09a;
	margin-top: 0;
}
.video-list li{
	margin: 30px 0;
}
.video-list li img{
	width: 100%;
}
.video-list li p{
	font-size: 18px;
	color: #45a09a;
	margin-top: 15px;
}
.video-list li:nth-child(3n+1){
	clear: both;
}
.video-list li a:hover{
	opacity: 0.7;
	transition: all ease 0.3s;
}
@media(max-width:991px){
	.videobig-title{
		font-size: 22px;
	}
}
@media(max-width:767px){
	.videobig-title{
		font-size: 20px;
		margin-top: 20px;
	}
	.video-big p.mt30{
		margin-top: 15px !important;
	}
	.video-list li:nth-child(3n+1){
		clear: inherit;
		float: left;
	}
	.video-list li:nth-child(2n+1){
		clear: both;
	}
	.video-list li {
    margin: 15px 0;
	}
	.video-list li p{
		font-size: 15px;
	}
}
.orangecolor.row,
.greencolor.row{
	margin-left: 15px;
	margin-rigth: 15px;
}
.orangecolor li,
.greencolor li{
	padding-left: 15px;
	padding-right: 15px;
	margin: 15px 0;
}
.greencolor .pr-content{
	background-color: rgba(90, 200, 156, 0.9);
}

.link .glyphicon{
	color: #00cccc;
	margin-right: 5px;
}
.link a{
	text-decoration: underline;
	color: #333;
}
.title-detail{
	font-family: minionPro;
	font-size: 35px;
	color: #00cccc;
	text-transform: uppercase;
}

.news-title{
	margin-top: 10px;
}
.news-list li{
	margin: 20px 0;
}
.news-list li:nth-child(4n+1){
	clear: both;
}
@media (max-width:991px){
	.news-list li:nth-child(4n+1){
		clear: inherit;
		float: left;
	}
	.news-list li:nth-child(3n+1){
		clear: both;
	}
}
@media (max-width:767px){
	.news-list li:nth-child(3n+1){
		clear: inherit;
		float: left;
	}
	.news-list li:nth-child(2n+1){
		clear: both;
	}
}

/*----- New style 202006 ----*/
.textgreen{
	color: #66cc99;
}
.textbold{
	font-weight: bold;
	font-style: italic;
}
.bg-orange{
	background-color: #ff6633;
	padding: 30px 50px 40px 50px;
	position: relative;
}
.bg-orange p{
	font-size: 18px;
	color: #fff;
}
.tcsk-title{
	display: block;
	font-size: 25px;
	margin: 25px 0;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #f9f9f9;
}
.arrow-down{
	position: absolute;
	top:0;
	left: 45%;
}
.sxnd-content .list-inline  li{
	font-size: 28px;
	line-height: 120%;
}
@media(max-width:1440px){
	.sxnd-content .list-inline  li{
		padding: 0 15px;
		font-size: 20px;
	}
}
@media(min-width:991px){
	.row-60{
		margin-left: -30px;
		margin-right: -30px;
	}
	.row-60 > div{
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media(max-width:767px){
	.sxnd-content .list-inline  li{
		font-size: 18px;
		margin: 5px 0;
	}
	.bg-orange{
		margin-top: 30px;
		padding: 20px 15px 30px 15px;
	}
	 .tcsk-title{
		margin: 20px 0;
	}
	.consult-list li{
		width: 100%;
	}
}


