*{
	margin:0 auto;
	padding:0;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
}
ul{
	list-style:none;
}
ul,li{
	margin:0;
	padding:0;
}
img{
	border:0;
	max-width: 100%;
}
a,
a:hover{
	text-decoration:none;
}
a:hover{
	color:#224239;
	transition:all ease 0.3s;
}
.w100{width:100%;}
.mt70{margin-top: 70px;  }
.mt60{margin-top: 60px;  }
.mt50{margin-top: 50px;  }
.mt40{margin-top: 40px;  }
.mt30{margin-top: 30px !important;  }
.mt20{margin-top: 20px;  }
.mt10{margin-top: 10px;  }
.mt4{margin-top: 4px;  }
.mt5{margin-top: 5px;  }
.mt15{margin-top: 15px;  }
.pb70{
	padding-bottom: 70px;
}
.pt100{
	padding-top: 100px;
}
.pb100{
	padding-bottom: 100px
}
.pt60{
	padding-top: 60px;
}
.pb60{
	padding-bottom: 60px;
}
.nav-mobile{
	display: none;
}
.container{
	width: 1170px;
}
.white{
	color: #fff;
}
.w-100{
	width: 100%;
}
@media screen and (max-width: 767px){
	.block-sm{
		display: none;
	}	
	.pt100{
		padding-top: 50px;
	}
	.pb100{
		padding-bottom: 50px
	}
	.mt70 {
    margin-top: 35px;
	}
}
@media screen and (max-width: 1170px){
	.container{
		width: 100%;
	}
	img{
		max-width: 100%;
	}
	
}
/*-------- Go to top -------*/
#top_gototop{
	position: fixed;
	bottom: 55px;
	right: 20px;
	opacity:0.7;
	z-index: 999;
}
#top_gototop:hover{
	opacity:1;
}
#top_gototop img{
	width:50px;
}
/** back to top **/
#back-top{
	padding: 11px 18px;
	background-color: rgba(0, 204, 153, 0.79);
	color: #fff;
	border-radius: 4px;
	font-family: arial;
}
#back-top:hover{
	cursor: pointer;
	color: #fff;
	background-color:rgb(0, 204, 153);
}


/*------- Header mobile -------*/
.mm-menu{
	z-index: 9;
}
.mm-menu a{
	text-transform: uppercase;
}
/*----- Header -----*/


/*--------------Footer-------------*/

/*--------- End footer ----------*/

 














