.rating-box{border:#ccc solid 1px;padding:15px;text-align:center;height:185px}
.rating-box .average-value{font-size:70px;line-height:90px;color:#ffb606}
.rating-box .review-star{font-size:15px;color:#ffb606}
.rating-box .review-star i{display:inline-block;padding:3px}
.rating-box .detailed-rating .stars{width:100%;clear:both;height:30px;line-height:30px}
.rating-box .detailed-rating .stars .key{float:left;color:#ffb606;font-size:15px}
.rating-box .detailed-rating .stars .value{float:right}
.rating-box .stars .key i{display:inline-block;padding:0px 3px}
.shop-carousel .item {width:20%;float:left;margin:0;padding:5px;}
.shop-carousel .item img{border: #ccc solid 1px;padding: 3px;}
.shop-carousel .item .active img,.shop-carousel .item img:hover{border: #00B9F9 solid 1px;}
.catalog-product-view .services-list ul li {float:none;width:100%;margin-bottom:20px;min-height:60px;}