#NewsContent img, #NewsContent table {
    max-width: 100%;
    height: auto !important;
}
#NewsContent p, #NewsContent div, #NewsContent span {
    margin: 1em 0;
}
@media (max-width: 767px) {
    
    div .summary,div.images {
         width: 100%;
    }
    #NewsContent img, #NewsContent table {
        max-width: 360px;
        text-align: center;
        height:auto!important;
    }
}

.m-t-20 {
    margin-top: 20px !important;
}

.column_container > .column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.carousel-indicators {
    display: none;
}

.blog-list-wapper .nbs-flexisel-nav-left, .blog-list-wapper .nbs-flexisel-nav-right {
    display: none !important;
}

#NewsContent p, #NewsContent div, #NewsContent span {
    margin: 1em 0;
}

@media screen and (max-width: 767px) {


    #NewsContent img, #NewsContent table {
        max-width: 480px;
    }
}

@media screen and (max-width: 485px) {
    #NewsContent img, #NewsContent table {
        max-width: 300px;
    }

    .mobile-navigation .fa {
        padding-top: 15px;
    }
    div.summary,div.images {
         width: 100%;
    }
}


.mgb10 {
    clear: both;
    margin-bottom: 10px;
}
.mgb20 {
    clear: both;
    margin-bottom: 20px;
}
.heading {
    font-size: 0;
    width: 100%;
    overflow: hidden;
    border-bottom: 0.5px solid #d3d3d3;
    margin-bottom: 20px;
}

.heading span {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    margin: 0;
    margin-bottom: 0px;
    float: left;
    display: inline-block;
    background: #1aa8e1;
    color: #fff;
    padding: 13px 21px 7px 20px;
    min-width: 280px;
}
.heading ul {
    padding-left: 15px;
    list-style-type: none;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: auto;
}
.heading ul li {
    display: inline-block;
    padding: 13px 0px 7px;
}
.heading ul li a:hover {
    /* text-decoration: underline; */
    color: #eb1b23;
}

.heading ul li a {
    color: #000;
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    /* border-right: 1px solid #000; */
    font-weight: bold;
}
.padding-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
table{ font-family: Arial,serif;
}

textarea.form-control{
	font-size: 12px;
	background: #f8f8f8;
	border: 1px solid #dcd9d9;
	padding: 10px 8px;
	font-size: 14px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	-pie-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
select.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
	background: #f8f8f8;
	color: #888888;
	border: 1px solid #dcd9d9;
	padding: 8px;
	font-size: 14px;
	height: 34px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.form-control:focus{
	background: #f8f8f8;
	border: 1px solid #dcd9d9;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.has-error .form-control:focus{
	background: #f8f8f8;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}

div.required .control-label:before {
	color: #ff0000;
	content: "* ";
	font-weight: bold;
}
.woocommerce-breadcrumb {
    color: #777;
    margin: 0 0 1em;
   
}
.display-product-option {
    display: table;
    float: right;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}
.page-title {
    padding-bottom: 5px;
}

.woocommerce form .form-row .required {
    visibility: visible;
}

div#ez-toc-container p.ez-toc-title {
    font-size: 120%;
}

div#ez-toc-container p.ez-toc-title {
    font-weight: 500;
}

div#ez-toc-container ul li {
    font-size: 95%;
}

div#ez-toc-container {
    width: 100%;
}
@media ( max-width: 767px ) {
    .hotline-phone-ring-wrap {
        display: none;
    }
}
.woocommerce form .form-row .required {
    visibility: visible;
}
#rs-demo-id {
}

#rev_slider_1_1_wrapper .hesperiden.tparrows {
    cursor: pointer;
    background: rgba(0,0,0,0.5);
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 50%;
}

    #rev_slider_1_1_wrapper .hesperiden.tparrows:hover {
        background: #000000;
    }

    #rev_slider_1_1_wrapper .hesperiden.tparrows:before {
        font-family: 'revicons';
        font-size: 20px;
        color: #ffffff;
        display: block;
        line-height: 40px;
        text-align: center;
    }

    #rev_slider_1_1_wrapper .hesperiden.tparrows.tp-leftarrow:before {
        content: '\e82c';
        margin-left: -3px;
    }

    #rev_slider_1_1_wrapper .hesperiden.tparrows.tp-rightarrow:before {
        content: '\e82d';
        margin-right: -3px;
    }





#rev_slider_9_2_wrapper .hesperiden.tp-bullets {
}

    #rev_slider_9_2_wrapper .hesperiden.tp-bullets:before {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        padding: 10px;
        margin-left: -10px;
        margin-top: -10px;
        box-sizing: content-box;
        border-radius: 8px;
    }

#rev_slider_9_2_wrapper .hesperiden .tp-bullet {
    width: 12px;
    height: 12px;
    position: absolute;
    background: #999999; /* old browsers */
    background: -moz-linear-gradient(top, #999999 0%, #e1e1e1 100%); /* ff3.6+ */
    background: -webkit-linear-gradient(top, #999999 0%,#e1e1e1 100%); /* chrome10+,safari5.1+ */
    background: -o-linear-gradient(top, #999999 0%,#e1e1e1 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(top, #999999 0%,#e1e1e1 100%); /* ie10+ */
    background: linear-gradient(to bottom, #999999 0%,#e1e1e1 100%); /* w3c */
    filter: progid:dximagetransform.microsoft.gradient( startcolorstr='#999999', endcolorstr='#e1e1e1',gradienttype=0 ); /* ie6-9 */
    border: 3px solid #e5e5e5;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: content-box;
}

    #rev_slider_9_2_wrapper .hesperiden .tp-bullet:hover,
    #rev_slider_9_2_wrapper .hesperiden .tp-bullet.selected {
        background: #666666;
    }

div#ez-toc-container p.ez-toc-title {
    font-size: 120%;
}

div#ez-toc-container p.ez-toc-title {
    font-weight: 500;
}

div#ez-toc-container ul li {
    font-size: 95%;
}

div#ez-toc-container {
    background: #f5f5f5;
    border: 1px solid #ffffff;
    width: 100%;
}

    div#ez-toc-container p.ez-toc-title {
        color: #999;
    }

    div#ez-toc-container ul.ez-toc-list a {
        color: #428bca;
    }

        div#ez-toc-container ul.ez-toc-list a:hover {
            color: #2a6496;
        }

        div#ez-toc-container ul.ez-toc-list a:visited {
            color: #428bca;
        }
.woocommerce-product-gallery {
    opacity: 1 !important;
}
.blog-design-masonry .entry-title {
    font-size: 18px
}

.portfolio-entry .entry-title {
    font-size: 15px
}

.portfolio-hover-inverse .portfolio-thumbnail:after {
    background: none !important
}

.portfolio-hover-inverse .portfolio-info {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-hover-inverse .portfolio-info {
    background-color: rgba(0,0,0,.5);
}
.page-title-default {
    /*background-color: #0a0a0a;
    background-position: center center;
    background-size: cover;*/
    background-color: #0a0a0a;
    background-position: center center;
    background-size: cover;
    background-image: url(/Content/images/bgcate.jpg);
    min-height:168px;
}

.footer-container {
    background-color: #ffffff;
}

body, .font-text, .menu-item-register .create-account-link, .menu-label, .widgetarea-mobile .widget_currency_sel_widget .widget-title, .widgetarea-mobile .widget_icl_lang_sel_widget .widget-title, .wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-accordion .vc_tta-panel-title, .woodmart-more-desc table th, .product-image-summary .shop_attributes th, .woocommerce-product-details__short-description table th {
    font-family: Lato,Arial, Helvetica, sans-serif;
}

.font-primary, table th, .page-title .entry-title, .masonry-filter li, .widget_rss ul li > a, .woodmart-price-table .woodmart-plan-title, .wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-tabs .vc_tta-tab > a, .woodmart-sizeguide-table tr:first-child td, .tabs-layout-tabs .tabs li, .woodmart-accordion-title, .woodmart-checkout-steps ul, .woocommerce-billing-fields > h3, .woocommerce-shipping-fields > h3, .woocommerce-additional-fields > h3, #ship-to-different-address label, #order_review_heading, .cart-totals-inner h2, .wood-login-divider, .woocommerce-MyAccount-title, header.title > h3, .woocommerce-column__title, .compare-field, .compare-value:before, .compare-basic .compare-value:before, .woodmart-wishlist-title, .woodmart-empty-page, .woodmart-products-tabs .tabs-name, .woodmart-products-tabs .products-tabs-title, #order_payment_heading, h1, h2, h3, h4, h5, h6, .title, legend, .woocommerce-Reviews .comment-reply-title, .menu-mega-dropdown .sub-menu > li > a, .mega-menu-list > li > a {
    font-family: Poppins,'MS Sans Serif', Geneva, sans-serif;
}

.blog-post-loop .entry-title, .post-single-page .entry-title, .single-post-navigation .post-title, .portfolio-entry .entry-title, td.product-name a, .category-grid-item .category-title, .product-image-summary .entry-title, .autocomplete-suggestion .suggestion-title, .widget_recent_entries ul li a, .widget_recent_comments ul li > a, .woodmart-recent-posts .entry-title a, .woodmart-menu-price .menu-price-title, .product-title, .product-grid-item .product-title, .group_table td.label a {
    font-family: Poppins,'MS Sans Serif', Geneva, sans-serif;
}

.font-alt {
    font-family: Lato,'MS Sans Serif', Geneva, sans-serif;
    font-weight: 400;
}

.widgettitle, .widgettitle a, .widget-title, .widget-title a {
    font-family: Poppins;
    font-weight: 600;
}

.main-nav-style, .menu-opener, .categories-menu-dropdown .item-level-0 > a, .wd-tools-element .wd-tools-text, .main-nav .item-level-0 > a, .whb-secondary-menu .item-level-0 > a, .full-screen-nav .item-level-0 > a, .wd-tools-element .wd-tools-count, .woodmart-cart-design-2 .woodmart-cart-number, .woodmart-cart-design-5 .woodmart-cart-number {
    font-family: Lato,'MS Sans Serif', Geneva, sans-serif;
    font-weight: 700;
    font-size: 13px;
}

a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, blockquote footer:before, blockquote cite, blockquote cite a, .color-scheme-dark a:hover, .color-primary, .woodmart-dark .color-primary, .woodmart-cart-design-3 .woodmart-cart-subtotal .amount, .menu-item-register .create-account-link, .menu-item-register .create-account-link:hover, .btn-style-bordered.btn-color-primary, .mega-menu-list > li > a:hover, .mega-menu-list .sub-sub-menu li a:hover, .site-mobile-menu li.current-menu-item > a, .site-mobile-menu .sub-menu li.current-menu-item > a, .dropdowns-color-light .site-mobile-menu li.current-menu-item > a, .dropdowns-color-light .site-mobile-menu .sub-menu li.current-menu-item > a, .comments-area .reply a, .comments-area .reply a:hover, .comments-area .logged-in-as > a:hover, .blog-post-loop .entry-title a:hover, .read-more-section a, .read-more-section a:hover, .single-post-navigation .blog-posts-nav-btn a:hover, .error404 .page-title, .not-found .entry-header:before, .subtitle-color-primary.subtitle-style-default, .woodmart-title-color-primary .subtitle-style-default, .instagram-widget .clear a:hover, .box-icon-wrapper.box-with-text, .woodmart-price-table.price-style-alt .woodmart-price-currency, .woodmart-price-table.price-style-alt .woodmart-price-value, .woodmart-menu-price.cursor-pointer:hover .menu-price-title, .hotspot-icon-alt .hotspot-btn:after, .woodmart-sticky-btn .in-stock:before, .product-image-summary .in-stock:before, .variations_form .in-stock:before, .woodmart-compare-col .in-stock:before, td.woocommerce-orders-table__cell-order-number a:hover, .wd-action-btn > a:hover, .amount, .price, .price ins, a.login-to-prices-msg, a.login-to-prices-msg:hover, .woodmart-accordion-title:hover, .woodmart-accordion-title.active, .woodmart-dark .woodmart-accordion-title:hover, .woodmart-dark .woodmart-accordion-title.active, .woocommerce-form-coupon-toggle > .woocommerce-info .showcoupon, .woocommerce-form-coupon-toggle > .woocommerce-info .showlogin, .woocommerce-form-login-toggle > .woocommerce-info .showcoupon, .woocommerce-form-login-toggle > .woocommerce-info .showlogin, .cart-totals-inner .shipping-calculator-button, .woodmart-dark .cart-totals-inner .shipping-calculator-button, .login-form-footer .lost_password, .login-form-footer .lost_password:hover, .woocommerce-order-pay td.product-total .amount, .woodmart-my-account-links a:hover:before, .woodmart-my-account-links a:focus:before, .woocommerce-Address-title .edit:hover, .woodmart-products-tabs.tabs-design-simple .products-tabs-title li.active-tab-title, .brands-list .brand-item a:hover, .whb-color-dark .navigation-style-default .item-level-0:hover > a, .whb-color-dark .navigation-style-default .item-level-0.current-menu-item > a, .navigation-style-default .menu-mega-dropdown .color-scheme-dark .sub-menu > li > a:hover, .navigation-style-separated .menu-mega-dropdown .color-scheme-dark .sub-menu > li > a:hover, .navigation-style-bordered .menu-mega-dropdown .color-scheme-dark .sub-menu > li > a:hover, .vertical-navigation .menu-mega-dropdown .sub-menu > li > a:hover, .navigation-style-default .menu-mega-dropdown .color-scheme-dark .sub-sub-menu li a:hover, .navigation-style-separated .menu-mega-dropdown .color-scheme-dark .sub-sub-menu li a:hover, .navigation-style-bordered .menu-mega-dropdown .color-scheme-dark .sub-sub-menu li a:hover, .vertical-navigation .menu-mega-dropdown .sub-sub-menu li a:hover {
    color: #83b735;
}

    .menu-opener:not(.has-bg), .search-style-with-bg.searchform .searchsubmit, .woodmart-cart-design-4 .woodmart-cart-number, .btn.btn-color-primary, .btn-style-bordered.btn-color-primary:hover, .menu-label-primary, .main-nav .item-level-0.callto-btn > a, .mobile-nav-tabs .mobile-tab-title:after, .icon-sub-menu.up-icon, .comment-form .submit, .color-scheme-light .woodmart-entry-meta .meta-reply .replies-count, .blog-design-mask .woodmart-entry-meta .meta-reply .replies-count, .woodmart-dark .woodmart-entry-meta .meta-reply .replies-count, .meta-post-categories, .woodmart-single-footer .tags-list a:hover:after, .woodmart-single-footer .tags-list a:focus:after, .woodmart-pagination > span:not(.page-links-title), .page-links > span:not(.page-links-title), .widget_tag_cloud .tagcloud a:hover, .widget_tag_cloud .tagcloud a:focus, .widget_product_tag_cloud .tagcloud a:hover, .widget_product_tag_cloud .tagcloud a:focus, .widget_calendar #wp-calendar #today, .slider-title:before, .mc4wp-form input[type=submit], .subtitle-color-primary.subtitle-style-background, .woodmart-title-color-primary .subtitle-style-background, .woodmart-title-style-simple.woodmart-title-color-primary .liner-continer:after, .icons-design-simple .woodmart-social-icon:hover, .timer-style-active .woodmart-timer > span, .woodmart-price-table .woodmart-plan-footer > a, .woodmart-price-table.price-style-default .woodmart-plan-price, .hotspot-icon-default .hotspot-btn, .hotspot-icon-alt .woodmart-image-hotspot.hotspot-opened .hotspot-btn, .hotspot-icon-alt .woodmart-image-hotspot:hover .hotspot-btn, .hotspot-content .add_to_cart_button, .hotspot-content .product_type_variable, .widget_product_categories .product-categories li a:hover + .count, .widget_product_categories .product-categories li a:focus + .count, .widget_product_categories .product-categories li.current-cat > .count, .woodmart-woocommerce-layered-nav .layered-nav-link:hover + .count, .woodmart-woocommerce-layered-nav .layered-nav-link:focus + .count, .woodmart-woocommerce-layered-nav .chosen .count, td.woocommerce-orders-table__cell-order-actions a, .popup-quick-view .woodmart-scroll-content > a, .popup-quick-view .view-details-btn, .product-label.onsale, .widget_shopping_cart .buttons .checkout, .widget_price_filter .ui-slider .ui-slider-range, .widget_price_filter .ui-slider .ui-slider-handle:after, .widget_layered_nav ul .chosen a:before, .woocommerce-store-notice, .quantity input[type=button]:hover, .woodmart-stock-progress-bar .progress-bar, .woocommerce-pagination li .current, .cat-design-replace-title .category-title, .woodmart-hover-base:not([class*=add-small]) .wd-bottom-actions .woodmart-add-btn > a, .woodmart-hover-alt .woodmart-add-btn > a span:before, .woodmart-hover-quick .woodmart-add-btn > a, .product-list-item .woodmart-add-btn > a, .woodmart-hover-standard .woodmart-add-btn > a, .single_add_to_cart_button, .tabs-layout-tabs .tabs li a:after, .checkout_coupon .button, #place_order, .cart-totals-inner .checkout-button, .cart-actions .button[name=apply_coupon], .register .button, .login .button, .lost_reset_password .button, .woocommerce-MyAccount-content > p:not(.woocommerce-Message):first-child mark, .woocommerce-MyAccount-content > .button, .order-info mark, .order-again .button, .woocommerce-Button--next, .woocommerce-Button--previous, .woocommerce-MyAccount-downloads-file, .account-payment-methods-table .button, button[name=save_account_details], button[name=save_address], button[name=track], .woodmart-compare-col .button, .woodmart-compare-col .added_to_cart, .return-to-shop .button, .woodmart-pf-btn button, div.wcmp_regi_main .button, .dokan-dashboard a.dokan-btn, .dokan-dashboard button.dokan-btn, .dokan-dashboard input[type=submit].dokan-btn, .dokan-dashboard a.dokan-btn:hover, .dokan-dashboard a.dokan-btn:focus, .dokan-dashboard button.dokan-btn:hover, .dokan-dashboard button.dokan-btn:focus, .dokan-dashboard input[type=submit].dokan-btn:hover, .dokan-dashboard input[type=submit].dokan-btn:focus, .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li.active, .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a:hover, .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover, #dokan-seller-listing-wrap .dokan-btn, .woocommerce-MyAccount-content .dokan-btn, #yith-wpv-abuse, .yith-ywraq-add-to-quote .yith-ywraq-add-button .button.add-request-quote-button, body .select2-container--default .select2-results__option[aria-selected=true], .wd-tools-element .wd-tools-count, .woodmart-cart-design-2 .woodmart-cart-number, .woodmart-cart-design-5 .woodmart-cart-number, .navigation-style-underline .nav-link-text:after, .masonry-filter li a:after, .wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-tabs .vc_tta-tab .vc_tta-title-text:after, .category-nav-link .category-name:after, .woodmart-checkout-steps ul li span:after, .woodmart-products-tabs.tabs-design-default .products-tabs-title .tab-label:after, .woodmart-products-tabs.tabs-design-alt .products-tabs-title .tab-label:after {
        background-color: #83b735;
    }

        blockquote, .border-color-primary, .btn-style-bordered.btn-color-primary, .btn-style-link.btn-color-primary, .btn-style-link.btn-color-primary:hover, .menu-label-primary:before, .woodmart-single-footer .tags-list a:hover, .woodmart-single-footer .tags-list a:focus, .widget_tag_cloud .tagcloud a:hover, .widget_tag_cloud .tagcloud a:focus, .widget_product_tag_cloud .tagcloud a:hover, .widget_product_tag_cloud .tagcloud a:focus, .woodmart-title-style-underlined.woodmart-title-color-primary .title, .woodmart-title-style-underlined-2.woodmart-title-color-primary .title, .woodmart-price-table.price-highlighted .woodmart-plan-inner, .widget_product_categories .product-categories li a:hover + .count, .widget_product_categories .product-categories li a:focus + .count, .widget_product_categories .product-categories li.current-cat > .count, .woodmart-woocommerce-layered-nav .layered-nav-link:hover + .count, .woodmart-woocommerce-layered-nav .layered-nav-link:focus + .count, .woodmart-woocommerce-layered-nav .chosen .count, .widget_layered_nav ul li a:hover:before, .widget_layered_nav ul .chosen a:before, .quantity input[type=button]:hover, .woocommerce-ordering select:focus, .woodmart-products-tabs.tabs-design-simple .tabs-name, .woodmart-highlighted-products .elements-grid, .woodmart-highlighted-products.woodmart-carousel-container, .dokan-dashboard a.dokan-btn, .dokan-dashboard button.dokan-btn, .dokan-dashboard input[type=submit].dokan-btn, .dokan-dashboard a.dokan-btn:hover, .dokan-dashboard a.dokan-btn:focus, .dokan-dashboard button.dokan-btn:hover, .dokan-dashboard button.dokan-btn:focus, .dokan-dashboard input[type=submit].dokan-btn:hover, .dokan-dashboard input[type=submit].dokan-btn:focus, .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li.active, .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a:hover, .dokan-dashboard-wrap .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover {
            border-color: #83b735;
        }

.with-animation .info-svg-wrapper path {
    stroke: #83b735;
}

.color-alt, .woodmart-dark .color-alt, .btn-style-bordered.btn-color-alt, .subtitle-color-alt.subtitle-style-default, .woodmart-title-color-alt .subtitle-style-default {
    color: #fbbc34;
}

    .btn.btn-color-alt, .btn-style-bordered.btn-color-alt:hover, .menu-label-secondary, .subtitle-color-alt.subtitle-style-background, .woodmart-title-color-alt .subtitle-style-background, .woodmart-title-style-simple.woodmart-title-color-alt .liner-continer:after {
        background-color: #fbbc34;
    }

        .border-color-alternative, .btn-style-bordered.btn-color-alt, .btn-style-link.btn-color-alt, .btn-style-link.btn-color-alt:hover, .menu-label-secondary:before, .woodmart-title-style-underlined.woodmart-title-color-alt .title, .woodmart-title-style-underlined-2.woodmart-title-color-alt .title {
            border-color: #fbbc34;
        }

.hotspot-content .add_to_cart_button, .hotspot-content .product_type_variable, td.woocommerce-orders-table__cell-order-actions a, .popup-quick-view .woodmart-scroll-content > a, .woodmart-sticky-add-to-cart, .popup-added_to_cart .view-cart, .widget_shopping_cart .buttons .checkout, .woodmart-hover-base:not([class*="add-small"]) .wd-bottom-actions .woodmart-add-btn > a, .product-list-item .woodmart-add-btn > a, .woodmart-hover-standard .woodmart-add-btn > a, .single_add_to_cart_button, .checkout_coupon .button, #place_order, .cart-totals-inner .checkout-button, .cart-actions .button[name="apply_coupon"], .register .button, .login .button, .lost_reset_password .button, .social-login-btn > a, .woocommerce-MyAccount-content > .button, .order-again .button, .woocommerce-Button--next, .woocommerce-Button--previous, .woocommerce-MyAccount-downloads-file, .account-payment-methods-table .button, button[name="save_account_details"], button[name="save_address"], button[name="track"], .woodmart-compare-col .button, .woodmart-compare-col .added_to_cart, .return-to-shop .button, .woodmart-pf-btn button, #dokan-seller-listing-wrap .dokan-btn, .woocommerce-MyAccount-content .dokan-btn, .yith-ywraq-add-to-quote .yith-ywraq-add-button .button.add-request-quote-button {
    background-color: #83b735;
}

    .hotspot-content .add_to_cart_button:hover, .hotspot-content .product_type_variable:hover, td.woocommerce-orders-table__cell-order-actions a:hover, .popup-quick-view .woodmart-scroll-content > a:hover, .woodmart-sticky-add-to-cart:hover, .popup-added_to_cart .view-cart:hover, .widget_shopping_cart .buttons .checkout:hover, .woodmart-hover-base:not([class*="add-small"]) .wd-bottom-actions .woodmart-add-btn > a:hover, .product-list-item .woodmart-add-btn > a:hover, .woodmart-hover-standard .woodmart-add-btn > a:hover, .single_add_to_cart_button:hover, .checkout_coupon .button:hover, #place_order:hover, .cart-totals-inner .checkout-button:hover, .cart-actions .button[name="apply_coupon"]:hover, .register .button:hover, .login .button:hover, .lost_reset_password .button:hover, .social-login-btn > a:hover, .woocommerce-MyAccount-content > .button:hover, .order-again .button:hover, .woocommerce-Button--next:hover, .woocommerce-Button--previous:hover, .woocommerce-MyAccount-downloads-file:hover, .account-payment-methods-table .button:hover, button[name="save_account_details"]:hover, button[name="save_address"]:hover, button[name="track"]:hover, .woodmart-compare-col .button:hover, .woodmart-compare-col .added_to_cart:hover, .return-to-shop .button:hover, .woodmart-pf-btn button:hover, #dokan-seller-listing-wrap .dokan-btn:hover, .woocommerce-MyAccount-content .dokan-btn:hover, .yith-ywraq-add-to-quote .yith-ywraq-add-button .button.add-request-quote-button:hover {
        background-color: #74a32f;
    }

.main-nav .item-level-0.callto-btn > a, .comment-form .submit, .post-password-form input[type="submit"], .cookies-buttons .cookies-accept-btn, .mc4wp-form input[type="submit"], .woodmart-price-table .woodmart-plan-footer > a, div.wcmp_regi_main .button, #yith-wpv-abuse {
    background-color: #83b735;
}

    .main-nav .item-level-0.callto-btn > a:hover, .comment-form .submit:hover, .post-password-form input[type="submit"]:hover, .cookies-buttons .cookies-accept-btn:hover, .mc4wp-form input[type="submit"]:hover, .woodmart-price-table .woodmart-plan-footer > a:hover, div.wcmp_regi_main .button:hover, #yith-wpv-abuse:hover {
        background-color: #74a32f;
    }

.woodmart-promo-popup {
    background-color: #111111;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}
.vc_custom_1606564455662 {
    margin-top: -40px !important;
}

.vc_custom_1606638412090 {
    margin-top: 60px !important;
}

.vc_custom_1610010993434 {
    margin-top: 30px !important;
    margin-bottom: 60px !important;
}

.vc_custom_1505550660496 {
    margin-bottom: 5vh !important;
}

.vc_custom_1607738966402 {
    margin-bottom: -30px !important;
    padding-top: 220px !important;
    padding-bottom: 50px !important;
    background-color: #fff6e5 !important;
}

.vc_custom_1606667446355 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.vc_custom_1606635898785 {
    padding-top: 45px !important;
    padding-bottom: 30px !important;
    background-color: #efefef !important;
}

.vc_custom_1606535360442 {
    margin-top: 25px !important;
}

.vc_custom_1505552126475 {
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}

.vc_custom_1505898481858 {
    margin-bottom: -250px !important;
    border-top-width: 20px !important;
    border-right-width: 20px !important;
    border-bottom-width: 20px !important;
    border-left-width: 20px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    border-left-color: #ffffff !important;
    border-left-style: solid !important;
    border-right-color: #ffffff !important;
    border-right-style: solid !important;
    border-top-color: #ffffff !important;
    border-top-style: solid !important;
    border-bottom-color: #ffffff !important;
    border-bottom-style: solid !important;
}

.vc_custom_1606652191642 {
    margin-bottom: 10px !important;
}

.vc_custom_1606635338990 {
    margin-bottom: 0px !important;
    background-color: #ffffff !important;
}

.vc_custom_1505549912855 {
    margin-bottom: 30px !important;
}

.vc_custom_1505897947716 {
    margin-bottom: 20px !important;
    border-right-width: 1px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-right-color: rgba(73,73,73,0.09) !important;
    border-right-style: solid !important;
}

.vc_custom_1505897954324 {
    margin-bottom: 20px !important;
}

.vc_custom_1505897960260 {
    margin-bottom: 20px !important;
    border-right-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-left-color: rgba(73,73,73,0.09) !important;
    border-left-style: solid !important;
    border-right-color: rgba(73,73,73,0.09) !important;
    border-right-style: solid !important;
}

.vc_custom_1606635639673 {
    margin-bottom: 0px !important;
}

.vc_custom_1606635671953 {
    margin-bottom: 0px !important;
}

.vc_custom_1606635696632 {
    margin-bottom: 0px !important;
}

.vc_custom_1606635722431 {
    margin-bottom: 20px !important;
}
.wpb_animate_when_almost_visible {
    opacity: 1;
}
#rev_slider_1_1_wrapper {
    height: 834.4px
}

#rev_slider_9_2_wrapper {
    height: 480.64516129032256px
}
#wd-5fd492d20d4de .banner-title {
    font-size: 42px;
    line-height: 54px;
    color: #000000;
}

#wd-5fd492d20d4de .banner-subtitle {
    line-height: 26px;
    font-size: 16px;
    color: #806a50;
}

#wd-5ff3e22d60bc5 .banner-title {
    font-size: 42px;
    line-height: 54px;
    color: #000000;
}

#wd-5ff3e22d60bc5 .banner-subtitle {
    color: #806a50;
}

#wd-5ff3e1d46e196 .banner-title {
    font-size: 32px;
    line-height: 32px;
    color: #000000;
}

#wd-5ff3e1d46e196 .banner-subtitle {
    line-height: 26px;
    font-size: 16px;
    color: #806a50;
}

#wd-5ff6d0587dc21 .banner-title {
    line-height: 32px;
    color: #0a0a0a;
}

#wd-5ff6d0587dc21 .banner-subtitle {
    line-height: 26px;
    font-size: 16px;
    color: #806a50;
}

#wd-5fc392ef6c626 .woodmart-text-block {
    line-height: 42px;
    font-size: 32px;
    color: #232323;
}

#wd-5fc3938193e46 .woodmart-title-container {
    line-height: 32px;
    font-size: 22px;
}

@media (max-width: 1024px) {
    #wd-5fc392ef6c626 .woodmart-text-block {
        line-height: 32px;
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    #wd-5fc392ef6c626 .woodmart-text-block {
        line-height: 28px;
        font-size: 18px;
    }
}
.top-bar-nav > li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin: 0 7px;
    transition: background-color .3s;
}
    .top-bar-nav > li > a, .top-bar-nav > li > a :hover {
        color: rgba(255, 255, 255, 0.8) !important;
    }


.vc_row[data-vc-full-width] {
    opacity:1 !important;
}
@media (min-width: 561px) {
    .devvn_toolbar {
        position: fixed;
        bottom: 10px;
        left: 10px;
        z-index: 99999999;
    }

        .devvn_toolbar ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

            .devvn_toolbar ul li {
                padding: 0;
                margin: 0;
                list-style: none;
            }

                .devvn_toolbar ul li a {
                    display: block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    margin: 0 0 5px;
                    position: relative;
                    background-position: 50% 50%;
                    background-size: cover;
                    overflow: inherit;
                }

                    .devvn_toolbar ul li a br {
                        display: none;
                    }

                    .devvn_toolbar ul li a span {
                        font-weight: 400;
                        color: #ffffff;
                        position: absolute;
                        top: 50%;
                        left: calc(100% + 10px);
                        left: -webkit-calc(100% + 10px);
                        left: -moz-calc(100% + 10px);
                        margin-top: -12.5px;
                        font-size: 14px;
                        height: 25px;
                        line-height: 25px;
                        padding: 0 10px;
                        border-radius: 5px;
                        -moz-border-radius: 5px;
                        -webkit-border-radius: 5px;
                        white-space: nowrap;
                        opacity: 0;
                        visibility: hidden;
                    }

                    .devvn_toolbar ul li a:hover span {
                        opacity: 1;
                        visibility: visible;
                    }

                    .devvn_toolbar ul li a span:after {
                        right: 100%;
                        top: 50%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(136, 183, 213, 0);
                        border-right-color: #ffffff;
                        border-width: 5px;
                        margin-top: -5px;
                    }

                    .devvn_toolbar ul li a img {
                        width: auto;
                        height: auto;
                        max-width: 29px;
                        max-height: 29px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate3d(-50%, -50%, 0);
                        -moz-transform: translate3d(-50%, -50%, 0);
                        -webkit-transform: translate3d(-50%, -50%, 0);
                        margin: 0;
                    }

    .devvn_contact_quickbuy_li, .devvn_contact_addtocart_li {
        display: none;
    }
}

@media (max-width: 560px) {
    body.has_devvn_toolbar {
        padding-bottom: 50px;
    }

    .devvn_toolbar {
        background: #fff;
        display: inline-block;
        width: 100%;
        bottom: 0;
        left: 0;
        position: fixed;
        z-index: 99999999;
        height: auto;
        padding: 0;
        border-top: 0;
        transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        visibility: visible;
        opacity: 1;
       
        transition: all .3s linear;
        -moz-transition: all .3s linear;
        -webkit-transition: all .3s linear;
    }

   

    .devvn_toolbar {
        border-top: 1px solid #cbcbcb;
    }

        .devvn_toolbar ul {
            list-style: none;
            padding: 0;
            margin: 0;
            border-collapse: collapse;
            width: 100%;
            -js-display: flex;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        }

            .devvn_toolbar ul li {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 0;
                text-align: center;
                display: flex;
                margin-bottom: 0;
            }

                .devvn_toolbar ul li a {
                    display: block;
                    width: 100%;
                    outline: none;
                    text-decoration: none;
                    padding: 5px 3px;
                    white-space: nowrap;
                }

                    .devvn_toolbar ul li a span {
                        font-weight: 400;
                        color: #ffffff;
                        font-size: 3.5vw;
                        display: block;
                        margin: 2px 0 0 0;
                    }

                    .devvn_toolbar ul li a img {
                        height: 6vw;
                        width: auto;
                        margin: 0;
                    }

    .woocommerce-checkout .devvn_toolbar {
        display: none !important;
    }

    .devvn_toolbar a.devvn_buy_now_style {
        margin: 0;
        border-radius: 0;
        padding: 5px 8px;
        font-size: initial;
        line-height: inherit;
    }

        .devvn_toolbar a.devvn_buy_now_style span {
            margin: 0;
            padding: 0;
        }

        .devvn_toolbar a.devvn_buy_now_style span {
            background: none !important;
        }

    a#devvn_contact_addtocart {
        background: #e03232 !important;
    }
}

.mfp-wrap, .mfp-bg {
    z-index: 999999999;
}


.wd-tools-element > a {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    color: #333 !important;
    font-weight: 400;
    line-height: 1;
    font-size:14px !important;
}



.header-nav li:first-child {
    margin-left: 0 !important;
}

.header-nav > li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin: 0 7px;
    transition: background-color .3s;
}
.button span {
    display: inline-block;
    line-height: 1.6;
}
.header-button a {
    background-color: rgba(128, 106, 80, 1);
    color: white;
    border-radius: 5px;
}
