.ddsmoothmenu{
font: bold 12px Verdana;
background: #0096d6; /*background of menu bar (default state)*/
width: 100%;  border-radius:4px;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left; margin-top:1px; border-right:solid 1px #06C;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
text-decoration: none; font:bold 12px Tahoma, Geneva, sans-serif; color:#fff; padding:8px 12px;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
 background-color:#c2edff; color:#0096d6;
}

.ddsmoothmenu ul li a:hover{
 background-color:#c2edff; color:#0096d6;}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden; padding:0; margin:0;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none; border-bottom:dotted 1px #000; border-right:none; margin:0; border-top:solid 1px #c2edff;

}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
 font:bold 11px Tahoma, Geneva, sans-serif; color:#06C; background-color:#c2edff;
width: auto; /*width of sub menus*/
min-width:140px;
margin: 0;
}
.ddsmoothmenu ul li ul li a:hover { background-color:#fff;}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
opacity: 0.8;
}