/*menu*/
.bgmenu {
margin-top:-5px;
}
 ul.menu li a {
    z-index:2;
}
.submenu a{
    color: #000000 !important;
    text-decoration:none;
    font: 11px Tahoma,Geneva,sans-serif;
    padding-top: 3px;
    
}
/*slide*/
.tit_toptin {
    padding-left: 14px;
    
}
.chitiet1 {
    bottom: -5px;
}
#hotnews .jcarousel-prev {
     background: url("../images/back.gif") no-repeat scroll left top transparent;
    cursor: pointer;
    display: block;
    height: 28px;
    opacity: 1;
    position: absolute;
    right: 276px;
    bottom: 0px;
    width: 35px;
}
#hotnews .jcarousel-next {
    background: url("../images/next.gif") no-repeat scroll left top transparent;
    cursor: pointer;
    display: block;
    height: 28px;
    opacity: 1;
    position: absolute;
    right: 238px;
    bottom: 0px;
    width: 35px;
}
/*document*/
.rowtop {
    background-color: white;
    color: #000000;
    font-weight: bold;
}
.rowold{
    background-color: white;
    color: #000000;
   
}
    .rowold a, .rowevent a {
        color: #000000;
        text-decoration:none;
    }
.rowevent {
    background-color: #F3F3F3;
    color: #000000;
    
}
.bgcolor1 {
    background-color: #FFFFFF;
}
.text_noidung, .text_noidung a {
    color: #333333;
    font-size: 12px;
}
/*page*/
.ctpaging {
    float: right;
    margin: 0;
    padding-right: 6px;
    padding-top: 10px;
}
.ctpaging ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ctpaging li {
    display: inline;
    padding: 0 4px;
}
.ctpaging a, .ctpaging a:visited {
    background-color: #E7E7E7;
    border: 1px solid #D3D3D3;
    color: #545454;
    font: bold 12px Arial,Helvetica,sans-serif;
    padding: 2px 5px;
    text-decoration: none;
}
.ctpaging a:hover {
    background-color: #008BD3;
    border: 1px solid #008BD3;
    color: #FFFFFF;
}
.ctpaging a.currentpage {
    background-color: #008BD3 !important;
    border: 1px solid #008BD3 !important;
    color: #FFFFFF !important;
    cursor: default;
}
.boxtin_bg {
    height: 300px;
}

.bg_blu a {
    
    font: bold 14px Arial,Helvetica,sans-serif;
   
}