
a,p,span,h1,h2,h3{
	margin: 0;
}
.mt0{
	margin-top: 0;
}
.nav-mobile{
	display: none;
}
.block_mobile {
    display: none;
}
.title-cm{
	margin: 0;		
}
.title-cm a{
	color: #33ccff;
	font-size: 22px;
/*	font-weight: bold;*/
	text-transform: uppercase;
	border-left: 5px solid #33ccff;
	padding-left: 10px;
}
.title-cm02{
	font-size: 16px;
	display: block;
	width: 100%;
	background-color: #666;
	padding: 15px;
	text-transform: uppercase;
}
.title-cm02 a{
	color: #fff;
}
.title-blue{
	font-weight: bold;
	font-size: 22px;
	color: #33ccff !important;
	text-transform: uppercase;
}
.title-blue a{
	color: #33ccff !important;
}
.news-list-num li{
	padding: 15px 0 15px 40px;
	border-bottom: 1px solid #ccc;
}
.news-list-num li a{
	color: #333;
}
.num{
	width: 27px;
	height: 27px;
	border-radius: 50%;
	text-align: center;
	line-height: 27px;
	background-color: #666;
	color: #fff;
	display: inline-block;
	margin-left: -40px;
	float: left;
	margin-top: 5px;
}
.date{
	font-size: 13px;
	color: #999;
	display: block;
}
.f22,
.f22 a{
	font-size: 22px;
	font-weight: bold;
	color: #333;
}
.textwhite{
	color: #fff;
}
.home{
	background-color: #666;	
}
.home a{
	padding: 15px 12px !important;
}
.home i{
	color: #fff;
	font-size: 18px;
}
@media (max-width:767px){
	.hidden-sm{
		display: none;
	}
	.block-xs{
		display: block;
	}
	.f22,
	.f22 a{
		font-size: 18px;
		line-height: 120% !important;
	}
}
/*----- Header -----*/
.menu-top{
	background-color: #666666;
	text-align: right;
}
.menu-top .container > ul > li{
	display: inline-block;
	position: relative;
}
.menu-top .container > ul > li > a{
	color: #fff;
	padding: 6px 12px;
}
.menu-top ul li a{
	
	text-transform: uppercase;
	display: block;
	
}
.menu-top ul li a:hover{
	background-color: #f1f1f1;
	color: #333;
}
.menu-top .container > ul > li ul{
	width: 180px;
	position: absolute;
	top: 26px;
	left: -40px;
	z-index: 25;
	display: none;
}
.menu-top .container > ul > li:hover ul{
	display: block;
}
.menu-top ul > li li{
	display: block;
	width: 100%;
	text-align: center;
	margin: 2px 0;	
}
.menu-top ul > li li a{
	color: #333;
	padding: 5px 5px;
	background-color: #ccc;
	margin: 0;
}
.header{
	background: rgb(51,204,255);
background: linear-gradient(90deg, rgba(51,204,255,1) 0%, rgba(51,204,255,1) 35%, rgba(8,100,190,1) 60%, rgba(0,80,178,1) 80%);
	position: relative;
}
.logo{
	padding: 20px 0;
	position: relative;
	z-index: 2;
}
.header .container{
	overflow: hidden;
	position: relative;
	z-index: 20;
	background: rgb(51,204,255);
background: linear-gradient(90deg, rgba(51,204,255,1) 0%, rgba(51,204,255,1) 27%, rgba(8,100,190,1) 59%, rgba(0,80,178,1) 100%);
}
.bnr-img {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: auto;
	max-width: inherit;
}
.nav{
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	position: relative;
	height: 50px;
}
.nav-list li{
	display:inline-block;
}
.nav-list > li > a {
	color: #666;
	padding: 17px 20px;
	text-transform: uppercase;
	display: inline-block;
	height: 50px;
	float: left;
	font-size: 13px;
}
.nav-list > li:nth-child(2) a{
	padding: 10px 15px;
}
.nav-list > li.active > a,
.nav-list > li:hover > a{
	color: #33ccff !important;
	border-bottom: 3px solid #33ccff;
}
.nav-list > li{
	position: relative;
}
.nav-list > li > ul{
	display: none;
}
.nav-list > li:hover ul{
	display: block;
}
.nav-list li ul{
	position: absolute;
	z-index: 10;
	top:50px;
	width: 250px;
	background-color: #33ccff;
}
.nav-list li li{
	display: block;
	padding: 0;
}
.nav-list li li a{
	display: block;
	width: 100%;
	font-size: 15px;
	padding: 7px 12px;
	text-transform: inherit;
	border-bottom: 1px solid #fff;
	color: #fff;
}
.nav-list li li:hover{
	background-color: #1b52b0;
	color: #fff !important;
}
.nav-list li li a:hover{
	color: #fff !important;
}
.link-icon li{
	display: inline-block;
	padding: 5px 0;
}
.search-pc{
	position: relative;
}
.search_box{
	position: absolute;
	right: 0;
	top: 5px;
	height: 25px;
	z-index: 2;
	display: none;
}
.search_box input{
	border:1px solid #ccc;
	height: 25px;
}
.nav-mobile .ico-menu{
	position: absolute;
	right: 15px;
	top: 5vw;
	z-index: 35;
}
@media(max-width:1170px){
	.nav-list > li > a{
		padding: 15px 10px;
	}
}
@media (max-width:991px){
	.menu-top,	
	.nav-list{
		display: none;
	}
	.nav_top{
		display: none;
		height: 0;
	}
	.nav-mobile{
		display: block;
	}
	.logo{
		width: 25%;
	}
	.header .container{
		background: linear-gradient(90deg, rgba(51,204,255,1) 0%, rgba(51,204,255,1) 7%, rgba(8,100,190,1) 59%, rgba(0,80,178,1) 100%);
	}
}
@media (max-width:767px){
	.tool p{
		display: none;
	}
	.bnr-img{
		left: 0;
		right:inherit;
	}
	.logo {
			width: 43%;
	}
	.nav-mobile .ico-menu{
		top:9vw;
	}
}
/*----- End header -----*/

/*----- Go to top -----*/
.gototop{
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.64);
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
	    display: inline-block;
	font-size: 17px;
}

/*----- Content 01 -----*/
.content01 .row .col-md-4{
	width: 27%;
}
.content01 .row .col-md-5{
	width: 47.666667%;
}
.news-hot-small li{
	margin-bottom: 25px;
}
.news-hot-small li a{
	display: inline-block;
	color: #333;
	font-weight: bold;
}
@media (max-width:991px){
	.content01 .row .col-sm-8 {
    width: 66.66666667%;
	}	
}
@media (max-width:767px){	
	.content01 .row .col-xs-12 {
    width: 100%;
	}	
	.news-hot-small{
		margin-top: 20px;
	}
	.news-hot-small li{
		width: 48%;
	}
	.news-hot-small li:nth-child(2n+1){
		float: left;
	}
	.news-hot-small li:nth-child(2n){
		float: right;
	}
}

/*----- content02 -----*/
.content02{
	background-color: #33ccff;
	padding: 20px 0;
}
.content02 .title-cm a{
	color: #fff;
	border-left: 5px solid #fff;
}
.bg-white{
	padding: 15px;
	background-color: #fff;
}
.container.bg-white{
	padding: 0 15px;
	max-width: 1140px;
}
.content02 li img{
	width: 100%;
}
.content02 li h3{
	font-size: 14px;
	margin-top: 10px;
}
.content02 li h3 a{
	color: #333;
	padding-bottom: 15px;
	display: block;
	font-weight: bold;
}


/*----- Content 03 -----*/
.border-top-gray{
	border-top:8px solid #e5e5e5;
}
.news-list li{
	position: relative;
	padding-left: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.news-list li::before{
	content: " ";
	width: 10px;
	height: 20px;
	background: url(../images/next.png) no-repeat left top;
	background-size: 6px;
	display: block;
	position: absolute;
	left: 0;
	top: 15px;
}
.news-list li a{
	font-size: 15px;
	font-weight: bold;
	color: #333;
	display: block;
}
.newsbox-cm h3{
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
}
.newsbox-cm h3 a{
	color: #333;
}
.newsbox-cm	.news-list li{
	border-top:1px solid #ccc;
}
.border-blue{
	border:1px solid #33ccff;
}
.border-blue > img{
	padding: 5px;
	width: 100%;
}
.border-blue .news-list-num li{
	padding: 12px 0 12px 40px;
}
.border-blue .news-list-num .num{
	background-color: #33ccff;
}
.border-blue .news-list-num{
	padding-left: 5px;
	padding-right: 5px;
}

.border-blue .news-list li{
	border-bottom: 1px solid #ccc;
	padding-left: 27px;
	padding-right: 10px;
	padding-top: 13px;
	padding-bottom: 13px;
}
.border-blue .news-list li::before{
	left: 10px;
}
@media (max-width:991px){
	.content03 > .row > .col-md-3{
		margin-top: 30px;
	}
	.content03 > .row > .col-md-3 >.row> .mt30{
		margin-top: 0;
	}
}
@media (max-width:767px){
	.newsbox-cm{
		margin-top: 30px;
	}
	.content03 > .row > .col-md-3 >.row> .mt30{
		margin-top: 30px;
	}
}

/*----- content04 -----*/
.content04{
	background-color: #666;
	padding: 30px 0;
}
.box-cm-info > a{
	display: block;
	color: #fff;
	font-weight: bold;
}
.box-cm-list{
	margin-top: 15px;
}
.box-cm-list li{
	padding: 20px 0;
	border-top:1px solid #888;
}
.box-cm-list li img{
	width: 35%;
	float: left;
	margin-right: 10px;
}
.box-cm-list li a{
	display: block;
	color: #fff;
	font-weight: bold;
}

@media (max-width:767px){
	.content04 .row > .box-cm{
		margin-top: 30px
	}	
	.content04{
		padding-top: 0;
	}
}

/*----- menu-f-----*/
.menu-f{
	margin-top: 3px;
	border-top:1px solid #ccc;
}
.menu-f li{
	display: inline-block;
	padding: 10px 0;
}
.menu-f li a{
	font-size: 13px;
	color: #333;
	text-transform: uppercase;
}
.menu-f .pull-left li{
	padding: 15px;
}


.footer{
	background-color: #969696;
	padding: 20px 0;
}
@media (max-width:1170px){
	.menu-f .pull-left li {
    padding: 10px;
	}
}
@media (max-width:991px){
	.menu-f {
		display: none;
	}

}


/*----- Cong nghe page -----*/
.viewmore-list li{
	padding: 20px 0 20px 30px;
	border-bottom: 1px solid #ccc;
}
.viewmore-list li h3,
.viewmore-list li h3 a{
	font-size: 16px;
	font-weight: bold;
	color: #333;
}
.video-box{
	background-color: #666;
	padding: 10px;
}
.video-name{
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
	color: #fff;
	display: block;
}
.video-content{
	width: 100%; 
		height: 137px;
}
@media (max-width:1170px){
	.video-content{	
		height: 11.8vw;
	}
}
@media (max-width:991px){
	.viewmore-list li{
		padding: 20px 0;
	}
	.video-content{	
		height: 15.8vw;
	}	
}
@media (max-width:767px){
	.viewmore-list li.row{
		margin-left: -10px;
		margin-right: -10px;
	}
	.viewmore-list li.row > div{
		padding-left: 10px;
		padding-right: 10px;
	}
	.video-content{	
		height: 52.8vw;
	}	
	.video-box{
		margin-top: 20px;
	}
}

/*----- News page ----*/
.sub a{
		text-transform: uppercase;
	color: #999999;
}
.sub{
	width: 100%;
	text-align: left;
	text-transform: uppercase;
	color: #999999;
/*	margin-top: 30px;*/
}
.sub li{
	padding: 0;
}
.newsname{
	font-size: 25px;
	font-weight: bold;
}
.newsdecs{
	margin-top: 20px;
	font-size: 15px;
	color: #666;
}
.newsdate{
	font-size: 15px;
	color: #999999;
	margin-top: 20px;
	display: block;
}
.tacgia{
	display: block;
}
.tags{
	border-top:1px solid #ccc;
	padding-top: 10px;
}
.tags li{
	padding: 0 10px;
}
.tags li a{
	color: #333;
}


.videobig h3{
	font-size:20px;
	font-weight:bold;
	margin-top:15px;
	margin-bottom:15px;
}
.video{
	background-color: #f2f2f2;
}
.video h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #03849d;
    background: url(../images/ico-video.png) no-repeat 5px center #ffde00;
    padding: 10px 0 5px 40px;
    margin: 0;
}
.video p{
	padding: 5px 10px 10px 10px;
	font-weight: bold;
}
.video-list-item li{
	margin-top: 20px;
}
.video-list-item li:nth-child(4n+1){
	clear:both;
}
.video-list-item span{
	color:#121212;
	font-weight:bold;
}
.video-list-item a:hover span{
	color:#1f5ecb;
}
.video-list-item img{
	margin-bottom:10px;
	width:100%;
	display:block;
}
.videohot-list li{
	margin-bottom:15px;
}
.videohot-list span{
	font-weight:bold;
	color:#121212;
}
.pagination li{
	display: inline-block;
	margin-left: 3px;
}
.pagination li a{
	color: #121212;
	font-weight: bold;
	font-size: 13px;
	padding:5px 10px;
	border:1px solid #c8c8c8;
	border-radius:4px;
}
.pagination li:hover a,
.pagination li.active a{
	color: #000 !important;
	background-color: #c8c8c8;
}
.detail-link {
    text-align: right;
}
.detail-link li {
    display: inline-block;
	    vertical-align: middle;
}
@media(max-width:991px){
	.video-list-item li:nth-child(4n+1) {
			clear: inherit;
		float: left;
	}
	.video-list-item li:nth-child(3n+1) {
    clear: both;
	}
}
@media (max-width:767px){
	.video-list-item li:nth-child(3n+1) {
    clear: inherit;
		float: left;
	}
	.video-list-item li:nth-child(2n+1) {
    clear: both;
	}
}
.movie {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 56.28%;
    height: 0;
    overflow: hidden;
}
@media all and (min-width: 992px) { #restaurantbus-container .movie { width: 49.18%; padding-bottom: 27.62%; } }

/*----- Danh muc -----*/
.danhmuc-list > ul > li > p {
    font-weight: bold;
    font-size: 15px;
    color: #646464;
    border-bottom: 1px solid #33ccff;
    margin-top: 10px;
}

.danhmuc-list li p {
    padding: 7px 0 7px 0;
}

.danhmuc-list > ul > li li {
    margin-left: 30px;
    padding: 5px 0;
}

.list-time li {
    background: url(../images/icon-li03.png) no-repeat left 14px;
    padding: 5px 0 5px 17px !important;
    background-size: 8px;
}

.danhmuc-list li a {
    color: #646464;
    width: 100%;
    display: block;
}

    .danhmuc-list li a:hover {
        color: #33ccff;
    }

.list-orther li {
    border-bottom: 1px solid #33ccff;
}
.document-table table,
.document-table th,
.document-table td{
	padding: 10px;
	border-collapse: collapse;
	border:1px solid #ccc;
}
.dm-table {
    width: 100%;
}

    .dm-table tr,
    .dm-table td {
        border-collapse: collapse;
        border: none;
    }

    .dm-table td {
        padding: 5px 30px 5px 0;
    }

    .dm-table tr:last-child td:last-child {
        padding-right: 0;
    }

    .dm-table select {
        width: 100%;
    }

    .dm-table .form-control {
        height: 32px;
    }

.dm-table02 tr:nth-child(even) {
    background-color: #f9f9f9;
}

.dm-table02 th {
    text-align: center;
}

.dm-table02 a {
    color: #121212;
}

.dm-table03 {
    width: 100%;
}

    .dm-table03 tr,
    .dm-table03 td {
        border: 1px solid #ccc;
    }

        .dm-table03 tr:nth-child(odd) {
            background-color: #f9f9f9;
        }

    .dm-table03 td {
        padding: 20px 10px;
    }

@media (max-width:767px){
	.dm-table td {
			padding: 5px 0 5px 0;
			width: 100%;
			display: block;
	}
	.dm-table{
		margin-top: 30px;
	}
}
.key-word li {
    background: url(../images/icon10.png) no-repeat left center;
    padding-left: 30px!important;
    background-size: 20px;
    margin-bottom: 10px;
	padding: 5px 0 0 30px;
}
.key-word li a {
    text-transform: uppercase;
    color: #1b6d85;
    font-weight: bold;
}

/*----- Data page -----*/
.data-list ul li a{
	color: #999999;
	text-transform: uppercase;
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #fff;
}
.data-list ul li.active a{
	background-color: #33ccff;
	color: #fff;
}
.data-list ul li{
	display: block;
	width: 100%;
	padding: 1px;	
	border-bottom: 1px solid #ccc;
}
.data-list ul li:first-child{
	border-top:1px solid #ccc;
}
.news-name{
	display: block;
	color: #333;
	margin-top: 10px;
}
.data-post li{
	margin-bottom: 20px;
}
.data-post li img{
	width: 100%;
}
.data-post li:nth-child(3n+1){
	clear: both;
}
@media (max-width:767px){
	.data-post li:nth-child(3n+1){
		clear: inherit;
		float: left;
	}
	.data-post li:nth-child(2n+1){
		clear: both;
	}
}

.document-list li{
	border-bottom: 1px solid #ccc;
	padding: 10px;
}
.document-name{
	background: url(../images/icon-document.png) no-repeat left center;
	display: block;
	width: 100%;
	padding-left: 55px;
	color: #333;
}
.document-list li .date{
	padding-left: 55px;
}

.tool p{
	font-size: 13px;
	color: rgba(0, 0, 0, 0.7);
}
.submenu{
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.submenu h2{
	font-size: 27px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #33ccff;
}
.submenu-list{
	list-style-type: disc !important;
}
.submenu-list li{
    margin: 0 15px;
    list-style: disc !important;
    list-style-position: inside;
    display: list-item;
    float: left;
    padding: 0;
    color: #7c7c7c;
}
.submenu-list li a{
	text-transform: uppercase;
	color: #747474;
	margin-left: -5px;
	font-size: 13px;
}
.submenu:after{
	content: '';
	clear: both;
	display: block;
}

.total-view {
    background-color: #666666;
    padding: 15px 0;
    text-align: right;
    /* margin-top: 20px; */
}
.total-view span {
    font-weight: bold;
    display: inline-block;
    color: #fff;
}
.total-view02 ul, .total-view02 ul li, .total-view ul, .total-view ul li {
    display: inline-block;
}
.total-view02 ul li, .total-view ul li {
    color: #069;
    padding: 0 4px;
    background: #fff;
    font-weight: bold;
}














