body {
    font-family: "Roboto",sans-serif;
}

:root {
    --primary-color: #ec0032
}

.full-width .ubermenu-nav, .container, .row {
    max-width: 1230px
}

    .row.row-collapse {
        max-width: 1200px
    }

    .row.row-small {
        max-width: 1222.5px
    }

    .row.row-large {
        max-width: 1260px
    }

.header-main {
    height: 120px
}

#logo img {
    max-height: 100px
}

#logo {
    width: 250px
}

.header-bottom {
    min-height: 10px
}

.header-top {
    min-height: 35px
}

.transparent .header-main {
    height: 30px
}

.transparent #logo img {
    max-height: 30px
}

.has-transparent + .page-title:first-of-type, .has-transparent + #main > .page-title, .has-transparent + #main > div > .page-title, .has-transparent + #main .page-header-wrapper:first-of-type .page-title {
    padding-top: 60px
}

.header.show-on-scroll, .stuck .header-main {
    height: 68px !important
}

.stuck #logo img {
    max-height: 68px !important
}

.search-form {
    width: 30%
}

.header-bg-color, .header-wrapper {
    background-color: #fff;
}

.header-bottom {
    background-color: #f1f1f1
}

.header-main .nav > li > a {
    line-height: 16px
}

.stuck .header-main .nav > li > a {
    line-height: 10px
}

@media (max-width:549px) {
    .header-main {
        height: 70px
    }

    #logo img {
        max-height: 70px
    }
}

.nav-dropdown-has-arrow li.has-dropdown:before {
    border-bottom-color: #1872a4;
}

.nav .nav-dropdown {
    border-color: #fff;
}

.nav-dropdown {
    border-radius: 3px
}

.nav-dropdown {
    font-size: 95%
}

.nav-dropdown-has-arrow li.has-dropdown:after {
    border-bottom-color: #1872a4
}

.nav .nav-dropdown {
    background-color: #fff
}

.header-top {
    background-color: #fff !important
}

.accordion-title.active, .has-icon-bg .icon .icon-inner, .logo a, .primary.is-underline, .primary.is-link, .badge-outline .badge-inner, .nav-outline > li.active > a, .nav-outline > li.active > a, .cart-icon strong, [data-color='primary'], .is-outline.primary {
    color: #ec0032
}

[data-text-color="primary"] {
    color: #ec0032 !important
}

[data-text-bg="primary"] {
    background-color: #ec0032
}

.scroll-to-bullets a, .featured-title, .label-new.menu-item > a:after, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, button[type="submit"], .button.wc-forward:not(.checkout):not(.checkout-button), .button.submit-button, .button.primary:not(.is-outline), .featured-table .title, .is-outline:hover, .has-icon:hover .icon-label, .nav-dropdown-bold .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold > li > a:hover, .nav-dropdown-bold.dark .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold.dark > li > a:hover, .is-outline:hover, .tagcloud a:hover, .grid-tools a, input[type='submit']:not(.is-form), .box-badge:hover .box-text, input.button.alt, .nav-box > li > a:hover, .nav-box > li.active > a, .nav-pills > li.active > a, .current-dropdown .cart-icon strong, .cart-icon:hover strong, .nav-line-bottom > li > a:before, .nav-line-grow > li > a:before, .nav-line > li > a:before, .banner, .header-top, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover, .button.primary:not(.is-outline), input[type='submit'].primary, input[type='submit'].primary, input[type='reset'].button, input[type='button'].primary, .badge-inner {
    background-color: #ec0032
}

    .nav-vertical.nav-tabs > li.active > a, .scroll-to-bullets a.active, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, .accordion-title.active, .featured-table, .is-outline:hover, .tagcloud a:hover, blockquote, .has-border, .cart-icon strong:after, .cart-icon strong, .blockUI:before, .processing:before, .loading-spin, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover {
        border-color: #ec0032
    }

.nav-tabs > li.active > a {
    border-top-color: #ec0032
}

.widget_shopping_cart_content .blockUI.blockOverlay:before {
    border-left-color: #ec0032
}

.woocommerce-checkout-review-order .blockUI.blockOverlay:before {
    border-left-color: #ec0032
}

.slider .flickity-prev-next-button:hover svg, .slider .flickity-prev-next-button:hover .arrow {
    fill: #ec0032
}

[data-icon-label]:after, .secondary.is-underline:hover, .secondary.is-outline:hover, .icon-label, .button.secondary:not(.is-outline), .button.alt:not(.is-outline), .badge-inner.on-sale, .button.checkout, .single_add_to_cart_button, .current .breadcrumb-step {
    background-color: #ec0032
}

[data-text-bg="secondary"] {
    background-color: #ec0032
}

.secondary.is-underline, .secondary.is-link, .secondary.is-outline, .stars a.active, .star-rating:before, .woocommerce-page .star-rating:before, .star-rating span:before, .color-secondary {
    color: #ec0032
}

[data-text-color="secondary"] {
    color: #ec0032 !important
}

.secondary.is-outline:hover {
    border-color: #ec0032
}

body {
    font-size: 95%
}

@media screen and (max-width:549px) {
    body {
        font-size: 100%
    }
}

body {
    font-family: "Roboto",sans-serif
}

body {
    font-weight: 0
}

body {
    color: #333
}

.nav > li > a {
    font-family: "Roboto",sans-serif
}

.mobile-sidebar-levels-2 .nav > li > ul > li > a {
    font-family: "Roboto",sans-serif
}

.nav > li > a {
    font-weight: 0
}

.mobile-sidebar-levels-2 .nav > li > ul > li > a {
    font-weight: 0
}

h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a {
    font-family: "Roboto",sans-serif
}

h1, h2, h3, h4, h5, h6, .heading-font, .banner h1, .banner h2 {
    font-weight: 500
}

h1, h2, h3, h4, h5, h6, .heading-font {
    color: #0a0a0a
}

.alt-font {
    font-family: "Dancing Script",sans-serif
}

.header:not(.transparent) .header-nav.nav > li > a {
    color: #0a0a0a
}

    .header:not(.transparent) .header-nav.nav > li > a:hover, .header:not(.transparent) .header-nav.nav > li.active > a, .header:not(.transparent) .header-nav.nav > li.current > a, .header:not(.transparent) .header-nav.nav > li > a.active, .header:not(.transparent) .header-nav.nav > li > a.current {
        background-color: #1872a4;
        color: #fff;
        height: 52px;
        font-size: 13.5px;
        padding: 0 12px;
        line-height: 52px;
    }

.header-nav.nav-line-bottom > li > a:before, .header-nav.nav-line-grow > li > a:before, .header-nav.nav-line > li > a:before, .header-nav.nav-box > li > a:hover, .header-nav.nav-box > li.active > a, .header-nav.nav-pills > li > a:hover, .header-nav.nav-pills > li.active > a {
    height:0px;
}

a {
    color: #ec0032
}

.products.has-equal-box-heights .box-image {
    padding-top: 100%
}

@media screen and (min-width:550px) {
    .products .box-vertical .box-image {
        min-width: 498px !important;
        width: 498px !important
    }
}

.absolute-footer, html {
    background-color: #0a0a0a
}

#header-contact li > a > i + span {
    text-transform: none;
    font-size: 14px
}

.header-main .nav > li > a {
    height: 52px;
    text-align: center;
    font-weight: 500;
    font-size: 13.5px;
    padding: 0 12px;
    line-height: 52px;
}

.header-search-form input[type='search'] {
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #ec0032;
    font-size: 15px
}

.header-search-form .searchform .button.icon {
    margin: 0;
    height: 40px;
    width: 40px;
    background: #ec0032;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.nav-dropdown {
    padding: 10px 0 10px
}
    .nav-dropdown.nav-dropdown-bold > li > a, .nav-dropdown.nav-dropdown-bold.dark > li > a {
        color: #000;
        border-radius: 3px;
        background-color: #ffffff;
        border-radius: 0;
        font-weight: 500
    }
        .nav-dropdown.nav-dropdown-bold > li > a:hover, .nav-dropdown.nav-dropdown-bold.dark > li > a:hover {
            background-color: #1872a4;
            color:#fff;
        }

.slider-nav-light .flickity-prev-next-button {
    border-radius: 3px;
    background: #000
}

.slider-nav-circle .flickity-prev-next-button svg, .slider-nav-circle .flickity-prev-next-button .arrow {
    border: 0
}

.slider .flickity-prev-next-button:hover svg, .slider .flickity-prev-next-button:hover .arrow {
    background: #000
}

.danh-muc .category-title {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%
}

    .danh-muc .category-title h3 {
        display: block;
        width: 25%;
        float: left;
        margin: 0 auto;
        text-align: left;
        padding-left: 20px;
        line-height: 46px;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 0;
        font-weight: 500;
        color: #fff;
        background: #ec0032
    }

        .danh-muc .category-title h3:after {
            content: '';
            display: inline;
            float: right;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 46px 25px;
            border-color: #f4f4f4 transparent #f4f4f4 transparent
        }

.danh-muc .sub-menu {
    display: inline-block;
    float: right;
    width: 75%;
    background: #f4f4f4
}

    .danh-muc .sub-menu ul {
        text-align: right;
        padding-right: 10px;
        margin: 0;
        list-style: none
    }

        .danh-muc .sub-menu ul li {
            margin-bottom: 0;
            display: inline-block;
            padding: 0 3px;
            margin-left: 1px !important;
        }

            .danh-muc .sub-menu ul li a {
                font-size: 14px;
                font-weight: 500;
                text-transform: none;
                line-height: 46px;
                color: #4a4a4a
            }

                .danh-muc .sub-menu ul li a:hover {
                    color: #ec0032
                }

.row-banner .col {
    padding-bottom: 0
}

.product-small .product-title {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 8px
}

    .product-small .product-title a {
        color: #000
    }

.product-small {
    border: 1px solid #eaeaea
}

    .product-small .price span.amount {
        white-space: nowrap;
        color: #ec0032;
        font-weight: 500;
        font-size: 15px
    }

.badge-container {
    margin-top: 10px;
    margin-left: 10px
}

    .badge-container .badge-inner {
        border-radius: 99px
    }

.danh-muc .col {
    padding-bottom: 0
}

.product-small {
    margin-bottom: 20px
}

.danh-muc {
    padding-bottom: 0 !important
}

.footer-block {
    background-repeat: repeat;
    border-top: 3px solid #ec0032
}

b, strong {
    font-weight: 500
}

.single_add_to_cart_button {
    font-weight: 500;
    text-transform: none;
    letter-spacing: 0
}

.product-info span.amount {
    color: red;
    font-weight: 500
}

.product-info .product-title {
    font-size: 22px
}

.product-info .cart {
    margin-bottom: 10px
}

.product-info .product_meta {
    font-size: 15px
}

.product-info {
    padding-top: 0
}

.product-footer .product-tabs {
    background: #ececec
}

    .product-footer .product-tabs li {
        margin: 0
    }

        .product-footer .product-tabs li a {
            padding: 10px 15px;
            font-size: 16px;
            font-weight: 500;
            text-transform: none;
            background: #e2e2e2
        }

        .product-footer .product-tabs li.active > a {
            background: red;
            color: #fff
        }

.related-products-wrapper .product-section-title {
    letter-spacing: 0;
    color: #fff;
    padding: 9px 10px;
    background: #ec0032;
    margin-bottom: 20px
}

.related-products-wrapper .product-small {
    border: 0;
    margin-bottom: 0
}

    .related-products-wrapper .product-small .col-inner {
        border: 1px solid #ececec
    }

.shop-container #product-sidebar .widget_nav_menu ul li, #shop-sidebar .widget_nav_menu ul li, .post-sidebar .widget_nav_menu ul li {
    background: url(/wp-content/uploads/2018/06/icon-menu.png) no-repeat 2px 8px;
    padding-left: 25px
}

#product-sidebar, #shop-sidebar, #product-sidebar, .post-sidebar {
    padding-right: 15px
}

    #product-sidebar .widget_nav_menu ul, #shop-sidebar .widget_nav_menu ul, .post-sidebar .widget_nav_menu ul {
        background: #f7f4f4
    }

        #product-sidebar .widget_nav_menu ul .menu-cha, #shop-sidebar .widget_nav_menu ul .menu-cha, .post-sidebar .widget_nav_menu ul .menu-cha {
            background: #ec0032 !important;
            color: #fff;
            padding-left: 15px !important
        }

            #product-sidebar .widget_nav_menu ul .menu-cha a, #shop-sidebar .widget_nav_menu ul .menu-cha a, .post-sidebar .widget_nav_menu ul .menu-cha a {
                text-transform: uppercase;
                color: #fff
            }

        #product-sidebar .widget_nav_menu ul li a, #shop-sidebar .widget_nav_menu ul li a, .post-sidebar .widget_nav_menu ul li a {
            color: #000;
            width: 100%
        }

            #product-sidebar .widget_nav_menu ul li a:hover, #shop-sidebar .widget_nav_menu ul li a:hover, .post-sidebar .widget_nav_menu ul li a:hover {
                color: red
            }

        #product-sidebar .widget_nav_menu ul li:hover, #shop-sidebar .widget_nav_menu ul li:hover, .post-sidebar .widget_nav_menu ul li:hover {
            background: #fff
        }

        #product-sidebar .widget_nav_menu ul .menu-cha:hover, #shop-sidebar .widget_nav_menu ul .menu-cha:hover, .shop-sidebar .widget_nav_menu ul .menu-cha:hover {
            background: #525252 !important
        }

            #product-sidebar .widget_nav_menu ul .menu-cha:hover a, #shop-sidebar .widget_nav_menu ul .menu-cha:hover a, .shop-sidebar .widget_nav_menu ul .menu-cha:hover a {
                color: #fff
            }

    #product-sidebar .is-divider, #shop-sidebar .is-divider, .shop-sidebar .is-divider {
        height: 1px;
        max-width: 100%
    }

    #product-sidebar span.widget-title, #shop-sidebar span.widget-title, .shop-sidebar span.widget-title, .shop-sidebar span.widget-title, .post-sidebar span.widget-title {
        color: red
    }

.shop-container .product-small {
    border: 0;
    padding-bottom: 0
}

    .shop-container .product-small .box {
        border: 1px solid #eaeaea
    }

.shop-page-title {
    background: #f1f1f1;
    padding-bottom: 15px
}

.blog-single .large-9 {
    padding-left: 0
}

.blog-single .is-divider {
    height: 1px;
    max-width: 100%
}

.entry-content {
    padding-top: 0
}

footer.entry-meta {
    font-size: 15px
}

.flatsome_recent_posts li a {
    color: #000
}

@media (max-width:549px) {
    .danh-muc .category-title h3, .danh-muc .sub-menu {
        width: 100%
    }

        .danh-muc .sub-menu ul li {
            margin-left: 0
        }

            .danh-muc .sub-menu ul li a {
                line-height: 30px
            }

        .danh-muc .sub-menu ul {
            text-align: left
        }

    .danh-muc .col .post-item {
        flex-basis: 50%;
        max-width: 50%
    }
}

.label-new.menu-item > a:after {
    content: "New"
}

.label-hot.menu-item > a:after {
    content: "Hot"
}

.label-sale.menu-item > a:after {
    content: "Sale"
}

.label-popular.menu-item > a:after {
    content: "Popular"
}

.no-js img.lazyload {
    display: none
}

figure.wp-block-image img.lazyloading {
    min-width: 150px
}

.lazyload, .lazyloading {
    opacity: 0
}

.lazyloaded {
    opacity: 1;
    transition: opacity 400ms;
    transition-delay: 0ms
}

.ts a {
    color: #255D9D;
    width: 150px
}

.ts {
    padding-left: 40px
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
    display: none;
}

.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
    margin-top: 20px;
}

.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}

.nbs-flexisel-inner {
    overflow: hidden;
    float: left;
    width: 100%;
}

.nbs-flexisel-item {
    float: left;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    position: relative;
    line-height: 0px;
}

    .nbs-flexisel-item img {
        width: 80%;
        cursor: pointer;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
    }

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 30px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left: 0;
    background: url(/Content/images/per-2.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: 0px;
    background: url(/Content/images/next-2.png) no-repeat;
}

    .nbs-flexisel-nav-right:hover {
        background: url(/Content/images/next-2-hover.png) no-repeat;
    }

.nbs-flexisel-nav-left:hover {
    background: url(/Content/images/per-2-hover.png) no-repeat;
}

.m-b-10 {
    margin-bottom: 20px !important;
}

.quantity input {
    background: #f2f2f2 none repeat scroll 0 0;
    border-color: #917460;
    border-radius: 0;
    border-width: 0 0 2px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 30px !important;
    margin: 0 1px 25px;
    width: 39px;
    box-shadow: none;
}

#input-quantity {
    background: #f2f2f2 none repeat scroll 0 0;
    border-color: -moz-use-text-color;
    border-style: none none solid;
    border-width: 0 0 2px;
    height: 30px;
    text-align: center;
}

.plus, .minus {
    background: #f2f2f2 none repeat scroll 0 0;
    border-bottom: 2px solid;
    cursor: pointer;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 0 2px;
    height: 30px;
}

.plus {
    padding: 5px 15px;
}

.minus {
    padding: 5px 16px;
}

.padding-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.box_hotro {
    background: #3c8d3f none repeat scroll 0 0;
    color: #fff;
    height: 25px;
    left: 0;
    padding: 10px;
    position: absolute;
    top: -45px;
    width: 230px;
    box-sizing: content-box;
}

#labelxx {
    color: #ccc;
    cursor: pointer;
    display: block;
    font-style: italic;
    height: 30px;
    position: absolute;
    right: 10px;
    text-indent: -9999px;
    top: -40px;
    width: 30px;
}

.boxclose {
    background-image: url("/Content/images/btn_close.png");
}

.boxopen {
    background-image: url("/Content/images/btn_open.png");
}


@media (max-width: 767px) {

    div.summary, div.images {
        width: 100%;
    }
}

.m-t-20 {
    margin-top: 20px !important;
}

.column_container > .column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.carousel-indicators {
    display: none;
}

.blog-list-wapper .nbs-flexisel-nav-left, .blog-list-wapper .nbs-flexisel-nav-right {
    display: none !important;
}

#NewsContent p, #NewsContent div, #NewsContent span {
    margin: 1em 0;
}

@media screen and (max-width: 767px) {


    #NewsContent img, #NewsContent table {
        max-width: 480px;
    }
}

@media screen and (max-width: 485px) {
    #NewsContent img, #NewsContent table {
        max-width: 300px;
    }

    .mobile-navigation .fa {
        padding-top: 15px;
    }

    div.summary, div.images {
        width: 100%;
    }
}

.quantity input {
    background: #f2f2f2 none repeat scroll 0 0;
    border-color: #917460;
    border-radius: 0;
    border-width: 0 0 2px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 40px !important;
    margin: 0 1px 25px;
    width: 40px;
    box-shadow: none;
}

#input-quantity {
    background: #f2f2f2 none repeat scroll 0 0;
    border-color: -moz-use-text-color;
    border-style: none none solid;
    border-width: 0 0 2px;
    height: 40px;
    text-align: center;
}

.plus, .minus {
    background: #f2f2f2 none repeat scroll 0 0;
    border-bottom: 2px solid;
    cursor: pointer;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 0 2px;
    height: 40px;
}

.plus {
    padding: 5px 15px;
}

.minus {
    padding: 5px 16px;
}

.padding-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}



textarea.form-control {
    font-size: 12px;
    background: #f8f8f8;
    border: 1px solid #dcd9d9;
    padding: 10px 8px;
    font-size: 14px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    -pie-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

select.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
    font-size: 12px;
    background: #f8f8f8;
    color: #888888;
    border: 1px solid #dcd9d9;
    padding: 8px;
    font-size: 14px;
    height: 34px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    background: #f8f8f8;
    border: 1px solid #dcd9d9;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.has-error .form-control:focus {
    background: #f8f8f8;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
    font-size: 12px;
}

.input-group .input-group-addon {
    font-size: 12px;
    height: 30px;
}

div.required .control-label:before {
    color: #ff0000;
    content: "* ";
    font-weight: bold;
}

.woocommerce-breadcrumb {
    color: #777;
    margin: 0 0 1em;
}

.display-product-option {
    display: table;
    float: right;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.page-title {
    padding-bottom: 5px;
    margin-top:30px;
}

@media (min-width: 561px) {
    .blockmobile {
        display: none;
    }
    .devvn_toolbar {
        position: fixed;
        bottom: 10px;
        left: 10px;
        z-index: 99999999;
    }

        .devvn_toolbar ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

            .devvn_toolbar ul li {
                padding: 0;
                margin: 0;
                list-style: none;
            }

                .devvn_toolbar ul li a {
                    display: block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    margin: 0 0 5px;
                    position: relative;
                    background-position: 50% 50%;
                    background-size: cover;
                    overflow: inherit;
                }

                    .devvn_toolbar ul li a br {
                        display: none;
                    }

                    .devvn_toolbar ul li a span {
                        font-weight: 400;
                        color: #ffffff;
                        position: absolute;
                        top: 50%;
                        left: calc(100% + 10px);
                        left: -webkit-calc(100% + 10px);
                        left: -moz-calc(100% + 10px);
                        margin-top: -12.5px;
                        font-size: 14px;
                        height: 25px;
                        line-height: 25px;
                        padding: 0 10px;
                        border-radius: 5px;
                        -moz-border-radius: 5px;
                        -webkit-border-radius: 5px;
                        white-space: nowrap;
                        opacity: 0;
                        visibility: hidden;
                    }

                    .devvn_toolbar ul li a:hover span {
                        opacity: 1;
                        visibility: visible;
                    }

                    .devvn_toolbar ul li a span:after {
                        right: 100%;
                        top: 50%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(136, 183, 213, 0);
                        border-right-color: #ffffff;
                        border-width: 5px;
                        margin-top: -5px;
                    }

                    .devvn_toolbar ul li a img {
                        width: auto;
                        height: auto;
                        max-width: 29px;
                        max-height: 29px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate3d(-50%, -50%, 0);
                        -moz-transform: translate3d(-50%, -50%, 0);
                        -webkit-transform: translate3d(-50%, -50%, 0);
                        margin: 0;
                    }

    .devvn_contact_quickbuy_li, .devvn_contact_addtocart_li {
        display: none;
    }
}

@media (max-width: 560px) {
    .hidenmobile {
        display: none !important;
    }

    .blockmobile {
        display: flex;
    }
    body.has_devvn_toolbar {
        padding-bottom: 50px;
    }

    .devvn_toolbar {
        background: #fff;
        display: inline-block;
        width: 100%;
        bottom: 0;
        left: 0;
        position: fixed;
        z-index: 99999999;
        height: auto;
        padding: 0;
        border-top: 0;
        transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        visibility: visible;
        opacity: 1;
        transition: all .3s linear;
        -moz-transition: all .3s linear;
        -webkit-transition: all .3s linear;
    }



    .devvn_toolbar {
        border-top: 1px solid #cbcbcb;
    }

        .devvn_toolbar ul {
            list-style: none;
            padding: 0;
            margin: 0;
            border-collapse: collapse;
            width: 100%;
            -js-display: flex;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        }

            .devvn_toolbar ul li {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 0;
                text-align: center;
                display: flex;
                margin-bottom: 0;
            }

                .devvn_toolbar ul li a {
                    display: block;
                    width: 100%;
                    outline: none;
                    text-decoration: none;
                    padding: 5px 3px;
                    white-space: nowrap;
                }

                    .devvn_toolbar ul li a span {
                        font-weight: 400;
                        color: #ffffff;
                        font-size: 3.5vw;
                        display: block;
                        margin: 2px 0 0 0;
                    }

                    .devvn_toolbar ul li a img {
                        height: 6vw;
                        width: auto;
                        margin: 0;
                    }

    .woocommerce-checkout .devvn_toolbar {
        display: none !important;
    }

    .devvn_toolbar a.devvn_buy_now_style {
        margin: 0;
        border-radius: 0;
        padding: 5px 8px;
        font-size: initial;
        line-height: inherit;
    }

        .devvn_toolbar a.devvn_buy_now_style span {
            margin: 0;
            padding: 0;
        }

        .devvn_toolbar a.devvn_buy_now_style span {
            background: none !important;
        }

    a#devvn_contact_addtocart {
        background: #e03232 !important;
    }
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    /*max-width: 1000px;*/
    position: relative;
    margin: auto;
}

    /* Next & previous buttons */
    .slideshow-container .prev, .slideshow-container .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .slideshow-container .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

/* On hover, add a black background color with a little bit see-through */


/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}

.box-text.text-center {
    padding-left: 2px;
    padding-right: 2px;
}

.product-title {
    height: 56px;
}

.NewsContent img, .NewsContent table {
    max-width: 100%;
    height: auto !important;
}

.NewsContent p, .NewsContent div, .NewsContent span {
    margin: 1em 0;
}

@media (max-width: 767px) {


    .block-mobile
    {
        display:none;
    }
    .NewsContent img, .NewsContent table {
        max-width: 360px;
        text-align: center;
        height: auto !important;
    }
}

.NewsContent p, .NewsContent div, .NewsContent span {
    margin: 1em 0;
}
.hiden-mobile
{
    display:none;
}
@media screen and (max-width: 767px) {
    .hiden-mobile {
        display: block;
    }
    .NewsContent img, .NewsContent table {
        max-width: 480px;
    }
}

@media screen and (max-width: 485px) {
    .NewsContent img, .NewsContent table {
        max-width: 300px;
    }
}

footer .bg-loaded {
    background-image: url('../images/Banner-Cuoi.jpg');
}

footer .section-bg-overlay {
    background-color: rgba(0,0,0,.62);
}

footer ul li {
    margin-bottom: 5px;
    list-style: none;
}

    footer ul li a {
        color: #fff !important;
    }

.widget_nav_menu ul .menu-cha, .widget_nav_menu ul .menu-cha, .post-sidebar .widget_nav_menu ul .menu-cha {
    background: #1872a4 !important;
    color: #fff;
    padding-left: 15px !important;
}

    .widget_nav_menu ul .menu-cha a, .widget_nav_menu ul .menu-cha a, .post-sidebar .widget_nav_menu ul .menu-cha a {
        text-transform: uppercase;
        color: #fff;
    }

.shop-container .widget_nav_menu ul li, .widget_nav_menu ul li, .post-sidebar .widget_nav_menu ul li {
    /* background: url(/wp-content/uploads/2018/06/icon-menu.png) no-repeat 2px 8px; */
    padding-left: 25px;
}

    .widget_nav_menu ul li a, .widget_nav_menu ul li a, .post-sidebar .widget_nav_menu ul li a {
        color: #000;
        width: 100%;
    }

.is-small,
.is-small.button {
    font-size: 14px !important;
}

.widget_nav_menu ul .active {
    /* background: url(/wp-content/uploads/2018/06/icon-menu.png) no-repeat 2px 8px; */
    background-color: #fff !important;
}

    .widget_nav_menu ul .active a {
        /* background: url(/wp-content/uploads/2018/06/icon-menu.png) no-repeat 2px 8px; */
        color: red;
    }

.shome h1 {
    color: #1872a4;
    font-size: 19px;
}

.danh-muc .category-title .tieu-de a {
    color: #fff !important;
    font-size: 18px;
}

.danh-muc .category-title .tieu-de {
    display: block;
    width: 100%;
    float: left;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
    line-height: 46px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 500;
    color: #fff;
    background: #1872a4;
}

.danh-muc .sub-menu ul li h2:hover {
    color: #ec0032;
}

.danh-muc .sub-menu ul li h2 {
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    line-height: 46px;
    color: #4a4a4a;
}

.breadcrumbs h1 {
    color: #777;
    font-size: 14px;
    display: inline;
}

.spdaban {
    background-image: url(../images/sale3.png);
    width: 150px;
    height: 60px;
    position: absolute;
    right: 10px;
    top: 10px;
    text-indent: -9999px;
}

.spmoi {
    background-image: url(../images/new3.png);
    width: 150px;
    height: 60px;
    position: absolute;
    right: 10px;
    top: 10px;
    text-indent: -9999px;
}

.header-main .header-top-info {
    float: left;
    margin-left: 58px;
}

.header-main .header-secondary-phone {
    margin-left: 39px;
}

    .header-main .header-secondary-phone .phone {
        margin-bottom: 3px;
        vertical-align: bottom;
    }

.header-main .header-main-phone {
    position: relative;
    padding-left: 41px;
    margin-left: 30px;
}

    .header-main .header-main-phone i {
        color: #1872a4;
        font-size: 34px;
        top: -2px;
        left: 0;
        position: absolute;
    }

    .header-main .header-main-phone .phone {
        margin-top: 1px;
    }

        .header-main .header-main-phone .phone .phone-label {
            color: #1872a4;
        }

        .header-main .header-main-phone .phone .phone-label {
            margin-right: 2px;
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
            display: block;
            margin-bottom: 1px;
        }

header-main .header-main-phone .phone .phone-number {
    line-height: 26px;
    font-size: 26px;
}

.header-main .header-main-phone .phone .phone-number {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.header-main .header-address {
    position: relative;
    padding-left: 42px;
    max-width: 248px;
}

    .header-main .header-address i {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 34px;
        color: #1872a4;
    }

    .header-main .header-address .address .heading-font {
        color: #1872a4;
        margin-right: 2px;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        margin-bottom: 1px;
    }
.header-nav-transparent {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(234,234,234,.9);
    -webkit-box-shadow: 0 0 4px rgb(0 0 0 / 40%);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgb(0 0 0 / 40%);
}

.nav > li {
   
    margin: 0 -3px !important;
   
}
a.devvn_buy_now_style {
    display: inline-block;
    overflow: hidden;
    clear: both;
    padding: 9px 0;
    border-radius: 4px;
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
    color: #fff !important;
    text-align: center;
    background: #ec0032;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));
    background: -webkit-linear-gradient(top,#f59000,#fd6e1d);
    background: -moz-linear-gradient(top,#f59000,#fd6e1d);
    background: -ms-linear-gradient(top,#f59000,#fd6e1d);
    background: -o-linear-gradient(top,#f59000,#fd6e1d);
    margin: 0 0 20px;
    text-decoration: none;
    border-bottom: 0 !important;
    max-width: 350px;
    width: 100%;
}
    a.devvn_buy_now_style span {
        display: block;
        font-size: 14px;
        color: #fff;
        text-transform: none;
        margin: 2px 0 0;
    }
.nav .active{
background-color:transparent !important;
}
#PP a {
    font: 700 12px;
    margin-bottom: 15px;
    color: #555;
    width:100%
}