<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching,  Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
   
  </configSections>
  <connectionStrings>
    <remove name="membershipconn"/>
    <add name="membershipconn" connectionString="server=203.162.166.134;database=beta_cdnh;uid=congdoanct;pwd=1ef627f737cdfd1c429e72bbd90b8a8e;Connect Timeout=600; Min Pool Size=5; Max Pool Size=60;  MultipleActiveResultSets=True; Integrated Security=False;" providerName="System.Data.SqlClient"/>
    <add name="SMSConnectionString" connectionString="server=203.162.166.134;database=SMS;uid=dev;pwd=227edf7c86c02a44d17eec9aa5b30cd1;Connect Timeout=600; Min Pool Size=5; Max Pool Size=60;  MultipleActiveResultSets=True; Integrated Security=False;" providerName="System.Data.SqlClient"/>
    <add name="shoponlineconn" connectionString="server=203.162.166.134;database=beta_cdnh;uid=congdoanct;pwd=1ef627f737cdfd1c429e72bbd90b8a8e;Connect Timeout=600; Min Pool Size=5; Max Pool Size=60;  MultipleActiveResultSets=True; Integrated Security=False;" providerName="System.Data.SqlClient"/>
    <!--<add name="membershipconn" connectionString="server=CUONGPM\SQLEXPRESS;database=congdoannh;uid=sa;pwd=123;" providerName="System.Data.SqlClient"/>
    <add name="shoponlineconn" connectionString="server=CUONGPM\SQLEXPRESS;database=congdoannh;uid=sa;pwd=123;" providerName="System.Data.SqlClient"/>-->
    <add name="SMS.Properties.Settings.SMSConnectionString" connectionString="Data Source=URON\SQLEXPRESS;Initial Catalog=SMS;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="604800" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching,  Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Default Cache Manager"/>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching,  Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Expiration Cache Manager"/>
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching,  Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Null Storage"/>
    </backingStores>
  </cachingConfiguration>
</configuration>