.content_new_detail p {
     margin: 0 0 1em;
}
.nd {
    margin-top: 10px;
}
ul#topnav li span {
    text-overflow: ellipsis;
    height: 34px;
}
.dong1 img {
    float: left;
    padding: 10px 10px 10px 0;
}
.menu_c ul li a {
    
    padding: 10px 8px;
}
    .title5 a.chon {
    color: #a8fdfb;
}
    
.title8 a{
    color: #42a6a4;
    
}

.xemtiep {
    float: right;
    font: bold 11px Tahoma,Geneva,sans-serif;
    padding: 5px 10px;
}
.content_news input {
    border: 1px solid #c7c7c7;
}
/*document*/
.rowtop {
    background-color: #42a9a6;
    color: #000000;
    font-weight: bold;
}
.rowold{
    background-color: white;
    color: #000000;
   
}
    .rowold a, .rowevent a {
        color: #000000;
        text-decoration:none;
    }
.rowevent {
    background-color: #F3F3F3;
    color: #000000;
    
}
.bgcolor1 {
    background-color: #FFFFFF;
}
.bgcolor2 {
    background-color: #f0f2f1;
}
.text_noidung, .text_noidung a {
    color: #333333;
    font-size: 12px;
}
    .text_noidung td {
        padding: 5px;
    }
    
/*page*/
.ctpaging {
    float: right;
    margin: 0;
    padding-right: 6px;
    padding-top: 10px;
}
.ctpaging ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ctpaging li {
    display: inline;
    padding: 0 4px;
}
.ctpaging a, .ctpaging a:visited {
    background-color: #E7E7E7;
    border: 1px solid #D3D3D3;
    color: #545454;
    font: bold 12px Arial,Helvetica,sans-serif;
    padding: 2px 5px;
    text-decoration: none;
}
.ctpaging a:hover {
    background-color: #42a9a6;
    border: 1px solid #42a9a6;
    color: #FFFFFF;
}
.ctpaging a.currentpage {
    background-color: #42a9a6 !important;
    border: 1px solid #42a9a6 !important;
    color: #FFFFFF !important;
    cursor: default;
}


.i_content_bottom p a {
    color: #000;
    float: right;
    font-size: 95%;
    font-weight: bold;
}
.pad7 {
    padding: 10px;
}
.text_blue {
    color: #0075b9;
    font: 11px/20px Tahoma,Geneva,sans-serif;
    padding-top: 6px;
    text-align: right;
}

.content_news ul li p a {
    
    line-height: 18px;
}
.chum_anh {
    margin-top: 7px;
}
.chum_anh {
    border: 1px solid #666;
    float: left;
    margin-right: 10px;
    opacity: 1;
    padding: 3px;
}
@media screen and (max-width: 767px) {
    

    #NewsContent img, #NewsContent table { max-width: 480px; }

    
}
@media screen and (max-width: 485px) {
     #NewsContent img, #NewsContent table { max-width: 300px; }
}