.coquan ul li{ padding:7px 10px;position:relative;}
.coquan li a{ color:#3e3e3e;}
.coquan ul li:hover{background-color:#dffffe;}
.coquan ul li:hover a{color:red;}
.coquan li div{ position:absolute; top:0; right:0; width:45%;over-flow:hidden;padding:10px;background-color:#ACF8F1;}
.coquan .don img{ width:35%; float:left;padding-right:10px;}
.coquan .tapthe img{ width:100%;}
.coquan li p{ line-height:20px; margin-top:10px;}

.coquan li div{ opacity:0;}
.coquan li:hover div{opacity:1;transition:all ease 0.5s;}