.box1 {
   
    margin-bottom: 2px;
}
.tygia .title5 span {color:#fff; font-weight:bold;line-height:25px; padding-left:10px; font-size:120%;}
.tygia table{width:100%; line-height:25px;}
.tygia{padding-bottom:5px; width:48% !important; float:left; height:135px; overflow:hidden; font-size:10px;}
.tygia table,th,td{ border:1px solid #e1e1e1;border-collapse:collapse; padding:0; margin:0;}
/* .tygia table tr:nth-child(odd){background-color:#f5f5f5;} */

.content_new_detail p {
    margin: 1em 0;
}

.nd {
    margin-top: 10px;
}

ul#topnav li span {
    text-overflow: ellipsis;
    height: 34px;
}

.dong1 img {
    float: left;
    padding: 10px 10px 10px 0;
}

.menu_c ul li a {
    padding: 10px 8px;
}

.menu_c ul > li > a:hover {
    color: #fff;
}

.title5 a.chon {
    color: #a8fdfb;
}

.title8 a {
    color: #0b8c87;
}

.xemtiep {
    float: right;
    font: bold 11px Tahoma,Geneva,sans-serif;
    padding: 5px 10px;
}

.content_news input {
    border: 1px solid #c7c7c7;
}
/*document*/
.rowtop {
    background-color: #42a9a6;
    color: #000000;
    font-weight: bold;
}

.rowold {
    background-color: white;
    color: #000000;
}

    .rowold a, .rowevent a {
        color: #000000;
        text-decoration: none;
    }

.rowevent {
    background-color: #F3F3F3;
    color: #000000;
}

.bgcolor1 {
    background-color: #FFFFFF;
}

.bgcolor2 {
    background-color: #f0f2f1;
}

.text_noidung, .text_noidung a {
    color: #333333;
    font-size: 14px;
}

    .text_noidung td {
        padding: 5px;
        font-size: 14px;
    }

/*page*/
.ctpaging {
    float: right;
    margin: 0;
    padding-right: 6px;
    padding-top: 10px;
}

    .ctpaging ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .ctpaging li {
        display: inline;
        padding: 0 4px;
    }

    .ctpaging a, .ctpaging a:visited {
        background-color: #E7E7E7;
        border: 1px solid #D3D3D3;
        color: #545454;
        font: bold 12px Arial,Helvetica,sans-serif;
        padding: 2px 5px;
        text-decoration: none;
    }

        .ctpaging a:hover {
            background-color: #42a9a6;
            border: 1px solid #42a9a6;
            color: #FFFFFF;
        }

        .ctpaging a.currentpage {
            background-color: #42a9a6 !important;
            border: 1px solid #42a9a6 !important;
            color: #FFFFFF !important;
            cursor: default;
        }


.n_chinh1 a h3 {
    font-size: 190%;
    margin: 0px 10px 20px;
}

.content_news ul li p a {
    line-height: 18px;
}

#video_viewer_detail_logo {
    display: none !important;
}

.chum_anh {
    margin-top: 7px;
}

.chum_anh {
    border: 1px solid #666;
    float: left;
    margin-right: 10px;
    opacity: 1;
    padding: 3px;
}

.tinlienquan a {
    color: #666;
}

.chum_anhlist {
    margin-left: 40px;
    width: 100%;
}

.news_mobile {
    display: none;
}
.footer a
{
color:#006e6b;

}
#top-link{ position:fixed; right:20px; bottom:25px; background:url(../images/icon-top.png) no-repeat top left; width:50px; height:40px; }
#top-link:hover{ background:url(../images/icon-top-hover.png) no-repeat top left;}
@media screen and (max-width: 767px) {


    #NewsContent img, #NewsContent table {
        max-width: 480px;
    }
}

@media screen and (max-width: 485px) {
    #NewsContent img, #NewsContent table {
        max-width: 300px;
    }

    .news_mobile {
        display: block;
        background-color: #fff;
        padding: 5px;
        border-top: 1px dotted #CCC;
    }

}
.title_comment { font-size:14px; line-height:30px; border-bottom:2px solid #ececec; text-transform:uppercase;}
.comment > ul a > img{ width:80px; height:80px; float:left;margin-right:10px;}
.commnet{ font-size:13px !important;}
.font10{font-size:10px;}
.red{ color:red;}
.comment .vitri1,.comment .vitri1 a{color:#999;}
.comment a:hover{text-decoration:underline;}
.comment li{ border-top:1px solid #ececec; margin-top:1px;margin-bottom:10px;}
.comment li p a,.comment i a{ color:#999; font-size:9px;}
.comment ul ul{ margin-left:40px; margin-top:15px;}
.comment ul ul li img{ width:65px; height:65px;}
