.modal.in .modal-dialog{
    z-index:9999;
}
/*question*/
 
 .lb_cau {
    font-weight: 700;
   
    text-transform: uppercase;
    font-size: 13px;
    font-family: tahoma;
    color: #2D36D9;
}
 .lb_q_text {
  font-size: 12px;
    font-family: tahoma;
}
  .space5 {
    clear: both;
    width: 100%;
    height: 5px;
}
 .space10 {
    clear: both;
    width: 100%;
    height: 10px;
}
 .space15 {
    clear: both;
    width: 100%;
    height: 15px;
}
 .lb_cauhoi {
    font-size: 14px;
    line-height: 20px;
}
 .lb_q_row {
  
    padding: 2px 0 2px 20px;
     float: left;
}
 .lb_question_item {
    display: inline-block;
     clear: both;
     width: 100%
}
 .baseline {
    border-bottom: 1px solid #EBEBE9;
    height: 1px;
    width: 100%;
    clear: both;
}
 .lb_q_text span {
    cursor: pointer;
}
 .lb_bailam {
     margin-bottom: 50px
 }
 #fixbuton {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    border-radius: 0;
    border-top: 1px solid #d7d8db;
    bottom: 0;
    left: 230px;
    padding: 14px;
    position: fixed;
    right: 0;
    z-index: 99;
}
 .lb_q_row input {
    cursor: pointer;
    
}