
@font-face {
	font-family: 'swiss';
	src: url('../fonts/UTMSwiss.ttf');
}
.pd0{
	padding: 0;
}
.pl0{
	padding-left: 0;
}
.pr0{
	padding-right: 0;
}
.row{
	margin-left: -8px;
	margin-right: -8px;
}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
	padding-left: 8px;
	padding-right: 8px;
}
.title-cm{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	padding: 10px 5px;
}
.title-cm a{
	color: #03849d;
}
.title-cm02{
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding: 3px 0;
}
.title-cm02 a{
	background-color: #ffde00;
	color: #068d8b;
	padding: 7px 10px 3px 10px;
	text-transform: uppercase;
	display: inline-block;
}
.title-cm03{
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 1px solid #09918f;
	padding: 5px 0;
	display: inline-block;
	margin-top: 5px;
}
.title-cm03 a{
	color: #58595b;
}
.title-blue{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #09918f;
	color: #09918f;
	margin-top: 0;
	padding-bottom: 5px;
}
.edu .title-cm03{
	background: url(../images/ico-edu.png) no-repeat 10px center;
	padding: 15px 0 8px 37px;
}
.document .title-cm03{
	background: url(../images/ico-document.png) no-repeat 10px center;
	padding: 8px 0 4px 40px;
}

.pagination li{
	display: inline-block;
	margin-left: 5px;
}
.pagination li a{
	color: #121212;
	font-weight: bold;
	font-size: 13px;
	padding: 3px 13px;
	background-color: #d2d3d5;
}
.pagination li:hover a,
.pagination li.active a{
	color: #09918f;
	background-color: #fff200;
}



/*---------- Header ----------*/
.header{
	background: url(../images/bnr-top.png) no-repeat right top;
	padding-top: 20px;
}
.header nav{
	margin-top: 20px;
	background-color: #09918f;
}
.header nav li{
	display:inline-block;
	padding: 7px 0;
}
.header nav li a {
    font-family: 'swiss';
    color: #fff;
    font-size: 13px;
    padding: 10px 7px;
    text-transform: uppercase;
}
.header nav li:hover{
	background-color: #006866;
}
.header nav li a:hover{
	color: #fff !important;
}
.header nav li.active{
	background-color: #ffde00;
}
.nav_top > ul > li{
	position: relative;
}
.nav_top > ul ul{
	display: none;
}
.nav_top > ul > li:hover ul{
	display: block;
}
.nav_top li ul{
	position: absolute;
	z-index: 10;
	top:32px;
	width: 250px;
	background-color: #09918f;
}
.nav_top li li{
	display: block;
	border-bottom: 1px solid #ccc;
	padding: 0;
}
.nav_top li li a{
	display: block;
	width: 100%;
}
.nav_top li li:hover{
	background-color: #42b3b1;
}
/*---------- End Header ----------*/
/*---------- tool ----------*/
.tool button,
.tool .form-control,
.tool input{
	border-radius: 0;
}
.tool .btn-default{
	border-left: none;
}
.tool > .pull-right input{
	border-right: none;
}
.tool .form-control{
	height: 30px;
}
.tool .btn{
	padding: 4px 10px;
}
.tool ::-webkit-input-placeholder { color: #09918f;}
.tool :-moz-placeholder { /* Firefox 18- */ color: #09918f; }
.tool ::-moz-placeholder { /* Firefox 19+ */ color: #09918f; }
.tool :-ms-input-placeholder { color: #09918f; }

.tool option{
	color: #09918f;
}

/*---------- End tool ----------*/
/*---------- news-big ----------*/

.news-big img{
	width: 100%;
}
.news-big h3{
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}
.news-big h3 a{
	color: #121212;
}
.news-big h3:hover a{
	color: #09918f !important;
	transition: all ease 0.3s;
}
.tabs-news{
	border-bottom: 1px solid #ccc;
}
.tabs-news li {
    display: inline-block;
    padding: 2px 0 0px 0;
    margin: 0;
}
.tabs-news li:hover,
.tabs-news li.active{
	background-color: #ffde00;
	transition: all ease 0.5s;
}
.tabs-news a{
	font-size: 17px;
	color: #09918f;
	font-weight: bold;
	padding: 10px;
}
.news-list{

}
.news-list li{
	padding: 10px 0 10px 10px;
	border-bottom: 1px solid #ccc;
	line-height: 16px;
	background: url("../images/ico-li.jpg") no-repeat left 16px;
}
.news-list li a{
	color: #121212;
}
.box-news li{
	line-height: 16px;
}
.box-news li img{
	width: 100%;
}
.box-news li a{
	font-weight: bold;
	color: #121212;
}
.box-news li a span{
	display: inline-block;
}
.bnr-slider .carousel-indicators{
	text-align: right;
	margin-left: 0;
	width: 100%;
	left: 0;
	padding-right: 30px;
	bottom: 0;
}
.bnr-slider .carousel-indicators .active{
	background-color: #ffde00;
}
.box-item img{
	width: 100%;
}
.box-item h3{
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}
.box-item h3 a{
	color: #121212;
}
.item-news-list{
	margin-top: 15px;
}
.item-news-list li{
	border-top: 1px dashed #ccc;
	padding: 10px 0;
}
.item-news-list li a{
	font-weight: bold;
	color: #121212;
}
.news-general .news-list li{
	border-bottom: none;
}
.library .tabs-news{
	text-transform: uppercase;
}
.library-list a{
	display: block;
}
.library-list li{
	padding: 10px 0 5px 0;
}
.library-list li img{
	width: 100%;
}
/*---------- End news-big ----------*/
/*---------- Side bar ----------*/
.box-cm{
	background-color: #f2f2f3;
	padding-bottom: 20px;
}
.box-cm li{
	padding: 6px 5px 7px 27px;
	background: url(../images/icon-li.png) no-repeat 10px 13px;
}
.box-cm li a{
	color: #121212;
	font-weight: bold;
}
.link li{
	margin: 5px 0 3px 0;
	border-bottom: 1px solid #09918f;
}
.link li:nth-child(3){
	background: url("../images/ico-document02.png") no-repeat left center;
	padding: 10px 0 10px 45px;
}
.link li:nth-child(2){
	background: url("../images/ico-noibo.png") no-repeat left center;
	padding: 5px 0 6px 45px;
}
.link li:nth-child(1){
	background: url("../images/ico-singin.png") no-repeat left center;
	padding: 11px 0 7px 45px;
	border-top: 1px solid #09918f;
	margin-top: 20px;
}
.link li a{
	color: #000;
	font-size: 17px;
}
.video{
	background-color: #f2f2f2;
}
.video h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #03849d;
    background: url(../images/ico-video.png) no-repeat 5px center #ffde00;
    padding: 10px 0 5px 40px;
    margin: 0;
}
.video p{
	padding: 5px 10px 10px 10px;
	font-weight: bold;
}
.rate{

}
.rate-title{
	font-size: 18px;
	text-transform: uppercase;
	color: #121212;
	border-bottom:1px solid #03849d;
	display: inline-block;
	margin-top: 0;
}
.rate > div:nth-child(1) .rate-title{
	background: url("../images/ico-rate.png") no-repeat left center;
	padding: 20px 0 5px 45px;
}
.rate > div:nth-child(2) .rate-title{
	background: url("../images/ico-money.png") no-repeat left center;
	padding: 15px 0 10px 50px;
}
.rate table td,
.rate table th,
.rate table tr{
	padding: 5px;
	font-size: 12px;
	text-align: center;
}
.rate .note{
	font-size: 12px;
	color: #ccc;
	font-style: italic;
}
.rate.row{
	margin-left: -5px;
	margin-right: -5px;
}
.rate .col-md-6{
	padding-left: 5px;
	padding-right: 5px;
}

.bnr-link li{
	margin: 8px 0;
}
.bnr-link li img{
	width: 100%;
}
.tags {
	border-top: 1px solid #ccc;
	padding: 20px 0;
}
.tags > ul > li{
	display: inline-block;
	margin-right: 50px;
	float: left;
}
.tags > ul > li:last-child{
	margin-right: 0;
}
.tags > ul li li{
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #03849d;
	padding: 10px 0;
}
.f-nav li{
	border-right:1px solid #ccc;
	padding:0 10px;
	margin-right:0 !important;
}
.f-nav li a{
	font-weight:bold;
	color:#676767;
}
.carousel-control.right,
.carousel-control.left{
	background-image: none;
}
#sidebar-slide a,
#sidebar-slide01 a{
	color: #121212;
}

/*---------- End Side bar ----------*/
/*---------- footer ----------*/
.footer{
	margin-top:30px;
	padding-top:30px;
	border-top:2px solid #03849d;
}
.footer .col-md-12 img{
	float:left;
	width: 11%;
}
.footer .col-md-9 img{
	float:left;
	width: 15%;
}
.footer h2{
	font-size:18px;
	color:#007da1;
	font-weight:bold;
	margin-top:0;
}
.footer .col-md-12 > div{
	display: block;
	width: 89%;
	padding-left: 15px;
	float: right;
}
.footer .col-md-9 > div{
	display: block;
	width: 85%;
	padding-left: 15px;
	float: right;
}
.footer .col-md-9 p,
.footer .col-md-12 p{
	font-size: 13px;
}
.footer .col-md-12 p > span{
	font-weight:bold;
}
.footer .col-md-3 p {
	font-weight:bold;
	color:#007da1;
	text-align:right;
}
.footer .col-md-3 p span{
	display:inline-block;
	padding:0 5px;
	background-color:#fff200;
}
/*------- Document page -------*/
.search{
	width:100%;
	margin:20px 0;
}
.search .btn-search{
	padding:5px 10px 3px 10px;
	font-size:13px;
	font-weight:bold;
	background-color: #fff200;
	color:#337ab7;
	margin-left:5px;
	border:none;
}
.search input{
	height:25px;
	border:1px solid #ccc;
	border-radius: 0;
}
.search .form-inline > .form-group:nth-child(1) input{
	width: 200px;
}
.search .form-inline > .form-group:nth-child(3) input,
.search .form-inline > .form-group:nth-child(2) input{
	width: 125px;
}
.search label{
	font-size: 13px;
	margin-left: 10px;
}
.search .form-group:nth-child(1) label{
	margin-left: 0;
}


.document-table{
	width: 100%;
}
#document table{
	color:#404040;
	width: 100%;
}
#document table th{
	text-align:center;
}
#document table a{
	color:#404040;
}
#document table tr:nth-child(odd){
	background-color:#f5f5f5;
}
#document table tr> td a > img{
	width:100%;
}
#document table, th, td {
	border: 1px solid #d3d3d3;
	border-collapse: collapse;
	padding:10px;
}
.list-page .title3 a{
	display: block;
}
.document-tabs > ul > li{
	display: inline-block;
	float: left;
	margin-right: 30px;
}
.document-tabs li li a{
	font-size: 10px;
	font-weight: bold;
	color: #09918f;
	text-transform: uppercase;
}
.document-tabs li li{
	background: url(../images/ico-document.png) no-repeat left center;
	background-size: 15px;
	padding: 5px 0 5px 20px;
	display: block;
}
.document-tabs > ul > li:last-child{
	margin-right: 0;
}
.document-tabs > ul > li > ul > li{

}
.dropdown ul{
	position: absolute;
	background-color: #5db7b6;
	width: 180px;
	display: none;
}
.dropdown li{
	background: none !important;
	padding: 0 0 0 0 !important;
	border-bottom: 1px solid #ccc;
}
.dropdown li a:hover{
	background-color: #09918f;
}
.dropdown ul a{
	color: #fff !important;
	padding: 7px 15px;
	display: block;
}


/*------- End Document page -------*/
/*------- Audio page -------*/
.audio-list li{
	margin: 20px 0 10px 0;
}
.audio-list li a{
	color: #121212;
}
.audio-list li a span{
	font-weight: bold;
	line-height: 16px;
	display: inline-block;
}
.audio-list li:nth-child(3n+1){
	clear: both;
}
.wrap-audio{
	height: 125px;
	overflow: hidden;
}
/*------- End Audio page -------*/
/*------- Cap 1 page -------*/
.cap1-news h3{
	font-size: 20px;
	font-weight: bold;
}
.cap1-news h3 a{
	color: #121212;
}
.cap1-news-list{
	border-top: 1px solid #09918f;
}
.cap1-news-list li{
	margin: 15px 0;
	clear: both;
}
.cap1-news-list li img{
	float: left;
	padding-right: 20px;
	width: 29%;
}
.cap1-content{
	width: 71%;
	float: right;
}

.cap1-news-list li h3{
	margin-top: 0;
	font-size: 18px;
	font-weight: bold;
}
.cap1-news-list li h3 a{
	color: #121212;
}
.cap1-news-list li span{
	font-size: 13px;
	color: #09918f;
	margin-bottom: 5px;
	display: inline-block;
}
/*------- End Cap 1 page -------*/
/*------- Chi tiet page -------*/
.detail-news img{
	width: 100%;
}
.detail-news h2{
	border-bottom: 1px solid #ccc;
	margin-top: -9px;
}
.detail-news h2 span{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #ffde00;
	color: #03849d;
	padding: 5px 10px 2px 10px;
}
.detail-news h4{
	font-size: 14px;
	line-height: 15px;
	margin-top: 5px;
}
.detail-news h4 a{
	color: #121212;
	line-height: 15px;
	font-weight: bold;
}
.detail-news .news-list li{
	border-bottom: none;
}
.news-date{
	font-size: 9px;
}
.video-page > h4,
.library-img h4,
.detail-content > h3{
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
}
.detail-content > h3{
	font-size: 20px;
}
.library-img img,
.detail-content img{
	max-width: 100%;
	margin: 0 auto;
}
.text-bold{
	font-weight: bold;
}
.detail-link{
	text-align: right;
}
.detail-link li{
	display: inline-block;
}
.detail-link li a{
	color: #9d9d9d;
}
.comment{
	border-top: 1px solid #05a8a6;
	margin-top: 20px;
	padding-top: 15px;
}
.comment .form-control{
	border-radius: 0;
}
.comment-list h3{
	font-size: 12px;
	border-bottom: 1px solid #03849d;
	padding-bottom: 5px;
}
.news-other .title-blue{
	font-size: 15px;
	border-bottom: none;
	margin-bottom: 0;
}
.news-other .news-list li{
	border-bottom: none;
	padding: 7px 0 7px 10px;
	background: url(../images/ico-li.jpg) no-repeat left 13px;
}
/*------- End Chi tiet page -------*/
/*------- Thu vien hinh anh page -------*/
.video-list.box-news li,
.library-img .box-news li{
	margin-top: 20px;
}
.video-list.box-news li:nth-child(3n+1),
.library-img .box-news li:nth-child(3n+1){
	clear: both;
}
.library-img img{
	width: 100%;
}
/*------- End Thu vien hinh anh page -------*/
.m-logo{
	width: 75%;
}
.nav-mobile{
	background: url(../images/bnr-top.png) no-repeat right top;
	padding: 10px 0;
	background-size: auto 100%;
	border-bottom: 2px solid #09918f;
}
.mm-title{
	display: none;
}
.mm-listview a{
	color: #fff;
	font-weight: bold;
	padding: 10px 0;
	border-bottom: 1px solid #8abebd;
	display: block;
}
#menu{
	background-color: #09918f;
}
#menu a{
	color: #fff;
	text-transform: uppercase;
}

#flexiselDemo1,
#flexiselDemo2,
#flexiselDemo3 {
	display:none;
}
.nbs-flexisel-container {
	position:relative;
	max-width:100%;
	margin-top:20px;
}
.nbs-flexisel-ul {
	position:relative;
	width:9999px;
	margin:0px;
	padding:0px;
	list-style-type:none;
	text-align:center;
}
.nbs-flexisel-inner {
	overflow:hidden;
	float:left;
	width:100%;
}
.nbs-flexisel-item {
	float:left;
	margin:0px;
	padding:0px;
	cursor:pointer;
	position:relative;
	line-height:0px;
}
.nbs-flexisel-item img {
	width: 90%;
	cursor: pointer;
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
}
/*** Navigation ***/
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
	width: 30px;
	height: 150px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	opacity: 0.4;
}
.nbs-flexisel-nav-left {
	left: 0px;
	background: url(../images/perv.png) no-repeat left center;
	background-size:100%;
}
.nbs-flexisel-nav-right {
	right: 0px;
	background: url(../images/next.png) no-repeat left center;
	background-size:100%;
}
.nbs-flexisel-nav-left:hover,
.nbs-flexisel-nav-right:hover{
	opacity: 1;
	transition: all ease 0.3s;
}
.block_mobile,
.block-sm{
	display: none;
}

.total-view{
	background-color:#5a5a5a;
    padding: 15px 0;
	text-align: right;
	margin-top:20px;
	color:#fff;
}
.total-view span{
	color:#fff;
	font-weight:bold;
	display:inline-block;
}
.total-view02 ul,
.total-view02 ul li,
.total-view ul,
.total-view ul li{
	display:inline-block;
}
.total-view02 ul li,
.total-view ul li{
	color:#fff;
	padding:0 5px;
	background: #dadada; 
	background: linear-gradient(#f6f6f6, #dadada);
	color:#121212;
	font-weight:bold;
}
.total-view02{
	background: #8e8e8e;
    padding: 8px 6px;
}
.total-view02 span{
	color:#fff;
	font-weight:bold;
}
.total-view02 ul li{
	padding:0 3px;
}


/*---------- End footer ----------*/
/*--------- Tool mobile ------------*/
.tool_mobile{
	position: relative;
	display:none;
	background-color: #09918f;
	margin-bottom: 10px;
}
.tool_mobile ul{
	float: right;
}
.tool_mobile ul li{
	float: left;
	border-left: 1px solid #ccc;
}
.tool_mobile ul li:nth-child(1){
	padding: 0 5px;
	border-left: 0;
}
.tool_mobile .date{
	display: inline-block;
	font-size: 12px;
	color: #fff;
	margin: 8px 0 0 5px;
}
.search_m{
	position:relative;
	float:right;
	height:32px;
	width: 30px;
	overflow:hidden;
}
.search_m a img{
	margin-top:-3px;
}
.search_m > a{
	float: right;
	overflow: hidden;
	border: 1px solid #d1d1d1;
	border-radius: 50%;
	width: 23px;
	height: 23px;
	margin: 5px;
}
.search_m > a img{ width:90%;}
.search_m input[type="text"]{
	width:100%;
	height:95%;
	border:1px solid #d1d1d1;
	background-color:#fff;
	padding-left: 5px;

}
.text_m:forcus{box-shadow:0 0 2px #c7fffd;}
.search_m input[type="submit"]{
	font-size: 0;
	position: absolute;
	top: 0;
	right: 0%;
	float: right;
	width: 30px;
	height: 100%;
	background: url(../images/search.png) no-repeat center center;
	border: none;
}
.click{
	background:url("../images/search.png") no-repeat center center #fff;
	background-size: 85%;
}
.submit_m{display:none;}
.text_m{display:none;}

.noibo_link{
/*	height: 40px;
	width: 40px;
	background: url(../images/user-icon.png) no-repeat center center;
	background-size: 55%;*/

}
.mail_link a span,
.noibo_link a span{
	color: #fff;
	padding: 10px;
	font-size: 15px;
}
.noibo_link a{
	display: block;
	height: 100%;
}
.noibo_link:hover{
	opacity:0.8;
}
.mail_link{
/*	height: 40px;
	width: 40px;
	background: url(../images/mail_icon.png) no-repeat center center;
	border-left: 1px solid #d1d1d1;
	background-size: 55%;*/
}
.mail_link a{
	display: block;
	height: 100%;
}
.mail_link:hover{
	opacity:0.8;
}

.info-mobile {
	padding: 10px !important;
	margin-top: -2px !important;
	background-color: #bed6d6;
}
.info-mobile{
	border-bottom: none !important;
}
.info-mobile a{
	color: #007da1 !important;
	text-transform: none !important;
}
.mm-menu > .mm-list:after{
	height:0 !important;
}
.info-mobile p{
	color: #121212;
	font-size: 13px;
}
.info-mobile p span{
	font-weight: bold;
}
.block-xs{
	display:none;
}



@media (max-width:1920px){
	.header{
		background-size: auto 100%;
	}




}
@media (max-width:1170px){
	img{
		max-width: 100%;
	}
	.form-inline .form-group{
		margin: 3px 0;
	}
	.header nav li:nth-child(1){
		display: none;
	}
	.header nav li a{
		padding: 10px 5px;
	}
	.logo img{
		width: 75%;
	}
}
@media (max-width:1080px){
	.header{
		display: none;
	}
	.nav-mobile{
		display: block;
	}
	.header{
		padding: 10px 0;
	}
	.ico-menu{
		position: absolute;
		right: 15px;
		top:5vw;
	}
}
@media (max-width:991px){
	.sidebar > div{
		width: 49%;
		float: left;
	}
	.sidebar > div:nth-child(2n+1){
		clear: both;
	}
	.sidebar > div:nth-child(2n+2){
		float: right;
	}

	.wrap-audio{
		height: auto;
		overflow: hidden;
	}
	.bnr-link{
		display: none;
	}
	.block-sm{
		display: block;
	}
	.rate{
		width: 100% !important;
	}
    .rate table{
	    width: 100%;
    }
	.document{
		height: 310px;
		overflow: auto;
	}


}

@media (max-width:767px){
	.cap1-news-list li img{
		width: 33%;
		padding-right: 15px;
	}
	.cap1-content{
		width: auto;
		float: inherit;
	}
	.cap1-news-list li h3{
		font-size: 16px;
	}
	.comment .form-control{
		margin: 5px 0;
	}
	.library-img h4, .detail-content > h3{
		font-size: 17px;
	}
	.search .form-inline .form-group{
		float: left;
	}
    .search .form-inline .form-group{
	    width: 100%;
	    float: left;
    }
	.search .form-inline .form-group input{
		width: 80% !important;
	}
	.search .form-inline .form-group label{
		width: 20%;
		float: left;
		padding-right: 20px;
		margin-left: 0;
	}
	.search .btn-search{
		margin-top: 10px;
	}
	.hidden-xs{
		display:block !important;
	}
}

@media (max-width: 480px){
	.hidden-xs{
		display:none !important;
	}
	.block-xs{
		display:block;
	}
	.audio-list li:nth-child(3n+1){
		clear: inherit;
		float: left;
	}
	.audio-list li:nth-child(2n+1){
		clear: both;
	}
	.cap1-news-list li img{
		width: 40%;
	}
	.cap1-news-list li h3{
		font-size: 15px;
	}
	.detail-news{
		display: none;
	}
	.video-list.box-news li:nth-child(3n+1),
	.library-img .box-news li:nth-child(3n+1){
		clear: inherit;
		float: left;
	}
	.video-list.box-news li:nth-child(2n+1),
	.library-img .box-news li:nth-child(2n+1){
		clear: both;
	}
	.pagination li{
		margin-bottom: 5px;
	}
	.video-page iframe{
		height: 250px;
	}
	.search .form-inline .form-group input{
		width: 70% !important;
	}
	.search .form-inline .form-group label{
		width: 30%;
	}
	.document-tabs > ul > li{
		margin-right: 10px;
	}
	.sidebar > div{
		width: 100%;
		margin: 8px 0;
	}
	.document{
		height: auto;
	}
    .rate .col-xs-6{
	    width: 100%;
    }
	.tags-list > li{
		width: 100%;
		margin-right: 0;
	}
	.footer{
		text-align: center;
		padding-top: 15px;
	}
	.footer .col-md-9 > div,
	.footer .col-md-12 > div{
		width: 100%;
	}
	.footer .col-md-9 img,
	.footer .col-md-12 img{
		width: auto;
		display: block;
		margin: 0 auto;
		float: initial;
	}
	.add-content,
	.hidden_mobile,
	.tool,
	.link,
	.tags{
		display: none;
	}
	.block_mobile{
		display: block;
	}
	.title-blue{
		font-size: 16px;
	}
	.total-view .pull-left{
	    text-align: center;
		width: 100%;
		margin-bottom: 10px;
	}
	.total-view .pull-right{
		text-align:center;
	}
	.box-news li.col-xs-12{
		margin-bottom:15px;
	}
	.box-news li.col-xs-12 img{
		width:33%;
		float:left;
	}
	.box-news li.col-xs-12 a span{
		width:66%;
		padding-left:10px;
		margin-top:0;
		font-weight: normal;
	}
}




















