body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.pagination li a.active, .pagination li a:hover, .pagination li:hover{
    background: #337ab7;
    color: #fff;
}
a.link-grant, a.link-grant > fa {
color: #ffffff;
padding: 5px 7px;
background-color: #0094ff;
}
a.link-edit, a.link-edit > fa {
color: #ffffff;
padding: 5px 6px 5px 5px;
background-color: #ffac29;
}
a.link-delete {
padding: 5px 7px;
color: #fff;
background-color: #ca3a28;
}

#txtIconSrc, #txtCoverImg, #SrcImgLeft, #SrcImgRight{float:left;margin:0}
a.link-delete:hover, a.link-hover > fa:hover,a.link-edit:hover, a.link-edit > fa:hover,a.link-grant:hover, a.link-grant > fa:hover  {
    color : #ffffff !important;
}
#dataTables > thead > th, #dataTables > tbody > tr {
    text-align:center;
}
#dataTables > tbody > tr > td.functionName {
    text-align : left;
}

#dataTables .left {
    text-align : left;
    margin-left: 10px;
}
#dataTables .left .ckb_channel {
    margin: 0 10px;
}

#dataTables .left a:hover {
    text-decoration: underline;
}

#dataTables .right {
    text-align : right;
}
#dataTables tr th{text-align : center;}
.display-hide{
    display : none;
}
.nopadding {
    padding : 0 !important;
}
a.panel_collapse{
    clear : both;
    display : inherit;
    padding : 0;
}
.panel-title a.panel_collapse:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: #fff;
}
#FunctionPartial .panel-heading{
    position:relative;
}
#FunctionPartial .panel-title .link-edit{
    position:absolute;
        top: 3px;
    right: 80px;
}
#FunctionPartial .panel-title .link-delete{
        position: absolute;
    top: 3px;
    right: 45px;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
.panel-footer .submit{text-align:center}
#datetimeFromDate .form-control, #datetimeToDate .form-control{
    display: table-cell;
    float: left;
width: 100%;
margin-bottom: 0;
border-bottom-right-radius:0;
border-top-right-radius:0;
}
#datetimeFromDate ,#datetimeToDate {
    position: relative;
    display: table;
    border-collapse: separate;
}
#datetimeFromDate .form-control-feedback, #datetimeToDate .form-control-feedback{
    right:20% !important;
}
#ErrorlogPartial table#dataTables{
    table-layout: auto;
}
a.link-success {
color: #ffffff;
padding: 5px 7px;
background-color: #00C24C;
}
#form label{white-space : nowrap;    float: left;
    margin: 5px 0 5px 10px;color: #337ab7;}
.navbar-fixed-top .top {
  height: 4px;
  margin: 0;
  background-color: #0188d7;
}
.navbar-header{
    padding: 7px 18px;
}
#cbxIsActive, #cbxIsDisplay{margin:0}
.submit{text-align:center}
#FunctionPartial .panel-heading{background-color: #1C6373;color:#fff}
.text-info{
    float: left; margin: 5px 0 0 10px; width:80px
}
.dropdown-menu i.fa{
    margin-right:5px;
}
a.ReportNRU{cursor:pointer}
/*#page-wrapper{width:100%}*/
.well{    padding: 5px 0 5px 10px;
    text-align: left;}

#dataTables td{white-space:normal}

.visible-ie9 {
    display: none;
}
.visible-ie8 {
    display: none;
}
.login .content .input-icon {
    border-left: 2px solid #35aa47 !important;
}
.input-icon {
    position: relative;
        width: 70%;
    /*margin-left: 25px;*/
}
.input-icon > i {
    color: #ccc;
    display: block;
    position: absolute;
    margin: 11px 2px 4px 10px;
    z-index: 3;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}
.login .content .input-icon .form-control {
    border-left: 0;
}
.input-icon > .form-control {
    /*padding-left: 33px;*/
}
.login .content {
    background-color: #fff;
    width: 420px;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 0;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 15px;
}
button.btn-sm{
    border-radius: 0;
    border-width: 0;
    padding: 7px 14px;
    font-size: 14px;

}
.btn-sm.btn-success{
        background: #35aa47;
    color: #fff;
}
.input-icon .form-control-feedback{
    top:-10px !important;
}
.login .logo {
    margin: 0 auto;
    text-align: center;
}
li.dropdown-user .dropdown-toggle > img {
    float: left;
    margin-top: -5px;
    margin-right: 5px;
    height: 29px;
    display: inline-block;
}
.navbar-right li.dropdown-user .dropdown-toggle .username {
    color: #fff ;
}
.navbar-right li.dropdown-user .dropdown-toggle > .username {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
}
.navbar-right  li.dropdown {
    margin: 0px;
    padding: 0px 4px;
    height: 46px;
    display: inline-block;
}
.navbar-right li.dropdown-user .dropdown-toggle {
    padding: 14px 6px 12px 8px;
}
.img-circle {
    border-radius: 50% !important;
}
.navbar-right .dropdown-menu {
    top: 40px;
}
.modal.in .modal-dialog{
    z-index:9999;
}

.navbar-nav > li > .dropdown-menu, .open>.dropdown-menu{padding:0}
.dropdown-menu>li>a{padding:5px 20px 5px 5px;}


/* Bo sung */
.fa-ban {
    color:#EC1E1E !important;
}

.fa-ban:hover {
    color:#D63333 !important;
}

.fa-check {
    color:green !important;
}

.fa-check:hover {
    color:#167116 !important;
}