*{
	margin:0 auto;
	padding:0;
}
ul{
	list-style:none;
}
ul,li{
	margin:0;
	padding:0;
}
img{
	border:0;
}
a,
a:hover{
	text-decoration:none;
}
a:hover{
	color:#003de5;
	transition:all ease 0.3s;
}
.container-fluid,.container{
	padding-right:0;
	padding-left:0;
}
.container{
	width:1000px;
}
div,p,ul,li{
  margin: 0;
  padding: 0;
}
/*--------- Go to top --------------*/
#top_gototop{
	position: fixed;
	bottom: 90px;
	right: 20px;
	opacity:1;
}
#top_gototop:hover{
	opacity:0.7;
}
#top_gototop{
	width:50px;
  height: 50px;
  border-radius: 50%;
  border:1px solid #333;
  background: url("../images/icon-link.png") no-repeat center center;
  transform: rotate(-90deg);
}	
.mt30{
	margin-top: 30px;
}
.mt10{
	 margin-top: 10px;
 }
.mt20{
	margin-top:20px;
}
.mt5{
	margin-top: 5px;
}
.pt30{
	padding-top:30px;
}
.pt20{
	padding-top: 20px;
}
.pl0{
	padding-left: 0 !important;
}
.pr0{
	padding-right: 0 !important;
}
















