.phantrang { padding: 10px 0 20px 0; }

    .phantrang li { float: left; margin-right: 7px; }

        .phantrang li a { display: inline-block; border: 1px solid #ccc; padding: 4px 8px; color: #000; font-weight: bold; }

            .phantrang li a:hover { background: #d2d2d7; }

            .phantrang li a.fix { background: #d2d2d7; }

.giaoluu { margin: 20px 0; float: left; width: 680px; }

.date { padding: 10px; font: normal 12px Arial, Helvetica, sans-serif; color: #999; }

.tennghoi { font-weight: bold; margin-bottom: 10px; padding: 10px 0 5px 0; border-bottom: dotted 1px #CCC; }

.traloi { padding: 10px 0; }

.dangky_form { font: 13px normal Arial, Helvetica, sans-serif; padding: 4px; border: solid 1px #CCC; }

.t_dangky { font: normal 14px Arial, Helvetica, sans-serif; padding: 4px; color: #000; }

.phantrang { text-align: center; padding: 10px 0 0 0; }

    .phantrang a { display: inline-block; padding: 1px 5px; border: 1px solid #8b8a8a; color: #344952; margin-right: 3px; text-decoration: none; }

        .phantrang a:hover { border: 1px solid #1196de; color: #009bda; }

        .phantrang a.pt, .phantrang a.chon { border: 1px solid #009bda; color: #009bda; }

.online-name { font-weight: bold; }

.online-reader { font-weight: bold; }


.giaoluubox { position: relative; height: 400px; margin-bottom: 15px; }

    .giaoluubox .giaoluu_image { }

    .giaoluubox .giaoluu_content { position: absolute; left: 0px; background: url('images/mo.png') repeat; bottom: 2px; padding: 4px; color: #fff; }

        .giaoluubox .giaoluu_content b { line-height: 24px; font-size: 18px; }
        .giaoluubox .giaoluu_content span { padding: 5px 0px; line-height: 22px; }
.fieldQuestion { border: 1px solid gray; font-weight: bold; padding: 10px 10px 0px 15px; font-size: 16px; border-radius: 6px; }
