.intro table ,.intro img{
        max-width: 739px !important;
    }
#NewsContent img, #NewsContent table {
        max-width: 560px;
		
    }

#NewsContent p,#NewsContent div,#NewsContent span {
    margin: 1em 0;
}
.dvtinlienquan a {
    text-decoration: none;
    line-height: 23px;
}
.title-blue a {
    color: #09918f
}
.chum_anhlist {
    margin-left: 40px;
    width: 100%;
}
.chum_anh {
    border: 1px solid #666;
    float: left;
    margin-right: 10px;
    /*margin-top: 7px;*/
    opacity: 1;
    padding: 3px;
}
#lightbox-container-image-data-box {
    box-sizing: content-box !important;
}
.document-attach{
	margin-bottom: 20px;
}
.document-attach ul.list li{
	background: url(../images/icon-attach.png) no-repeat left 4px #fff !important;
	background-size: 16px !important;
	padding: 3px 0 4px 25px;
}
.document-attach ul.list li a{
	font-size: 12px;
}
.document-attach ul.list{
	width: 100%;
	padding: 8px 0 5px 17px;
}
.icon-attach{
	width: 30px;
	height: 30px;
	/* border:1px solid red; */
	display: block;
	float: left;
	border-radius: 50%;
	background: url("../images/icon-attach.png") no-repeat center center #fff;
	background-size: 77%;
	margin: -1px 10px 4px 5px;
}
.document-attach .bg_org{
	background: #026db4;
	color: #fff;
	line-height: 32px;
	height: 34px;
}
#NewsContent img, #NewsContent table {
    margin: 0px auto !important;
    text-align: center;
    height: auto !important;
}
 #NewsContent table {
     width: auto !important;
 }
@media screen and (max-width: 767px) {
    .chum_anhlist {
    margin-left: 10px;
    
}
    #document table, th, td {
        padding: 0px;
        font-size: 86%;
    }
   #NewsContent img {
       height: auto !important;
   }
    #NewsContent img, #NewsContent table {
        max-width: 360px;
        text-align: center;
    }
	.intro table ,.intro img{
        max-width: 360px !important;
    }

}

@media screen and (max-width: 485px) {
    #NewsContent img, #NewsContent table {
        max-width: 300px;
        text-align: center;

    }
	.intro table ,.intro img{
        max-width: 300px !important;
    }
    .coquan li div
    {
        width:68% !important;
        z-index:999;
    }
}
#menu a,#menu a:hover,#menu a:active {
    color: #fff !important;
    
}
.row.item-cm .box-item:nth-child(2n+1) {
    clear: both;
}
.header {
    background: url(../images/bnr-top.png) no-repeat right top;
    padding-top: 0;
}
/*tet*/
.nav-mobile {
    padding: 0 !important;
}
