.wow:first-child {
	visibility: hidden;
}
.btn-blue{
	background: #58c2d6;
	background: -webkit-linear-gradient(#58c2d6, #007085);
	background: -o-linear-gradient(#58c2d6, #007085);
	background: -moz-linear-gradient(#58c2d6, #007085);
	background: linear-gradient(#58c2d6, #007085);
	color: #fff;
}
.blue-box{
    background: #3387c4;
    border-radius: 26px;
    padding: 35px 60px;
    width: 700px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.blue-box lable{
    font-family: 'robotoslab';
    font-size: 19px;
    color: #fff;
    padding-right: 15px;
}
.btn-cm{
    font-size: 23px;
    font-family: 'lobster';
    color: #fff;
    padding: 8px 35px;
    background: url("../images/bg-btn.svg") no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
}
/*----------- Steep 1 page ----------*/
.wrap-content{
    height: calc(100% - 200px);
    overflow: auto;
    padding-bottom: 100px;
}
.time{
    font-family: 'robotoslab';
    color: #377EC1;
    background: url("../images/icon-clock.svg") no-repeat left center;
    padding-left: 37px;
    background-size: 25px;
    font-size: 30px;
    display: inline-block;
}
.form-control{
    border-radius: 12px;
}
.form-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-control{
    width: 440px;
    max-width: 100%;
}
.b1-content{
	padding-top: 100px;
}
.b1-content .form-group{
	float: inherit;
}
.b2-content h2,
.b1-content h2{
	font-family: 'opensan';
	font-size: 43px;
	color: #00a1b9;
	text-shadow: 1px 0 1px rgba(0,0,0,0.7);
}
.b2-content .text-orange,
.b1-content .text-orange{
	font-style: italic;
	font-size: 20px;
	margin: 10px 0 30px 0;
}
@media(max-width:991px){
    .b1-content {
        padding-top: 30px;
    }
}
@media(max-width:767px){
    .time{
        font-size: 22px;
    }
    .blue-box{
        padding: 30px 15px;
    }
    .form-box{
        display: block;
        text-align: left;
    }
    .blue-box .form-box lable,
    .blue-box .form-box input{
        width: 100%;
        display: block;
    }
    .blue-box .form-box lable{
        margin-bottom: 10px;
        font-size: 17px;
    }
    .btn-cm{
        font-size: 20px;
    }
}
/*----------- End Steep 1 page ----------*/
/*----------- Steep 2 page ----------*/
.b2-content{
	padding-top: 50px;
}
.b2-content .bg-white{
	padding: 20px;
	float: inherit;
}
.b2-tbl{
    width: 100%;
}
.b2-tbl,
.b2-tbl tr,
.b2-tbl td{
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}
@media(max-width:767px){
    .b2-tbl td{
        display: block;
    }
    .b2-tbl .form-control{
        width: 100%;
    }
}
/*----------- End Steep 2 page ----------*/
/*----------- top page ----------*/
.banner{
	width: 100%;
}
.banner img{
	width: 100%;
}
.gift li{
	margin-top: 10px;
	clear: both;
}
.gift li img{
	margin: 0 15px 5px 0;
}
.gift li .text-orange{
	font-style: italic;
}
.b3-list{
    padding-top: 50px;
}
.itemcm{
    width: 100%;   
    padding-left: 15px;
    padding-right: 15px;
}
.itemcm:after{
    content: '';
    display: block;
    clear: both;
}
.itemcm > div{
    background: #fdf7f5;
    border-top: 2px solid #45479b;
    border-bottom: 2px solid #45479b;
    margin: 0 auto;
    padding: 0 10px 20px 10px;
}
.itemcm ul li p{
    color: #317ec2;
    font-size: 17px;
    margin: 0;
}
.info-list li{
    text-align: left;
    border-top:1px solid #47499c;
    padding: 10px 15px;
}
.itemcm h3{
    font-size: 30px;
    color: #1050a0;
    text-align: center;
    font-family: 'lobster';
}
.btn-result{
    display: inline-block;
    padding: 5px 20px;
    border-radius: 14px;
    font-family: 'lobster';
    color: #fff;
    font-size: 22px;
    background: #f8991c;
    margin-top: 10px;
}
@media(min-width:1024px){
    .itemcm{
        width: 32%;
        float: left;    
        position: relative;
        padding-left: 45px;
        padding-right: 45px;
    }
    .item01{
        width: 36%;
    }
    .itemcm > div{
        background: #fdf7f5;
        border-top: 2px solid #45479b;
        border-bottom: 2px solid #45479b;
        margin: 0 auto;
        padding: 0 0 20px 10px;
    }
    .itemcm > div:before{
        content: '';
        display: block;
        width: 45px;
        height: 100%;
        background: url(../images/bg-item-right.jpg) no-repeat left center;
        position: absolute;
        left: 0px;
        top: 0;
        background-size: 100% 102%;
        z-index: -1;
        border-top: 2px solid #43489a;
        border-bottom: 2px solid #43489a;
    }
    .itemcm > div:after{
        content: '';
        display: block;
        width: 45px;
        height: 100%;
        background: url("../images/bg-item-left.jpg") no-repeat left center;
        position: absolute;
        right: 0;
        top:0;
        z-index: -1;
        background-size: 100% 100%;
    }
    .item01{
        padding-left: 110px;
    }
    .item01 > div:before{
        width: 110px;
        background: url(../images/bg-item-left-02.jpg) no-repeat left center;
        background-size: 100% 102%;
    }
}
@media(min-width:767px){
    .itemcm{
        width: 33.333%;
        float: left;    
    }
}
@media(max-width:767px){
    .itemcm{
        margin-bottom: 30px;
    }
}
/*----------- End top page ----------*/
/*----------- Steep 4 page ----------*/
.test-name{
	background: rgb(183,181,218);
background: linear-gradient(90deg, rgba(183,181,218,1) 0%, rgba(51,127,194,1) 100%);
}
.test-name h2{
	font-size: 19px;
	font-family: 'opensan';
	color: #fff;
	padding: 10px 15px;
	margin: 0 auto;
}
.total-question{
	vertical-align: middle;
}
.time-ico{
	width: 20px;
	height: 25px;
	background: url(../images/ico-clock.png) no-repeat left center;
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
}
.btn-danger{
	background-color: #ed1c24;
}
.b4-content > .pull-right .text-bold{
	font-size: 20px;
	margin-left: 5px;
}
.b4-content h3{
	font-size: 20px;
	font-weight: bold;
}
.answer{
	padding-left: 50px;
}
.answer input{
	margin-right: 10px;
}
.answer label{
	font-weight: normal;
}
.b4-content .btn-warning .glyphicon{
	font-size: 12px;
	margin-left: 5px;
}
/*----------- End Steep 4 page ----------*/
/*----------- Steep 5 page ----------*/
.b5-content h3{
	text-transform: uppercase;
}
.btn-list li{
	display: inline-block;
	margin: 5px 10px;
}
.btn-share{
	padding: 6px 15px 6px 45px;
	background: url(../images/ico-share.png) no-repeat 10px center #4964b9;
	color: #fff;
	font-weight: bold;
	background-size: 26px;
}
.b5-content .btn-link{
	text-decoration: underline;
	color: #1766e9;
}
/*----------- End Steep 5 page ----------*/
/*----------- result page ----------*/
.result-content h3{
	font-size: 20px;
	color: #3580c2;
}
.result-content .table thead{
	background-color: #6794cb;
}
.result-content .table thead th{
	text-align: center;
	color: #fff;
}
.week li{
	display: inline-block;
	padding: 5px 0;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.week li:first-child{
	border-left: 1px solid #ccc;
}
.week li:hover,
.week li.active{
	background-color: #125b9d;
	transition:  all ease 0.3s;
}
.week li:hover a{
	color: #fff !important;
}
.week li a{
	color: #fff;
	font-size: 17px;
	
	text-transform: uppercase;
	padding: 5px 30px;
}
.tbl-ketqua{
    margin-left: auto;
    margin-right: auto;
}
.tbl-ketqua,
.tbl-ketqua tr,
.tbl-ketqua th,
.tbl-ketqua td{
    border-collapse: collapse;
    padding: 10px 20px;
    border:1px solid #d1d1d1;
    text-align: center;
}


/*----------- End result page ----------*/
/*----------- Bai Viet page ----------*/
.name-post{
	margin-top: 0;
}
.post-content img{
	max-width: 100%;
	margin: 10px auto;
	display: block;
}
.other-new-title{
	text-transform: uppercase;
	font-weight: bold;
	color: #ec9000;
	font-size: 18px;
	border-bottom: 1px solid #1a7c76;
	margin-bottom: 0;
}
.other-new-title p{
	display: inline-block;
	border-bottom: 2px solid #ec9000;
	padding-bottom: 5px;
	margin: 0;
}
.other-news ul li{
	border-bottom: 1px solid #cccccc;
	padding: 15px 5px;
}
.other-news ul li:hover{
	background-color:#f1f1f1;
	transition:all ease 0.3s;
}
.other-news ul li a{
	color: #121212;
	line-height: 16px;
}
.other-news ul li img{
	width: 35%;
	padding-right: 15px;
}
.other-news ul li a div p{
	font-weight: bold;
}
.other-news ul li a .text-orange{
	font-size: 13px;
}

.news-list{
	padding:20px 0;
}
.news-list li{
	margin: 15px 0;
}
.news-list li img{
	width: 100%;
}
.news-list li h3{
	font-size: 15px;
	margin-top: 10px;
}
.news-list li a{
	color:#121212;
}
.news-list li:nth-child(4n+1){
	clear: both;
}
.news-big{
	padding:20px 0;
}
.news-big img{
	width: 100%;
}

/*----------- End Bai Viet page ----------*/

@media (max-width: 1900px) {
	.banner{
		background-size:auto 100%;
	}
	.banner .container img{
		width:61%;
	}
}

@media (max-width: 1400px) {
	.banner .container img {
		width: 53%;
	}
}
@media (max-width: 1170px) {
	.banner .container img {
		width: 51.7%;
	}
}
@media (max-width: 991px) {
	.testname{
		font-size:25px;
	}
	.bnr-content h2{
		font-size: 40px;
		line-height: 40px;
	}
	.bnr-content {
		margin-top: 50px;
		margin-left: 0;
	}
	.bnr-content p {
		font-size: 20px;
	}

	.other-news ul li{
		width: 48%;
		float: left;
	}
	.other-news ul li:nth-child(2n+1){
		clear: both;
	}
	.other-news ul li:nth-child(2n){
		float: right;
	}
}

@media (max-width: 767px) {
	.maincontent {
		padding: 10px 0;
	}
	.testname {
		font-size: 20px;
	}
	.b2-content h2,
	.b1-content h2{
		font-size: 5vw;
	}
	.b2-content .text-orange,
	.b1-content .text-orange{
		font-size: 17px;
	}
	.b2-content .form-horizontal{
		text-align: left;
	}
	.week li a{
		padding: 5px 23px;
	}
	.week li{
		width: 25%;
		display: block;
		float: left;
		border-right: 1px solid #ccc;
	}
	.week li a{
		padding: 3px;
		text-align: center;
		display: block;
	}
	.week li:nth-child(4n+1){
		border-left: 1px solid #ccc;
	}
	.bnr-content h2 {
		font-size: 28px;
		line-height: 28px;
	}
	.bnr-content {
		margin-top: 10px;
	}

	.bnr-content p {
		font-size: 17px;
	}
	.item-list .item:nth-child(3n+1){
		clear: inherit;
		float: left;
	}
	.item-list .item:nth-child(2n+1){
		clear: both;
	}
	.news-list li:nth-child(4n+1){
		clear: inherit;
		float: left;
	}
	.news-list li:nth-child(2n+1){
		clear: both;
	}
}
@media (max-width: 480px) {
	.other-news ul li{
		width: 100%;
	}
	.b2-content h2 ,
	.b1-content h2 {
		font-size: 6vw;
	}
	.answer{
		padding: 0;
	}
    .b4-content .pull-right{
	    float: left !important;
    }
	.b5-content h3{
		font-size: 18px;
	}
	.btn-list li{
		margin: 5px 5px;
	}
	.item-list .col-xs-6{
		width: 100%;
	}
	.bnr-content .mt30{
		margin-top: 0;
	}
	.bnr-content h2 {
		font-size: 24px;
		line-height: 24px;
		margin-top: 10px;
	}
	.bnr-content p {
		font-size: 15px;
		line-height: 15px;
	}
	.item > div h3{
		font-size: 15px;
	}
	.item {
		margin: 10px 0;
	}
	.b2-content {
		padding: 20px 0 0 0;
	}
}
@media (max-width: 375px) {
	.bnr-content h2 {
		font-size: 20px;
		line-height: 20px;
	}
}