.dvtinlienquan a{
    text-decoration:none;
    line-height:23px;
    color: #026db4;
}
.document-attach{
	margin-bottom: 20px;
    margin-top: 30px;
}
.document-attach ul.list li{
	background: url(../images/icon-attach.png) no-repeat left 4px #fff !important;
	background-size: 16px !important;
	padding: 3px 0 4px 25px;
}
.document-attach ul.list li a{
	font-size: 12px;
}
.document-attach ul.list{
	width: 100%;
	padding: 8px 0 5px 17px;
}
.icon-attach{
	width: 30px;
	height: 30px;
	/* border:1px solid red; */
	display: block;
	float: left;
	border-radius: 50%;
	background: url("../images/icon-attach.png") no-repeat center center #fff;
	background-size: 77%;
	margin: -1px 10px 4px 5px;
}
.document-attach .bg_org{
	background: #026db4;
	color: #fff;
	line-height: 32px;
	height: 34px;
}
.homedesc {
    height: 68px;
}
.w100 td:first-child{
	width:79px;
}
 #NewsContent img
 {
	 height:auto !important;
 }
#NewsContent p,#NewsContent div {
    margin: 1em 0;
}
@media screen and (max-width: 767px) {


    #NewsContent img, #NewsContent table {
        max-width: 480px;
    }
}

@media screen and (max-width: 485px) {
    #NewsContent img, #NewsContent table {
        max-width: 300px;
    }

    

}
#big-new .carousel-indicators{
 left: initial;
 max-height: 20px;
}
.nav-pc nav > ul > li > a {
	padding: 9px 8px 8px 8px !important;
	
}
